@import "utilities/index";
@import "common/reboot";
@import "common/grid";
@import "pages/index";




body {
    -webkit-font-smoothing: antialiased; 
    text-rendering: optimizeLegibility;
    color: #666;
    font-family: "Microsoft YaHei", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

    background-color: $color-background-shade;
    line-height: 1.8;
    margin: 0;
    
    padding: 0;
}

a {
    background: transparent;
    color: #00A0E9;
    text-decoration: none;
    -webkit-transition: color .2s;
    transition: color .2s;
}

img {
    height: auto;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Microsoft YaHei", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: normal;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

input,textarea,button{
    font-family: "Microsoft YaHei", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

@import "_style.scss";

