{% extends "shared/layout.html" %}
{% block title %} 
 {% if metadata.title %}
     {{metadata.title}}
 {% else %}
    {{page.title}}
 {% endif %}

{% endblock %}
{% block head %}
    {{ parent() }}  
    <meta name="keywords" content="{{metadata.keywords}}">
    <meta name="description" content="{{metadata.description}}">

{% endblock %}
{% block content %}

  <div class="banner banner-about wow fadeInUp" style="background-image:url('{{carousel is not empty ?  carousel.image_url :''}}')">
    <div class="container">
      <h1 class="title-page">党建文化</h1>
     
        {% if(subnavs is not empty) %}
        <nav class="submenus">
            {% for subnav in subnavs %}
                <a class="{{subnav.url == uri or subnav.url == uri ~ '/index'  ? 'active' : '' }}" href="{{subnav.url}}">{{subnav.title}}</a>
            {% endfor %}
        </nav>
        {% endif %}       
        
    </div>
  </div>

 
  <div class="page page-projects page-culture">
    {{page.content|raw }}
    <div class="s2">
      <div class="container">           
        <div class="projectlist">
          <div class="row">
            {% for row in articles %}
              <div class="col-md-6 col-lg-4">
                <a class="item wow fadeInUp" href="{{lang=='zh-CN'?'':'/'~lang}}/culture/detail-{{row.id}}">
                  <img src="/img.php?src={{row.thumbnail}}&amp;w=720&amp;h=480&amp;crop-to-fit" alt="{{row.title}}">
                  <div class="title"> 
                    <h3>{{row.title}}</h3>
                    <time>{{row.pubdate|date('Y-m-d')}}</time>
                  </div>
                </a>
              </div>
            {% endfor %}
            
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block footer %}
    <script>         
      $(function () {
      
      });
    </script>
{% endblock %}