{% extends "shared/layout.html" %}
{% block title %} 
 {% if metadata.title %}
     {{metadata.title}}
 {% else %}
  {{team.name}}
 {% endif %}

{% endblock %}
{% block head %}
    {{ parent() }}  
    <meta name="keywords" content="{{metadata.keywords}}">
    <meta name="description" content="{{metadata.description}}">
{% endblock %}
{% block content %}
    
  {{ include('shared/_subMenus.html') }}

  <div class="page page-academician page-team-detail container">
    <div class="s1">     
      <div class="row align-items-center">
        <div class="col-md-auto">
          <div class="pic"><img src="{{team.photo}}" alt="{{team.name}}"></div>
        </div>
        <div class="col-md">
          <div class="txt">
            <div class="row align-items-center">
              <div class="col-md">
                <h3 class="title">{{team.name}}</h3>
              </div>
              <div class="col-md-auto">
                <div class="post">{{team.post}}</div>
              </div>
            </div>
            <div class="research"> <strong>主要研究方向：</strong>{{team.interests}}</div>
            <div class="row">
              <div class="col-md"> <strong>学历：</strong>{{team.education}}</div>
              <div class="col-md"> <strong>办公室电话：</strong>{{team.office_phone}}</div>
            </div>
            <div class="row">
              <div class="col-md"> <strong>邮箱：</strong>{{team.email}}</div>
              <div class="col-md"> <strong>个人主页：</strong>{{team.homepage}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg"><img src="img/team_03.png" alt=""></div>
    </div>

    {{team.content|raw}}
    
  </div>

{% endblock %}