{% extends "shared/layout.html" %}
{% block title %} 
 {% if metadata.title %}
     {{metadata.title}}
 {% else %}
    {{category}}
 {% endif %}

{% endblock %}
{% block head %}
    {{ parent() }}  
    <meta name="keywords" content="{{metadata.keywords}}">
    <meta name="description" content="{{metadata.description}}">

{% endblock %}
{% block content %}

{{ include('shared/_subMenus.html') }}


  <div class="page page-higher container">
    <div class="s1 section">           
      <div class="title-section">
        <h2 class="text-center">{{category}}</h2>
      </div>
      <div class="eng">
        <a class="{{fl=='A'?'active':''}}" href="{{lang=='zh-CN'?'':'/'~lang}}/team/higher/A">A</a>
        <a class="{{fl=='B'?'active':''}}" href="{{lang=='zh-CN'?'':'/'~lang}}/team/higher/B">B</a>
        <a class="{{fl=='C'?'active':''}}" href="{{lang=='zh-CN'?'':'/'~lang}}/team/higher/C">C</a>
        <a class="{{fl=='D'?'active':''}}" href="{{lang=='zh-CN'?'':'/'~lang}}/team/higher/D">D</a>
        <a class="{{fl=='E'?'active':''}}" href="{{lang=='zh-CN'?'':'/'~lang}}/team/higher/E">E</a>
        <a class="{{fl=='F'?'active':''}}" href="{{lang=='zh-CN'?'':'/'~lang}}/team/higher/F">F</a>
        <a class="{{fl=='G'?'active':''}}" href="{{lang=='zh-CN'?'':'/'~lang}}/team/higher/G">G</a>
        <a class="{{fl=='H'?'active':''}}" href="{{lang=='zh-CN'?'':'/'~lang}}/team/higher/H">H</a>
       
        <a class="{{fl=='I'?'active':''}}" href="{{lang=='zh-CN'?'':'/'~lang}}/team/higher/I">I</a>
        <a class="{{fl=='J'?'active':''}}" href="{{lang=='zh-CN'?'':'/'~lang}}/team/higher/J">J</a>
        <a class="{{fl=='K'?'active':''}}" href="{{lang=='zh-CN'?'':'/'~lang}}/team/higher/K">K</a>
        <a class="{{fl=='L'?'active':''}}" href="{{lang=='zh-CN'?'':'/'~lang}}/team/higher/L">L</a>
        <a class="{{fl=='M'?'active':''}}" href="{{lang=='zh-CN'?'':'/'~lang}}/team/higher/M">M</a>
        <a class="{{fl=='N'?'active':''}}" href="{{lang=='zh-CN'?'':'/'~lang}}/team/higher/N">N</a>
        <a class="{{fl=='O'?'active':''}}" href="{{lang=='zh-CN'?'':'/'~lang}}/team/higher/O">O</a>
        <a class="{{fl=='P'?'active':''}}" href="{{lang=='zh-CN'?'':'/'~lang}}/team/higher/P">P</a>
        <a class="{{fl=='Q'?'active':''}}" href="{{lang=='zh-CN'?'':'/'~lang}}/team/higher/Q">Q</a>
        <a class="{{fl=='R'?'active':''}}" href="{{lang=='zh-CN'?'':'/'~lang}}/team/higher/R">R</a>      
     
        <a class="{{fl=='S'?'active':''}}" href="{{lang=='zh-CN'?'':'/'~lang}}/team/higher/S">S</a>
        <a class="{{fl=='T'?'active':''}}" href="{{lang=='zh-CN'?'':'/'~lang}}/team/higher/T">T</a>
        <a class="{{fl=='U'?'active':''}}" href="{{lang=='zh-CN'?'':'/'~lang}}/team/higher/U">U</a>
        <a class="{{fl=='V'?'active':''}}" href="{{lang=='zh-CN'?'':'/'~lang}}/team/higher/V">V</a>
        <a class="{{fl=='W'?'active':''}}" href="{{lang=='zh-CN'?'':'/'~lang}}/team/higher/W">W</a>
        <a class="{{fl=='X'?'active':''}}" href="{{lang=='zh-CN'?'':'/'~lang}}/team/higher/X">X</a>
        <a class="{{fl=='Y'?'active':''}}" href="{{lang=='zh-CN'?'':'/'~lang}}/team/higher/Y">Y</a>
        <a class="{{fl=='Z'?'active':''}}" href="{{lang=='zh-CN'?'':'/'~lang}}/team/higher/Z">Z</a>

      </div>
      <div class="memberlist">
        <div class="row">
          {% for row in teams %}
            <div class="col-6 col-md-4 col-lg-3"><a class="item" href="/team/detail-{{row.id}}">
              <div class="avatar"><img src="/img.php?src={{row.photo}}&amp;w=500&amp;h=500&amp;crop-to-fit" alt="{{row.name}}"></div>
              <h4>{{row.name}}</h4>
              <div class="post">{{row.post}}</div>
              <div class="school">{{row.school}}</div></a>
            </div>
          {% endfor %}
          

        </div>
      </div>
      <footer class="news-footer wow fadeInUp">
        {% if paginator.numPages > 1 %}
            <ul class="pagination  text-center">
                {% if paginator.prevUrl %}
                    <li class="page-item"><a class="page-link" href="{{ paginator.prevUrl }}">{{resources['上一页']}}</a></li>
                {% endif %}

                {% for page in paginator.pages %}
                    {% if page.url %}
                        <li {{ page.isCurrent ? 'class="page-item active"' : 'page-item' }}><a class="page-link" href="{{ page.url }}">{{ page.num }}</a></li>
                    {% else %}
                        <li class="page-item disabled"><span>{{ page.num }}</span></li>
                    {% endif %}
                {% endfor %}

                {% if paginator.nextUrl %}
                    <li class="page-item"><a class="page-link" href="{{ paginator.nextUrl }}">{{resources['下一页']}}</a></li>
                {% endif %}
            </ul>
        {% endif %}
            
      </footer>

    </div>
  </div>

{% endblock %}

{% block footer %}
    <script>         
      $(function () {
      
      });
    </script>
{% endblock %}