BODY {
	MARGIN: 0px
}
BODY {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 150%; FONT-FAMILY: Verdana, Arial, helvetica, sans-serif
}
DIV {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 150%; FONT-FAMILY: Verdana, Arial, helvetica, sans-serif
}
TD {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 150%; FONT-FAMILY: Verdana, Arial, helvetica, sans-serif
}
TH {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 150%; FONT-FAMILY: Verdana, Arial, helvetica, sans-serif
}
INPUT {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 150%; FONT-FAMILY: Verdana, Arial, helvetica, sans-serif
}
SELECT {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 150%; FONT-FAMILY: Verdana, Arial, helvetica, sans-serif
}
TEXTAREA {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 150%; FONT-FAMILY: Verdana, Arial, helvetica, sans-serif
}
.big {
	FONT-SIZE: 11pt; FONT-FAMILY: Verdana, Arial, helvetica, sans-serif
}
.small {
	FONT-SIZE: 10px; COLOR: #cccccc; FONT-FAMILY: Verdana, Arial, helvetica, sans-serif
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
INPUT.txt {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 2px; BACKGROUND: #ffffff; PADDING-BOTTOM: 2px; BORDER-LEFT: #000000 1px solid; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #000000 1px solid
}
TEXTAREA.txt {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 2px; BACKGROUND: #ffffff; PADDING-BOTTOM: 2px; BORDER-LEFT: #000000 1px solid; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #000000 1px solid
}
INPUT.btn {
	COLOR: #000000; BACKGROUND-COLOR: #cccccc
}
TD.text {
	FONT-SIZE: 10pt; COLOR: #000000; WORD-BREAK: break-all; LINE-HEIGHT: 1.5
}
.td1 {
	BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; BORDER-LEFT: #333333 1px solid; BORDER-BOTTOM: #333333 1px solid; BACKGROUND-COLOR: #f6f6f6
}
.td2 {
	BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; BORDER-LEFT: #333333 1px solid; BORDER-BOTTOM: #333333 1px solid; BACKGROUND-COLOR: #ffffff
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #999999; TEXT-DECORATION: underline
}
A.top:link {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.top:visited {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.top:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.header:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.header:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.header:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.red:link {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.red:visited {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.red:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.white:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.white:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.white:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.gray:link {
	COLOR: #6d6d6d; TEXT-DECORATION: none
}
A.gray:visited {
	COLOR: #6d6d6d; TEXT-DECORATION: none
}
A.gray:hover {
	COLOR: #fe7800; TEXT-DECORATION: underline
}
A.news:link {
	COLOR: #0080c0; TEXT-DECORATION: none
}
A.news:visited {
	COLOR: #0080c0; TEXT-DECORATION: none
}
A.news:hover {
	COLOR: #0080c0; TEXT-DECORATION: underline
}
SPAN.tip {
	FONT-SIZE: 9pt; COLOR: #ff0000; FONT-FAMILY: Verdana, Arial, helvetica, sans-serif
}
DIV.title {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #ff0000; TEXT-ALIGN: center
}
SPAN.title {
	MARGIN-TOP: 8px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #1133bb
}
SPAN.small {
	FONT-SIZE: 6pt; COLOR: #1133bb
}
SPAN.date {
	FONT-SIZE: 7pt; COLOR: #999999
}
SPAN.news {
	COLOR: #ffcc00
}
SPAN.bbs {
	FONT-SIZE: 6pt; COLOR: #ffcc00
}
TABLE.left {
	FONT-SIZE: 9pt; FONT-FAMILY: 宋体; BACKGROUND-COLOR: #cccccc
}
TABLE.left TH {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: 宋体; BACKGROUND-COLOR: #dddddd; TEXT-ALIGN: left
}
TABLE.left TD {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: 宋体; BACKGROUND-COLOR: #f6f6f6
}
TABLE.print {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, helvetica, sans-serif,宋体
}
TABLE.print TH {
	FONT-SIZE: 12pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, helvetica, sans-serif,宋体; TEXT-ALIGN: center
}
TABLE.print TD {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, helvetica, sans-serif,宋体
}
TABLE.print TD.head {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Verdana, Arial, helvetica, sans-serif,宋体; BACKGROUND-COLOR: #ffffec
}
TABLE.print TD.bottom {
	BORDER-TOP: #000000 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, helvetica, sans-serif,宋体; BACKGROUND-COLOR: #ffffec; TEXT-ALIGN: right
}
TABLE.common {
	BORDER-RIGHT: #cccccc 0px solid; BORDER-TOP: #cccccc 0px solid; BORDER-LEFT: #cccccc 0px solid; BORDER-BOTTOM: #cccccc 0px solid; BACKGROUND-COLOR: #ffffff
}
TABLE.common TH {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 10pt; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; BACKGROUND-COLOR: #efefef
}
TABLE.common TD {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 10pt; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; BACKGROUND-COLOR: #efefef
}
TABLE.common TR.tr1 TD {
	COLOR: #000000; WORD-BREAK: keep-all; BACKGROUND-COLOR: #eaeaea
}
TABLE.common TR.tr2 TD {
	COLOR: #000000; WORD-BREAK: keep-all; BACKGROUND-COLOR: #f3f3f3
}
