{% extends "shared/layout.html" %} 
{% block title %}应用领域{% endblock %} 
{% block content %}
<div class="banner">
    <img src="/assets/img/banners/support.png" alt="">
    <div class="title-page title-page-support">
        <div class="txt">
            <h2>TECHNICAL SUPPORT</h2>
            <h3>技术支持</h3>
        </div>
    </div>
</div>
<div class="page page-about page-support">
    <aside class="leftcol">
        <nav>
            <ul class="leftnav">
                <li><a href="/support" class="active">技术支持</a></li>           
            </ul>
        </nav>
    </aside>
    <section class="maincontent">
        <div class="wrap about">
            {{page.content|raw }}
            <!-- <h1 class="title">TECHNICAL SUPPORT</h1>
                <h2 class="title-sub">
                    技术支持
                </h2>
                <p>您在使用格科微产品中遇到任何问题请联系我们，我们有专业的团队会第一时间协助解决您的问题，请按需要联系格科微各地区的销售窗口。</p>
               <p><a href="/about/contact" class="btn btn-primary">联系我们</a></p> -->
        </div>
    </section>
</div>
{% endblock %}