{% extends "shared/layout.html" %}
{% block title %}

  {% if metadata.title %}
    {{metadata.title}}
  {% else %}
    {{article.title}}
  {% endif %}
   
{% endblock %}

{% block head %}
    {{ parent() }}    
    <meta name="keywords" content="{{metadata.keywords}}">
    <meta name="description" content="{{metadata.description}}">
{% endblock %}


{% block content %}
     
{{ include('shared/resourceNav.html') }}
<div class="page page-blog-detail">
    <section class="container">
      <div class="title-blog">
        <h1>{{article.title}}</h1>
      </div>
      <article class="main">
        {{article.content|raw}}
    </article>
    {{ include('shared/quote.html') }}
    </section>
  </div>



    
{% endblock %}