{% extends "shared/layout.html" %}
{% block title %}
    {{article.title}}
{% endblock %}
{% block content %}
     
<div class="page_subnav">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md">
          <div class="title">Resource</div>
        </div>
        <div class="col-md-auto">
          <nav class="subnav"><a href="/resource">Technical Specification</a><a class="active" href="/resource/blog">Blog</a><a href="/resource/gallery">Gallery</a><a href="/resource/faq">FAQs</a></nav>
        </div>
      </div>
    </div>
  </div>
<div class="page page-blog-detail">
    <section class="container">
      <div class="title-blog">
        <h1>{{article.title}}</h1>
      </div>
      <article class="main">
        {{article.content|raw}}
    </article>
    {{ include('shared/quote.html') }}
    </section>
  </div>



    
{% endblock %}