{% extends "shared/layout.html" %}
{% block title %}

  {% if metadata.title %}
    {{metadata.title}}
  {% else %}
    {{article.title}}
  {% endif %}
   
{% endblock %}

{% block head %}
    {{ parent() }}    
    <meta name="keywords" content="{{metadata.keywords}}">
    <meta name="description" content="{{metadata.description}}">
{% endblock %}


{% block content %}
     

<div class="page-news-detail">
    <div class="top_pic wow fadeInUp" style="background-image:url('/assets/img/temp/banner-news.jpg')">
      <header>
        <h1 class="title-news wow fadeInUp">{{article.title}}</h1>
        <time class="wow fadeInUp">{{article.pubdate}}</time>
      </header>
    </div>
    <article class="container">
      <main class="content wow fadeInUp">
        {{article.content|raw}}
      </main>
      <div class="nav-page wow fadeInUp">
        <div class="row no-gutters">
          <div class="col prev">
              {% if prevArticle %}
              <a id="hlPrevious" href="/news/detail-{{prevArticle.id}}"><span class="t1">{{prevArticle.title}}</span><span class="t2">上一篇</span></a>
              {% endif %}
            </div>
          <div class="col-auto back"><a href="/news"><i class="iconfont icon-close1line"></i></a></div>
          <div class="col next">
            {% if nextArticle %}
              <a id="hlNext" href="/news/detail-{{nextArticle.id}}"><span class="t1">{{nextArticle.title}}</span><span class="t2">下一篇</span></a>
              {% endif %}
            </div>
        </div>
      </div>
    </article>
  </div>





    
{% endblock %}