{% extends "shared/layout.html" %}
{% block title %}

  {% if metadata.title %}
    {{metadata.title}}
  {% else %}
    新闻动态
  {% endif %}
   
{% endblock %}
{% block head %}
    {{ parent() }}  
    <meta name="keywords" content="{{metadata.keywords}}">
    <meta name="description" content="{{metadata.description}}">  
 
    <link rel="stylesheet" href="/assets/js/vendor/swiper/css/swiper.min.css">
{% endblock %}
{% block content %}
  
<section class="sliders sliders-news swiper-container wow fadeInUp">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-image:url(/assets/img/temp/slider_n01.jpg);">
        <div class="container txt-news">             <img src="/assets/img/temp/slider_n01_1.png" alt=""></div>
      </div>
      <div class="swiper-slide" style="background-image:url(/assets/img/temp/slider_n01.jpg);">
        <div class="container txt-news">                <img src="/assets/img/temp/slider_n01_1.png" alt=""></div>
      </div>
      <div class="swiper-slide" style="background-image:url(/assets/img/temp/slider_n01.jpg);">
        <div class="container txt-news">               <img src="/assets/img/temp/slider_n01_1.png" alt=""></div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </section>


  <div class="page page-news">    
    <section class="s1 container">
      <div class="row newslist">

        {% for item in news %}            
            <div class="col-4">
                <div class="item"><a class="pic wow fadeInUp" href="/news/detail-{{item.id}}"><img src="{{item.thumbnail}}"></a>
                  <time class="wow fadeInUp">
                    {{item.pubdate|date('j. F Y')}}</time>
                  <h3 class="title wow fadeInUp"><a href="/news/detail-{{item.id}}">{{item.title}}</a></h3>
                  <p class="des wow fadeInUp">{{item.summary}}</p>
                </div>
              </div>
        {% endfor %}   

       
      </div>
    </section>
    <footer class="blog-footer">      
        {% if paginator.numPages > 1 %}
        <ul class="pagination">
            {% if paginator.prevUrl %}
                <li class="page-item"><a class="page-link" href="{{ paginator.prevUrl }}">&laquo;</a></li>
            {% endif %}

            {% for page in paginator.pages %}
                {% if page.url %}
                    <li {{ page.isCurrent ? 'class="page-item active"' : 'page-item' }}><a class="page-link" href="{{ page.url }}">{{ page.num }}</a></li>
                {% else %}
                    <li class="page-item disabled"><span>{{ page.num }}</span></li>
                {% endif %}
            {% endfor %}

            {% if paginator.nextUrl %}
                <li class="page-item"><a class="page-link" href="{{ paginator.nextUrl }}">&raquo;</a></li>
            {% endif %}
        </ul>
    {% endif %}
    </footer>
  </div>

  
{% endblock %}
{% block footer %}
<script src="/assets/js/vendor/swiper/js/swiper.min.js"></script>
    <script>
      var swiper = new Swiper('.sliders', {
          pagination: {
              el: '.swiper-pagination',
              clickable: true
          },
          autoplay: {
              delay: 2500,
              disableOnInteraction: false,
          },
          //- navigation: {
          //-     nextEl: '.swiper-button-next',
          //-     prevEl: '.swiper-button-prev',
          //- },
      });
    </script>
{% endblock %}