{% extends "shared/layout.html" %}
{% block title %}

  {% if metadata.title %}
    {{metadata.title}}
  {% else %}
  News
  {% endif %}
   
{% endblock %}
{% block head %}
    {{ parent() }}  
    <meta name="keywords" content="{{metadata.keywords}}">
    <meta name="description" content="{{metadata.description}}">  
 
    <link rel="stylesheet" href="/assets/js/vendor/swiper/css/swiper.min.css">
{% endblock %}
{% block content %}
  

<div class="page page-news">         
  <nav class="s1 container"> 
    <div class="row align-items-center">
      <div class="col-md">
        <div class="title-section">
          <h2 class="wow fadeInLeft">NEWS</h2>
          <h3 class="wow fadeInRight">动态资讯</h3>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="wow fadeInUp">
          <a class="{{ categoryId is empty ? 'active':''}}" href="/news">所有</a>
          {% for row in categories %}
            <a class="{{ categoryId == row.id ? 'active':''}}" href="/news?cid={{row.id}}">{{row.title}}</a>
          {% endfor %}   
         
        </div>
      </div>
    </div>
  </nav>
  <section class="s2 container">
    <div class="newslist">
      <div class="row">

        {% for item in news %}    
        <div class="col-md-6 col-lg-3">
          <a class="item wow fadeInUp" href="/news/detail-{{item.id}}"><img src="{{item.thumbnail}}">
          <div class="title"> 
            <h3>{{item.title}}</h3>
            <time> <i class="iconfont icon-time"></i>{{item.pubdate|date('Y-m-d')}}</time>
          </div></a></div>
      {% endfor %}  

    
      </div>
    </div>
    <footer class="news-footer wow fadeInUp">
      <!-- <div class="row align-items-center">
        <div class="col">
          <ul class="pagination">                        
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page"><a class="page-link" href="#">2                          </a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
          </ul>
        </div>
        <div class="col-auto"><a class="page-link icon" href="#" tabindex="-1" aria-disabled="true"> <i class="iconfont icon-prev"></i></a><a class="page-link icon" href="#"> <i class="iconfont icon-next"></i></a></div>
      </div> -->
      {% if paginator.numPages > 1 %}
        <ul class="pagination">
            {% if paginator.prevUrl %}
                <li class="page-item"><a class="page-link" href="{{ paginator.prevUrl }}">&laquo;</a></li>
            {% endif %}

            {% for page in paginator.pages %}
                {% if page.url %}
                    <li {{ page.isCurrent ? 'class="page-item active"' : 'page-item' }}><a class="page-link" href="{{ page.url }}">{{ page.num }}</a></li>
                {% else %}
                    <li class="page-item disabled"><span>{{ page.num }}</span></li>
                {% endif %}
            {% endfor %}

            {% if paginator.nextUrl %}
                <li class="page-item"><a class="page-link" href="{{ paginator.nextUrl }}">&raquo;</a></li>
            {% endif %}
        </ul>
    {% endif %}
    </footer>
  </section>
</div>



  
{% endblock %}
{% block footer %}
<script src="/assets/js/vendor/swiper/js/swiper.min.js"></script>
    <script>
      var swiper = new Swiper('.sliders', {
          pagination: {
              el: '.swiper-pagination',
              clickable: true
          },
          autoplay: {
              delay: 2500,
              disableOnInteraction: false,
          },
          //- navigation: {
          //-     nextEl: '.swiper-button-next',
          //-     prevEl: '.swiper-button-prev',
          //- },
      });
    </script>
{% endblock %}