RewriteEngine on                       //on为打开,off为关闭




RewriteRule ^/?([a-z|_|0-9]+)$ /views/$1/index.php [L]

RewriteRule ^art/?([a-z|_|0-9]+)$ /views/art/$1.php [L]
RewriteRule ^career/?([a-z|_|0-9]+)$ /views/career/$1.php [L]
RewriteRule ^nuclear_medicine/?([a-z|_|0-9]+)$ /views/nuclear_medicine/$1.php [L]
RewriteRule ^contact/?([a-z|_|0-9]+)$ /views/contact/$1.php [L]
RewriteRule ^products/?([a-z|_|0-9]+)$ /views/products/$1.php [L]
RewriteRule ^/?([a-z|_|0-9]+)$ $1.php [L]
RewriteRule ^career/salary_and_welfare/detail-([0-9]+)$ /views/career/detail.php?id=$1 

RewriteRule ^news/detail/(.*)$ /views/news/detail.php?id=$1 
RewriteRule ^meeting/detail-(.*)$ /meeting_detail.php?id=$1
RewriteRule ^media-list-(.*)$ /media_list.php?id=$1 
RewriteRule ^media-detail-(.*)$ /media_detail.php?id=$1 
RewriteRule ^cases-detail-(.*)$ /case_detail.php?id=$1 
RewriteRule ^story-detail-(.*)$ /story_detail.php?id=$1 

RewriteRule ^operation-detail-(.*)$ /operation_detail.php?id=$1 
RewriteRule ^events-detail-(.*)$ /event_detail.php?id=$1 
RewriteRule ^creative-detail-(.*)$ /creative_detail.php?id=$1 
RewriteRule ^branch-detail-(.*)$ /branch_detail.php?id=$1 
RewriteRule ^team-detail-(.*)$ /team_detail.php?id=$1 
RewriteRule ^duty-(.*)$ /duty_detail.php?alias=$1 
RewriteRule ^product-list-([0-9]+)$ /products.php?cid=$1 
RewriteRule ^product-detail-(.*)$ /product_detail.php?id=$1 

ErrorDocument 400 /views/error/index.php
ErrorDocument 401 /views/error/index.php
ErrorDocument 403 /views/error/index.php
ErrorDocument 404 /views/error/404.html
ErrorDocument 405 /views/error/index.php
ErrorDocument 408 /views/error/index.php
ErrorDocument 414 /views/error/index.php
ErrorDocument 500 /views/error/index.php
ErrorDocument 502 /views/error/index.php
ErrorDocument 504 /views/error/index.php