<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                
               <rule name="RedirectSingleURL" patternSyntax="ExactMatch" stopProcessing="true">
                   <match url="products.php" />
                   <action type="Redirect" url="http://www.chinawaterpik.com/products/" />
               </rule>

               <rule name="RedirectSingleURL_about" patternSyntax="ExactMatch" stopProcessing="true">
                      <match url="about.php" />
                      <action type="Redirect" url="http://www.chinawaterpik.com/about/" />
                  </rule>

                  <rule name="RedirectSingleURL_news" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="news.php" />
                    <action type="Redirect" url="http://www.chinawaterpik.com/news/" />
                </rule>
                <rule name="RedirectSingleURL_marketing" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="marketing.php" />
                    <action type="Redirect" url="http://www.chinawaterpik.com/marketing/" />
                </rule>
                <rule name="RedirectSingleURL_service" patternSyntax="ExactMatch" stopProcessing="true">
                                    <match url="service.php" />
                                    <action type="Redirect" url="http://www.chinawaterpik.com/service/" />
                                </rule>


                <rule name="RewriteUserFriendlyURL1" stopProcessing="true">
                    <match url="^about/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="about.php" />
                </rule>

                <rule name="RewriteUserFriendlyURL2" stopProcessing="true">
                    <match url="^products/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="products.php" />
                </rule>
                <rule name="RewriteUserFriendlyURL3" stopProcessing="true">
                    <match url="^news/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="news.php" />
                </rule>
                <rule name="RewriteUserFriendlyKnowledge" stopProcessing="true">
                    <match url="^knowledge/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="knowledge.php" />
                </rule>
                <rule name="RewriteUserFriendlyURL4" stopProcessing="true">
                    <match url="^service/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="service.php" />
                </rule>
                <rule name="RewriteUserFriendlyURL5" stopProcessing="true">
                    <match url="^marketing/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="marketing.php" />
                </rule>


                   <rule name="RedirectASPtoHTML_Knowledges" stopProcessing="true">
                                                  <match url="^knowledgedetail.php" />
                                                  <conditions trackAllCaptures="true">
                                                   <add input="{QUERY_STRING}" pattern="id=([^/]+)" />
                                                    <add input="{REQUEST_METHOD}" pattern="^GET$" />
                                                  </conditions>
                                                  <action type="Redirect" url="knowledge/{C:1}.html" appendQueryString="false" redirectType="Permanent" />
                                                </rule>

                                <rule name="RedirectASPtoHTML_Services" stopProcessing="true">
                                  <match url="^servicedetail.php" />
                                  <conditions trackAllCaptures="true">
                                   <add input="{QUERY_STRING}" pattern="id=([^/]+)" />
                                    <add input="{REQUEST_METHOD}" pattern="^GET$" />
                                  </conditions>
                                  <action type="Redirect" url="http://www.chinawaterpik.com/service/{C:1}.html" appendQueryString="false" redirectType="Permanent" />
                                </rule>

                                 <rule name="RedirectASPtoHTML_Products" stopProcessing="true">
                                  <match url="^productdetail.php" />
                                  <conditions trackAllCaptures="true">
                                   <add input="{QUERY_STRING}" pattern="id=([^/]+)" />
                                    <add input="{REQUEST_METHOD}" pattern="^GET$" />
                                  </conditions>
                                  <action type="Redirect" url="http://www.chinawaterpik.com/products/{C:1}.html" appendQueryString="false" redirectType="Permanent" />
                                </rule>

                                <rule name="RedirectASPtoHTML_News" stopProcessing="true">
                                      <match url="^newsdetail.php" />
                                      <conditions trackAllCaptures="true">
                                       <add input="{QUERY_STRING}" pattern="id=([^/]+)" />
                                        <add input="{REQUEST_METHOD}" pattern="^GET$" />
                                      </conditions>
                                      <action type="Redirect" url="http://www.chinawaterpik.com/news/{C:1}.html" appendQueryString="false" redirectType="Permanent" />
                                    </rule>

    <rule name="RewriteUserFriendlyURL7" stopProcessing="true">
                                        <match url="^news/([^/]+).html$" />
                                        <conditions>
                                            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                                            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                                        </conditions>
                                        <action type="Rewrite" url="newsDetail.php?id={R:1}" />
                                    </rule>



                <rule name="RewriteUserFriendlyURL6" stopProcessing="true">
                    <match url="^products/([^/]+).html$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="productDetail.php?id={R:1}" />
                </rule>

                <rule name="RewriteUserFriendlyKnowledgeDetail" stopProcessing="true">
                    <match url="^knowledge/([^/]+).html$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="knowledgeDetail.php?id={R:1}" />
                </rule>



                <rule name="RewriteUserFriendlyURL8" stopProcessing="true">
                    <match url="^service/([^/]+).html$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="serviceDetail.php?id={R:1}" />
                </rule>

<!--
      <rule name="CanonicalHostNameRule1">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www\.chinawaterpik\.com$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="http://www.chinawaterpik.com/{R:1}" />
                </rule>
-->

            </rules>

        </rewrite>
        <staticContent>

                <!-- <mimeMap fileExtension=".mp4" mimeType="video/mp4" /> -->

        </staticContent>
    </system.webServer>
</configuration>
