{% extends "shared/layout.html" %}
{% block title %} 
 {% if metadata.title %}
     {{metadata.title}}
 {% else %}
    {{page.title}}
 {% endif %}

{% endblock %}
{% block head %}
    {{ parent() }}  
    <meta name="keywords" content="{{metadata.keywords}}">
    <meta name="description" content="{{metadata.description}}">
{% endblock %}
{% block content %}
<div class="banner banner-about wow fadeInUp" style="background-image:url('{{carousel is not empty ?  carousel.image_url :''}}')">
        <div class="container">
            <h1 class="title-page" style="padding-bottom:3rem;">{{carousel is not empty ?  carousel.title :''}}</h1>

        </div>
    </div>
 
   
    <div class="page page-contact">
        {{page.content|raw }}
        
    
        <section class="s3 container">
            <div class="links">
                <div class="title-section">
                    <h3 class="text-center">{{resources['友情链接']}}</h3>
                </div>
    
                <div class="row">
                    {% for row in friendlyLinks %}
                        <div class="col-lg">
                            <div class="row">
                                <div class="col-auto">
                                    <div class="logo">
                                        <a href="{{row.url}}">
                                            <img alt="{{row.title}}" src="{{row.image_url}}" />
                                        </a>
                                    </div>
                                </div>
        
                                <div class="col">
                                    <div class="txt">
                                        <h4><a href="{{row.url}}">{{row.title}}</a></h4>        
                                        <p>{{row.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                   
                </div>
            </div>
        </section>
    </div>
        
    

{% endblock %}


{% block footer %}
<script src="http://api.map.baidu.com/api?v=3.0&amp;ak=OBGqtysX9tHecbODIsmZO8UwmbqeFeAG" type="text/javascript"></script>
<script>
  var map = new BMap.Map("baidumap");          
  map.addControl(new BMap.NavigationControl());    
  map.addControl(new BMap.ScaleControl());    
  map.addControl(new BMap.OverviewMapControl());    
  map.enableScrollWheelZoom(true);
  var point = new BMap.Point(113.934382,22.579212);  
  map.centerAndZoom(point, 16);                
  var marker = new BMap.Marker(point);        // 创建标注    
  map.addOverlay(marker);  
  
  $(function () {
  
  
  
  });
</script>
    {% endblock %}