@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1570506238362'); /* IE9 */
  src: url('iconfont.eot?t=1570506238362#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKwAAsAAAAABmAAAAJkAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApsgQwBNgIkAwgLBgAEIAWEbQcwG7IFyB6SJIECIoTxD9QABIiHp/2+nTtvVjWZadrFExlv0NlK4rWMWCZbaJap/P1f03+FAQqboSq7Vo1Ild1h/gHnMnp+io0GFGZCsd+EW19TVys8uJz+CmjjPKBc5pg8JmBgaUB7YxRZCWXcMHaBS3hMoF6fEuVk66ArxmTWqkA8c21djOVCssyytUJ1zcEsSlVq06v0Fa/D78dfSzFGUlWw6m482LTEyq/ZecV15dp9HxEmoONVKDBDyMSd2tSlvGDkvPpUwRCxr+rgV32l4lvEXo2C/XVWZSPogaJ7EruSW61MIMejfYSNUReT2hvNc/t3O/038e1bv7q/6ih6kSB7Kbcvm+7iz5u37968mVn0mvmbj5/KwnZ8+pQPJn76WN7wlbJMz3JPieIp5ENGPFWeuR2wfla8yE9TEFwsvg7V2Z1/Yw0Z/Pyy/D80ZP08Qu2e3cEfEvfsybrUMqesims9Sd+olQn16lGBfe3+xuq6bicXanXdlKdGbwqFWiNoJs1AlQYrUK3WPtSbtn28QQeSF7kOU84AhFZPkDT7CIVW72gm/UKVbv9QrTXyUO9edFzYYCzciWNCndEC4xRcM46kY+WJqLqN9mGgU1YaMvtImRuFeqVWzG5jhDTHluzIbjBLkBSHsAWewyCIIaHYQ5MrDnPSqlZl3ZsqZhyKCccI0jFkAYZTwGWKRaQ/nE2UPt+GbIcCOmppqPH2IZJxxwd1FbUe6LYq6tVwL69kjtgaGJOARGIhsAXmoUAgBpL6eR5kYhXOiESipWoPkn1VlfU14QcUshYsfQp7VqH6OepkOkIAAA==') format('woff2'),
  url('iconfont.woff?t=1570506238362') format('woff'),
  url('iconfont.ttf?t=1570506238362') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1570506238362#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e80a";
}

