{% extends "shared/layout.html" %}
{% block title %} 
 {% if metadata.title %}
     {{metadata.title}}
 {% else %}
    {{lab.title}}
 {% endif %}

{% endblock %}
{% block head %}
    {{ parent() }}  
    <meta name="keywords" content="{{metadata.keywords}}">
    <meta name="description" content="{{metadata.description}}">

{% endblock %}
{% block content %}

{{ include('shared/_subMenus.html') }}

<div class="page page-lab-detail">
  <div class="container">

  {{lab.content|raw }} 

  <div class="c2">
    {% if structures is not empty %}
    <h3 class="title">本科学重点实验室人员结构</h3>
    <div class="memberlist">
      <div class="row">        
        <div class="row">
          {% for row in structures %}
            <div class="col-6 col-md-4 col-lg-3"><a class="item wow fadeInUp" href="/team/detail-{{row.id}}">
              <div class="avatar"><img src="/img.php?src={{row.photo}}&amp;w=500&amp;h=500&amp;crop-to-fit" alt="{{row.name}}"></div>
              <h4>{{row.name}}</h4>
              <div class="post">{{row.post}}</div></a></div>
          {% endfor %}        
        </div>        
      </div>
    </div>
    {% endif %}

    {% if committees is not empty %}
    <h3 class="title">学术委员会成员</h3>
    <div class="memberlist">
      <div class="row">        
        <div class="row">
          {% for row in committees %}
            <div class="col-6 col-md-4 col-lg-3"><a class="item wow fadeInUp" href="/team/detail-{{row.id}}">
              <div class="avatar"><img src="/img.php?src={{row.photo}}&amp;w=500&amp;h=500&amp;crop-to-fit" alt="{{row.name}}"></div>
              <h4>{{row.name}}</h4>
              <div class="post">{{row.post}}</div></a></div>
          {% endfor %}        
        </div>        
      </div>
    </div>
    {% endif %}

  </div>

  </div>

</div>

{% endblock %}

{% block footer %}
    <script>         
      $(function () {
      
      });
    </script>
{% endblock %}