{% extends "shared/layout.html" %}
{% block title %} 
 {% if metadata.title %}
     {{metadata.title}}
 {% else %}
    {{resources['重点实验室']}}
 {% endif %}

{% endblock %}
{% block head %}
    {{ parent() }}  
    <meta name="keywords" content="{{metadata.keywords}}">
    <meta name="description" content="{{metadata.description}}">

{% endblock %}
{% block content %}

{{ include('shared/_subMenus.html') }}
  <!-- {{page.content|raw }}   -->
  <div class="page page-labs">
    <div class="container">
      <div class="row">
        {% for row in labs %}
        <div class="col-md-6 col-lg-4"><a class="item wow fadeInUp" href="{{lang=='zh-CN'?'':'/'~lang}}/platform/lab/detail-{{row.id}}">
          <div class="pic"><img src="{{row.thumbnail}}" alt="{{row.title}}"></div>
          <h4>{{row.title}}</h4></a></div>
        {% endfor %}
     
      </div>
    </div>
  </div>

{% endblock %}

{% block footer %}
    <script>         
      $(function () {
      
      });
    </script>
{% endblock %}