{% extends "shared/layout.html" %}
{% block title %} 
 {% if metadata.title %}
     {{metadata.title}}
 {% else %}
    {{page.title}}
 {% endif %}

{% endblock %}
{% block head %}
    {{ parent() }}  
    <meta name="keywords" content="{{metadata.keywords}}">
    <meta name="description" content="{{metadata.description}}">

{% endblock %}
{% block content %}

{{ include('shared/_subMenus.html') }}
  <!-- {{page.content|raw }}   -->
  <div class="page page-labs">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4"><a class="item wow fadeInUp" href="lab_1.html">
            <div class="pic"><img src="/assets/img/platform_04.jpg" alt="中国科学院脑联结解析与调控重点实验室"></div>
            <h4>中国科学院脑联结解析与调控重点实验室</h4></a></div>
        <div class="col-md-6 col-lg-4"><a class="item wow fadeInUp" href="lab_2.html">
            <div class="pic"><img src="/assets/img/platform_05.jpg" alt="广东省脑连接图谱重点实验室"></div>
            <h4>广东省脑连接图谱重点实验室</h4></a></div>
      </div>
    </div>
  </div>

{% endblock %}

{% block footer %}
    <script>         
      $(function () {
      
      });
    </script>
{% endblock %}