{% extends "shared/layout.html" %}
{% block title %} 
 {% if metadata.title %}
     {{metadata.title}}
 {% else %}
    {{page.title}}
 {% endif %}

{% endblock %}
{% block head %}
    {{ parent() }}  
    <meta name="keywords" content="{{metadata.keywords}}">
    <meta name="description" content="{{metadata.description}}">

{% endblock %}
{% block content %}

{{ include('shared/_subMenus.html') }}

  <div class="page page-projects page-evolve">
    {{page.content|raw }}  

    <div class="s2">
      <div class="container">
        <div class="title-section wow fadeInUp">            
          <h2 class="text-center"> {{resources['相关新闻']}}</h2>
        </div>
        <div class="projectlist">
          <div class="row">
            {% for row in articles %}
            <div class="col-md-6 col-lg-4">                      
              <a class="item wow fadeInUp" href="{{row.lang=='zh-CN'?'':'/'~row.lang}}/researches/evolve/detail-{{row.id}}">         
                <img src="/img.php?src={{row.thumbnail}}&amp;w=720&amp;h=480&amp;crop-to-fit" alt="{{item.title}}">
              <div class="title"> 
                <h3>{{row.title}}</h3>
                <time>{{item.pubdate|date('Y-m-d')}}</time>
              </div></a></div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}

{% block footer %}
    <script>         
      $(function () {
      
      });
    </script>
{% endblock %}