{% extends "shared/layout.html" %}
{% block title %} 
 {% if metadata.title %}
     {{metadata.title}}
 {% else %}
    {{resources['论文']}} 
 {% endif %}

{% endblock %}
{% block head %}
    {{ parent() }}  
    <meta name="keywords" content="{{metadata.keywords}}">
    <meta name="description" content="{{metadata.description}}">

{% endblock %}
{% block content %}

{{ include('shared/_subMenus.html') }}

  <div class="page page-papers container">
    <div class="s1 section">
      <nav class="years">
        {% for row in years %}
          <a class="{{year==row.year?'active':''}}" href="papers?year={{row.year}}">{{row.year}}</a>
        {% endfor %}           
      
      </nav>
    </div>
    <div class="s2">
      <div class="pagerlist">
        {% for row in papers %}
        <div class="item wow fadeInUp">
          <div class="row">
            <div class="col-auto">            
              <div class="pic"><img src="/img.php?src={{row.thumbnail}}&amp;w=560&amp;h=520&amp;crop-to-fit"></div>
            </div>
            <div class="col">
              <div class="txt">
                {{row.content|raw}}                
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        
               
        <footer class="news-footer wow fadeInUp">
          {% if paginator.numPages > 1 %}
            <ul class="pagination  text-center">
                {% if paginator.prevUrl %}
                    <li class="page-item"><a class="page-link" href="{{ paginator.prevUrl }}">{{resources['上一页']}}</a></li>
                {% endif %}
    
                {% for page in paginator.pages %}
                    {% if page.url %}
                        <li {{ page.isCurrent ? 'class="page-item active"' : 'page-item' }}><a class="page-link" href="{{ page.url }}">{{ page.num }}</a></li>
                    {% else %}
                        <li class="page-item disabled"><span>{{ page.num }}</span></li>
                    {% endif %}
                {% endfor %}
    
                {% if paginator.nextUrl %}
                    <li class="page-item"><a class="page-link" href="{{ paginator.nextUrl }}">{{resources['下一页']}}</a></li>
                {% endif %}
            </ul>
        {% endif %}
          
        </footer>

      </div>
    </div>
  </div>


{% endblock %}

{% block footer %}
    <script>         
      $(function () {
      
      });
    </script>
{% endblock %}


