


  
  .page-about {
   background: url(../img/about_01.jpg) no-repeat center bottom;
    padding-bottom: 530px;
    text-align: justify;
 
    
}
  
.page-speech{
  background: url(../img/about_02.jpg) no-repeat center center;
  text-align: justify;
min-height: 1020px;
  .box{
    border-radius: 12px;
    background-color: #fff;
    padding: 30px;
    max-width: 870px;
    box-shadow: 0 0 24px rgba(0,0,0,.15);
 
    .profile{
      margin-bottom: 2rem;
      .avatar{
        margin: 0 1.5rem;
      }
    }
    .title-v2{
      
        background-color: rgb(21, 93, 194);
     color: #fff;
        width: 128px;
        height: 40px;
      padding: 0 2rem;
 
      font-size: rem(18);
      line-height: 40px;
      border-radius: 20px;
    }
    .des{
      font-size: rem(26);
    }
  }
}

.page-chronicle{
  .container{
    position: relative;   
  }
  .gallery-thumbs{
    margin-bottom: 2rem;
    .swiper-slide{
      font-size: rem(20);
      @include respond-above(sm) {
        font-size: rem(24);
      }
      @include respond-above(md) {
        font-size: rem(28);
      }
      @include respond-above(lg) {
        font-size: rem(32);
      }
      text-align: center;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      cursor: pointer;
      position: relative;
      font-weight: lighter;
    }
    .swiper-slide-thumb-active{
      color: $color-primary;
      &::after{
        content: " ";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border:8px solid $color-primary;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        left: 50%;
        bottom: 0;
        margin-left: -8px;
      }
    }
  }

  .gallery-top{
    ul{
      li{
        margin-bottom: 1rem;
      }
    }
  }

  .swiper-button-next, .swiper-button-prev{
    color: #999;
  }
  .swiper-button-next:after, .swiper-button-prev:after{
    font-size: 24px;
  }
}

.page-strength{
  background-color: #f7f7f7;
}
.page-links{
  .linklist{
    .item{
      margin-bottom: 2rem;
    }
  }
}
.page-culture{
  .item{
    text-align: center;
    margin-bottom: 2rem;
    @include respond-above(sm) {
      margin-bottom: 0;
    }
    h3{
      font-weight: bold;
    }
    p{
     
      max-width: 250px;
      margin: 0 auto;
      @include respond-above(sm) {
        max-width: 160px;  font-size: rem(14);   
      }
    }
  }
  .title-photo{
    position: relative;
    text-align: center;
    margin-bottom: 2rem;
    &::after{
      content: " ";
      display: block;
      border-radius: 50%;
      background-color: #ddd;
      position: absolute;
      left: 0;
      top:4.2rem;
      width: 100%;
      height: 1px;
      z-index: -1;
    }
    h3{
      background-color: #fff;
      width: 200px;
    display: inline-block;
    font-size: rem(34);
    }
  }
}

.page-honor{
  .honor-nav{
    margin-bottom: 3rem;
    a{
      font-size: rem(30);
      border-bottom: 1px #ddd solid;
      display: block;
      position: relative;
      text-align: center;
      padding-bottom: 2rem;
      color: #333;
      &.active{
        &::after{
          content:" ";
          display: block;
          position: absolute;
          left: 0;
          bottom: -2px;
          height: 4px;
          background-color: $color-primary;
          width: 100%;
        }
      }
    }
  }
  .years{
   position: relative;
   padding: 0 5rem;

    div{
      text-align: center;
      padding: 1rem;
      font-size: rem(30);
      &.swiper-slide-thumb-active{
        color: $color-primary;
        position: relative;
        &::after{
          content: " ";
          display: block;
          width: 0;
          height: 0;
          position: absolute;
          left: 50%;
          bottom: 0;
          margin-left: -6px;
          border: 6px $color-primary solid;
          border-left-color:transparent;
          border-right-color:transparent;
          border-bottom-color:transparent;
        }
      }
    }
  }

  .honor-content{
    .txtlist{
 
      padding-top: 3rem;
      margin-bottom: 3rem;
      .item{
        padding: 1rem 2rem 2rem;
        background-color: #fff;
    
        margin-bottom: rem(30);
  
          box-shadow: 0px 4px 30px 0px rgba(0, 14, 35, 0.2);
  
        
        .title{
          color: #333;
          font-size: rem(26);
        }
        ul{
          @include reset-list();
        }
      }
    }
   

    .holist{
      .item{
        margin-bottom: rem(30);
        img{
          display: block;
        }
      }
    }
  }
}