.banner-art{
  
    .container{
        height: 100%;
    }
    .box-container{
        @include vertical-align;
    }
    .box{
       
        width: 518px;
        right: 0;
        background-color: rgba(255,255,255,.85);
        padding: 4rem 4rem 5rem;
        box-shadow: 2px 2px 12px rgba(0,0,0,.15);
       
        .title-box{
            color: $color-primary;
            h1{
                font-size: rem(26);
                font-weight: bold;margin: 0;

            }
            p{
                font-size: rem(20);margin: 0;
            }
        }
        p{
            text-align: justify;
            font-size: rem(14);
        }
    }

   
}

.page-art{
    .s1{
        text-align: center;
        padding-bottom: 1rem;  
        @include respond-above(lg) {         
            padding-bottom: 2rem;
        }
        a{
            .icon{
                width: 122px;
                height: 122px;
                border-radius: 50%;
                text-align: center;
                line-height: 120px;
                border:2px #1a1a1a solid;
                margin: 0 auto;
                translate: all .25s;
                background-color: #fff;
                .iconfont{
                    font-size: 5rem;
                }
            }
            p{
                font-size: rem(18);
            }
            &:hover{
                .icon{
                    background-color:$color-primary;
                    color: #fff;
                    border-color: $color-primary;
                }
                p{
                    color:$color-primary;
                }                
            }
            
            &.active{
                .icon{
                    background-color:$color-primary;
                    color: #fff;
                    border-color: $color-primary;
                }
                p{
                    color:$color-primary;
                }
            }
        }
        
    }
    .s2{
        padding-top: 1rem;
        padding-bottom: 2rem;
        @include respond-above(lg) {
            padding-top: 2rem;
            padding-bottom: 3rem;
        }

        .navs{
            text-align: center;
            max-width: 960px;
            margin: 0 auto 3rem;
        
            .link{
                display: block;
                color: #999;
             
                .icon{
                    line-height: 1;
                    .iconfont{
                        font-size: 3rem;
                    }
                }
                &:hover{
                    color: $color-primary;
                }
            }
            .swiper-slide {
                cursor: pointer;
            }
            .swiper-slide-thumb-active{
                color: $color-primary;
              
            }
            &.navs-noicon{
                a{
                    display: inline-block;
                    margin: 0 2rem; color: #666;
                    &:hover{
                        color: $color-secondary;
                    }
                    &.active{
                        background-color: $color-primary;
                        color: #fff;
                        border-radius: 3px;
                        padding: .4rem 1.5rem;
                    }
                }
            }
        }

        .txt{
            border:1px $color-secondary dashed;padding: 1.5rem 5rem 3rem;
            min-height: 238px;
            h3{
                font-size: 18px;
                color:#333;
                font-weight: bold;
            }
            p{
                label{
                    color: #333;
                    margin-right: .3rem;
                }
            }
            .more{
                display: inline-block;padding: .4rem 2rem;
                background-color: $color-primary; color: #fff;
                margin-top: 1rem;
            }
        }
    }
    .s3{
        padding-top: 1rem;
        padding-bottom: 2rem;
        @include respond-above(lg) {
            padding-top: 2rem;
            padding-bottom: 3rem;
        }
    }
    .s4{
        padding-top: 1rem;
        padding-bottom: 2rem;
        @include respond-above(lg) {
            padding-top: 2rem;
            padding-bottom: 3rem;
        }

        .shools{
            background-color: #efefef;
            padding: 3rem 0;
            .item{
                text-align: center;
                img{
                    margin-bottom: 2rem;
                }
            }
        }
    }
    .s5{
        padding-top: 1rem;
        padding-bottom: 2rem;
        @include respond-above(lg) {
            padding-top: 2rem;
            padding-bottom: 3rem;
        }

        .offerlist{
        
            padding: 0 1rem 6rem;
            .swiper-button-next, .swiper-button-prev{
                top:43%; color: $color-primary;
            }
            .swiper-pagination{
                padding: 2rem 0;
                .swiper-pagination-bullet{
                    background-color: transparent;
                    border:1px #000 solid;
                    width: 12px;height: 12px;
                }
                .swiper-pagination-bullet-active{
                    background-color: $color-primary;border-color: $color-primary;
                }
            }
            
        }
     
        .thumb{
            padding-top: 1rem;
            img{
                display: block;
                box-shadow: 0 0 15px rgba(0,0,0,.2);
                margin: 0 auto;
                width: 100%;
            }
        }
        dl{
            dd{
                padding: 0;
                margin: 0;
                font-size: rem(14);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .more{
         
        
            text-align: center;
            a{
                display: inline-block;
                background-color: $color-primary;
                color: #fff;
                text-transform: uppercase;
                padding: .4rem 3rem;
                font-size: rem(20);
                &:hover{
                    box-shadow: 0 0 15px rgba(28,90,45,.3)
                }
            }
        
        }
    }
}

.page-art-course{
    .s2{
        .course{
            border:1px #ddd solid;
            .pic{
                img{
                    display: block;
                }
            }
            .txt{
                border: none;
                min-height: auto;
            }
        }
    }
    
}

.page-art-profess{
    .s2{
       
        .prolist{
            text-align: center;
            padding-top: 3rem;
          
        }
    }
}

.page-art-schools{
    .s2{
     .nav-schools{
         text-align: center;
         a{
             display: inline-block;
             padding: .3rem 1.5rem;
             border-radius: 3px;margin: 1rem 2rem;
             &.active{
                 background-color: $color-primary;
                 color: #fff;
             }
         }
     }
        .prolist{
            text-align: center;
            padding-top: 3rem;
            .item{
               padding: 2rem 0;
               text-align: center;
            }
        }
    }
}

.page-art-offer{
    .offerlist{
        padding-top: 3rem;
        .item{
            max-width: 220px;
            margin: 0 auto 3rem;
            img{
                display: block;
            }
            dl{
             
                dd{
                  padding: 0;
                  white-space: nowrap;
                  text-overflow: ellipsis;   overflow: hidden;
                  margin: 0;
                  font-size: 14px;
                }
            }
        }
    }
}

.page-art-works{
    .s2{
        .title-small{
            border-left: 8px $color-primary solid;
            padding-left: 8px;
            margin-bottom: rem(27);
            span{
                color: #b37f1d;
            }
        }
        .tab001{
            border:1px $color-primary solid;
            margin-bottom: 3rem;
            padding-left: 123px;
            position: relative;
            min-height: 380px;
            .tab-header{
                width: 123px;
                background-color: $color-primary;
                position: absolute;
                height: 100%;
                left: 0;
                top:0;
                a{
                    display: block;
                    padding: 2rem 0;
                    text-align: center;color: #fff;
                    &.active{
                        background-color: #fff;
                        color: $color-primary;
                    }
                }
            }
            .tab-content{
                padding:1.5rem;
                .list01{
                    border:1px $color-accent solid; font-size: 14px;
                    padding: 1.2rem;
                    margin-bottom: 4px;
                    .title01{
                        display: inline-block; width: 200px;
                        color: $color-primary;
                        font-weight: bold;
                    }

                }
                .pic{
                    width: 160px;
                    img{
                        max-width: none;
                    }
                }
                .subcontent{
                    display: none;
                    &.active{
                        display: block;
                    }
                    .p1{
                        padding: 0 5rem;
                    }
                }
               
            }
        }
        .tab002{
            border:1px $color-primary solid; 
            .tab-header2{
                display: flex; 
                background-color: $color-primary;
                a{
                    color: #fff;
                    width: 33.33333333%;
                    text-align: center;
                    padding: .6rem 1.5rem;
                    &.active{
                        background-color: #fff;
                        color: $color-primary;
                    }
                }
            }
            img{
                display: block;
            }
            .tab-content2{
                display: none;
                padding: 4rem 6rem 0;
                &.active{
                    display: block;
                }
              p{
                  text-align: justify;
              }
            }
        }
    }
}