.page-cases{
    padding-top:2rem;
    padding-bottom:2rem;
    @include  respond-above(md){
        padding-top:3rem;
        padding-bottom:3rem;
    }
    @include  respond-above(lg){
        padding-top:4rem;
        padding-bottom:4rem;
  
        padding-left: 5rem;
        padding-right: 5rem;
     }
.top1{
    margin-bottom: 2rem;
    @include respond-above(md){
        margin-bottom: 3rem;
     }
    @include respond-above(md){
        margin-bottom: 4rem;
     }
     .page-title{
        margin-bottom: 2rem;
        @include respond-above(md){
            margin-bottom: 3rem;
         }
        @include respond-above(lg){
            margin-bottom: 4rem;
         }
     }
}
     .caselist{
         .item{
            margin: 0 -15px 0;
            @include respond-above(md){
                margin: 0 -8px 16px;
             }
             a{
                 display: block;
                 overflow: hidden;
                 position: relative;
                 img{
                     width: 100%;
                     display: block;
                     transition: all .2s;
                 }
                 .txt{
                     position: absolute;
                     left: 0;
                     top: 0;
                     width: 100%;height: 100%;
                     z-index: 300;
                     background-color: rgba(0,0,0,.5);
                     padding: 1rem;
                     color: #fff;
                     opacity: 0;
                     transition: all .2s;
                     h3{
                        font-weight: lighter;
                        margin: 0;
                     }
                  
                     p{
                         font-size: rem(12);
                         position: absolute;right: 1rem;
                         bottom: 1rem;margin: 0;position: absolute;
                     }
                 }
                 &:hover{
                     img{
                         transform: scale(1.1);
                     }
                     .txt{
                         opacity: 1;
                     }
                 }
             }
         }
     }
}