.page-cases{
   .categories{
       padding-top: 1.2rem;
       a{
           display: inline-block;   
            background-color:#000;
            color: #fff;
           padding: .1rem 1.3rem;
           border-radius: 14px;
           margin-right: 2rem;
           &:hover{
               background-color: $color-secondary;
           }
           &.active{
               background-color: $color-primary;
           }
       }
   }

     .caselist{
        margin-top: 2rem;
           .item{
                display: block;
                background-color: #fff;
                margin-bottom: 30px;
                 
.pic{
    overflow: hidden;
}
                 img{
                     width: 100%;
                     display: block;
                     transition: all .2s;
                 }
                 .des{
                   padding: .3rem 1rem .6rem;
                    font-size: rem(12);
                    color:$color-text-weak;
                     h3{
                    
                        margin: 0 0 .5rem;
                        border-bottom: 1px #e5eaeb solid;
                        padding: .4rem 0;
                        font-size: rem(14);
                        font-weight: bold;
                     }
                  
                     p{
                         font-size: rem(12);
                         position: absolute;right: 1rem;
                         bottom: 1rem;margin: 0;position: absolute;
                     }
                     .more{
                        font-size: 12px;
                        border-radius: 10px;
                        height: 20px;line-height: 1;
                        background-color: $color-secondary;
                        color: #fff;
                        padding: 0 .8rem;
                        text-transform: uppercase;
                    }
                 }
                 &:hover{
                     img{
                         transform: scale(1.1);
                     }
                     .txt{
                         opacity: 1;
                     }
                 }
             }
         }
     
}
.page-case-detail{
    .case{
        background-color: #fff;
        padding: 2rem;
        .more{
            font-size: 12px;
            border-radius: 10px;
            height: 20px;line-height: 20px;
            background-color: $color-secondary;
            color: #fff;
            padding: 0 .8rem;
            text-transform: uppercase;
            display: block;
        }
        h1.title{
            font-size: rem(24);
            margin: 0;
        }
        .note{
            color: #999;
            dd{
                margin: 0;
                padding: 0;
            }
        }

        hr{
            border: none;
            border-bottom: 1px #e5eaeb solid;;
        }
        article{
            min-height: 500px;
            p{
                text-indent: 2em;
            }
            .back{
                text-align: center;
                margin-bottom: 2rem;
                a{
                    display: inline-block;
                    background-color: #fcf0d8;  height: 25px;
                    line-height: 25px;
                    padding: 0 2rem;
                    border-radius: 13px;
                    &:hover{
                     
                        background-color:  $color-secondary;
                      
                    }
                }
            }
        }
        .box-arrow {
            font-size: rem(12);
        }
    }
}