
body {
    -webkit-font-smoothing: antialiased; 
    text-rendering: optimizeLegibility;
    color: #666;
    font-family: "Microsoft YaHei", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background-color: #fff;
    line-height: 1.8;
    margin: 0;    
    padding: 0;
    padding-bottom:1rem;
    @include respond-above (md) {
        font-size: rem(12);
        padding-bottom: 2rem;
    }
    @include respond-above (lg) {
        font-size: rem(14);
        margin-left: 320px; padding-bottom:3rem;
    }
    @include respond-above (xlg) {
        font-size: 1rem;
        margin-left: 360px;
        padding-bottom: 4rem;
    }

    
}

a {
    background: transparent;
    color: #333;
    text-decoration: none;
    -webkit-transition: color .2s;
    transition: color .2s;
}

img {
    height: auto;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Microsoft YaHei", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: normal;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

input,textarea,button{
    font-family: "Microsoft YaHei", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}



.table-responsive{
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.container{
    @include respond-above (xlg) {
        max-width: 1200px;
    }
}

.page {
    overflow: hidden;
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include respond-above (sm) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    @include respond-above (md) {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    @include respond-above (lg) {
        padding-top: rem(70);
        padding-bottom: rem(70);
    }
    @include respond-above (xlg) {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
 
}

.title {
    color: $color-text-heading;
    font-weight: normal;
}

.list {
    margin-bottom: 1rem;
}

.banner {
    background-color: $color-primary;
    background-size: cover;
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    
    @include respond-above (sm) {
        height: 280px;
    }

    @include respond-above (md) {
        height: 400px;
    }

    @include respond-above (lg) {
        height: 560px;
    }

    @media  (min-width:1601px){
        height: 675px;
    }

    

    .title-page {
        padding-top: 5.5rem;
        color: #fff;
        position: relative;
        height: 100%;
        text-align: center;
        @include respond-above(sm) {
            padding-top: 6rem;
        }

        @include respond-above(md) {
            padding-top: 10rem;
        }

        @include respond-above(lg) {
            padding-top: 13rem;
        }
        @include respond-above(xlg) {
            padding-top: 17rem;
        }
      

        h1 {

            margin: 0;          
            font-size: 1.4rem;
            font-weight: bold;
            text-transform: uppercase;
            @include respond-above(sm) {
                font-size: 1.6rem
            }

            @include respond-above(md) {
                font-size: 1.8rem
            }

            @include respond-above(lg) {
                font-size: 2rem;
            }

        }

        p {
            margin: 0;
            font-weight: lighter;
            font-size: rem(14);

            @include respond-above(sm) {
                font-size: 1rem;
            }

            @include respond-above(md) {
                font-size: rem(18);
            }
            @include respond-above(lg) {
                font-size: rem(20);
            }
        }
    }
    .circle{
        position: absolute;
        z-index: 200;     
        right: -110px;
        bottom: -160px;  
        width:216px;
        @include respond-above(sm) {
            width: 286px; 
            right: -130px;
            bottom: -220px;  
        }

        @include respond-above(md) {
            width: 336px;
            right: -160px;
            bottom: -250px;  
        }

        @include respond-above(lg) {
            right: -180px;
            bottom: -270px;
            width: 406px;
        }
        @include respond-above(xlg) {
            right: -220px;
            bottom: -340px;
            width: 476px;
        }
    }
}


.title-section{
    text-align: center;
    margin-bottom: 1.5rem;
    @include respond-above(sm) {
        margin-bottom: 3rem;
    }
    h2{
        font-size: rem(24);
        position: relative;
        padding-top: 1rem;
        margin-top: 0;
        margin-bottom: 0;
        font-family: 'DINCond';
        color: $color-primary;
        display: inline-block;
        line-height: 1;
        text-transform: uppercase;
        @include respond-above(sm) {
            font-size: rem(28);
        }
        @include respond-above(md) {
            font-size: rem(32);
        }
        @include respond-above(lg) {
            font-size: rem(36);
        }
        &::before,&::after{
            position: absolute;
            content: " ";
            display: block;
            background-color: $color-primary;
            height:1px;
            width: 50px;
            top: 2.2rem;
            left: -60px;          
            z-index: 100;
          
        }
        &::after{
            left: auto;
            right: -60px;          
        }
    }
    h3{
        color: #333;margin: 0;
        font-weight: normal;
    }

   
    &.title-section_v2{
        
        h2{
            color: #fff;
            &::before{             
               background-color: #fff;
            }
        }
    }
}
.title-section-v1{
    text-align: left;
    border-left: 8px $color-primary solid;
    padding-left: .6rem;
    h2{
        font-size: rem(24);      
        font-family: 'DINCond';
        color: $color-primary;      
        line-height: 1;
        margin: 0 0 .6rem;
        text-transform: uppercase;
        @include respond-above(sm) {
            font-size: rem(28);
        }
        @include respond-above(md) {
            font-size: rem(32);
        }
        @include respond-above(lg) {
            font-size: rem(36);
        }
    }
    h3{
        margin: 0;line-height: 1;
        font-size: rem(14);
        @include respond-above(sm) {
            font-size: 1rem;
        }
        @include respond-above(md) {
            font-size: rem(18);
        }
        @include respond-above(lg) {
            font-size: rem(20);
        }
    }
}
.title-section-v2{
    text-align: center;   
    margin-bottom: 2rem;
   
    h3{
        margin: 0;line-height: 1;
        color: #333;
        font-size: 1rem;
        display: inline-block;
        font-weight: bold;
        position: relative;
        @include respond-above(sm) {
            font-size: rem(18);
        }
        @include respond-above(md) {
            font-size: rem(20);
        }
        @include respond-above(lg) {
            font-size: rem(22);
        }
        &::before,&::after{
            position: absolute;
            content: " ";
            display: block;
            background-color: $color-primary;
            height:1px;
            width: 50px;
            top: .6rem;
            left: -110px;          
            z-index: 100;
          
        }
        &::after{
            left: auto;
            right: -110px;          
        }
    }
}

.title-node{
    border-left: 8px $color-primary solid;
    padding-left: 1rem;
    font-size: rem(20);
    line-height: 1.2;
}


.sitepath{
    padding: 1rem 0;
    color: #ccc;
    a{
        color: #999;
        &:hover{
            color: $color-primary;
        }
    }
}