

.page-contact{
    padding-top: 2rem; 
    padding-bottom: 2rem; 
    @include respond-above (sm) {    
        padding-top:3rem;    
        padding-bottom: 3rem;   
    }
    @include respond-above(md){      
        padding-top:4rem;    
        padding-bottom: 4rem;   
    }
    @include respond-above (lg) {    
        padding-top:5rem;    
        padding-bottom: 5rem;   
    }

    .map_canvas{
        height: 350px;
        margin-bottom: 1.5rem;
    }

.contactlist{
    margin: 0;padding: 0;
    dd{
        margin:  0;padding: .15rem 0;
    }
}
    .qrcode{
        display: block;
        border:1px #e6ebec solid;
        width: 125px;height: 125px; 
        margin-top: .5rem;      
            
    }

    .contact-form{
        .title{
            margin-bottom: 2rem;
            @include respond-above (md) {    
                margin-bottom: 4rem;
            }
        }
        .note{
            color: #999;
        }
       .form-group{
           margin-bottom: 1.5rem;
           .form-control{
               width: 100%;
               padding: .8rem 1rem;
               border: 1px #e5eaeb solid;
            
           }
       }
       .actions{
           text-align: center;          
       }
   
    }
}