.page-env {
    .c1{
        width: 165px;height: 165px;
        border-radius: 50%;
        border:23px solid #c8d9f4;
        background-color: #4982d9;
        text-align: center;
        color: #fff;
        margin: 1rem auto;
        @include respond-above(sm) {
            margin: 1rem auto;
        }
      
        p{
            @include vertical-align;
            margin: 0;
           
        }
    }
    .item{
        background-color: $color-primary;
        color:#fff;
        background-position: center center ;
        background-size: cover;
        padding:.5rem 1rem;
       
        margin-top: 1rem;
      
        @include respond-above(sm) {
            margin: 1.5rem 0 0; height: 320px;  padding:.5rem 1rem;
        }
        @include respond-above(md) {
            margin: 2rem 0 0; height: 295px;  padding: 1rem 2rem;
        }
        @include respond-above(lg) {
            margin: 3rem 0 5rem; height: 295px;  padding: 1rem 2rem;
        }
        h3.title{
            font-size: rem(24);
            color: #fff;
            border-bottom: 1px #fff solid;
            padding-bottom: .8rem;
        }
        &.item-1{
            background-image: url(../img/env01.jpg);
        }
        &.item-2{
            background-image: url(../img/env02.jpg);
        }
    }

    .title-list{
        text-align: center;
        position: relative;
       
        text-align: center;
        margin: 2rem 0;
        @include respond-above(sm) {
             margin: 3rem 0;
        }
     
        &::after{
            content: " ";
            display: block;
            position: absolute;
            left: 0;
            top: 2rem;
            width: 100%;
            height: 1px;
            background-color: #ddd;
            z-index: -10;
        }
        h3{
            background-color: #fff;
            padding: 0 2rem;
            display: inline-block;    
            z-index: 100;
            font-size: rem(30);
            margin: 0;
        }
    }

    .project{
        margin: 2rem 0 3rem;
        @include respond-above(sm) {
            margin: 3rem 0;
        }
        @include respond-above(md) {
            margin: 3rem 0;
        }
        @include respond-above(lg) {
            margin: 3rem 0;
        }
        .pic{
            text-align: center;
        }
        .des{
            
            @include respond-above(md) {
                padding-left: 2rem;
            }
            @include respond-above(lg) {
                padding: 1rem 2rem;
            }
          
            .title-1{
                font-size: rem(22);
                color: #333;
                @include respond-above(sm) {
                    font-size: rem(24);
                }
                @include respond-above(md) {
                    font-size: rem(22);
                }
                @include respond-above(lg) {
                    font-size: rem(24);
                }
            }
        }
    }

    .card{
        background-color: #dfecff;
        margin-bottom: rem(30);
        .card-header{
            background-color: #4982d9;
            color: #fff;
            padding: 0 1rem;
            h3{
                font-size: rem(34);
                margin: 0; font-weight: bold;
            }
        }
        .card-body{
            padding: 1rem;
     
            font-size: rem(14);
            @include respond-above(md) {
                min-height:430px;
            }
            h4{
                color: #4982d9;
                font-weight: bold;
                &::before{
                    content: " ";
                    display: inline-block;
                    width: 11px;
                    height: 11px;
                    background-color: #4982d9;
                    border-radius: 50%;
                    margin-right: .5rem;
                }
            }
            ul{
                @include reset-list;
            }
        }
    }

    .project-v1{
        box-shadow: 0 0 12px rgba(0,0,0,.15);
        background-color: #fff;
        margin-bottom: rem(30);
     
        @include respond-above(sm) {
            min-height:440px;
        }
        @include respond-above(md) {
            min-height:480px;
        }
        @include respond-above(lg) {
            min-height:510px;
        }
        .pic{
            margin-bottom: 1.5rem;
            img{
                display: block;
            }
        }
        .txt{
            padding: 0 1rem 1rem;
            @include respond-above(md) {
                padding: 0 2rem 1rem;
            }
            h3{
                font-size: rem(20);
                margin: 0;
                font-weight: bold;
            }
            p{
                font-size: rem(14);
                text-align: justify;
            }
        }
    }

}