
.site-footer {   
    padding-top: 3rem;     
    background-color: #fff;
    .top{
        margin-bottom: 3rem;
    }
    .title{
        font-weight: bold;
        font-size: rem(14);
        color: $color-text-strong;  margin-bottom: .6rem;
        text-transform: uppercase;
        &::after{
            content: " ";
            display: block;
            width: 42px;height: 2px;
            background-color: $color-primary;
            margin-top: .4rem;
          
        }
    }
    .nav1{
        margin-bottom: 1rem;
       
    }
    .contact{
        border-bottom: 1px #e5eaeb solid;
        margin-bottom: 1rem;
        .phone{          
            font-size: 22.228px;            
            color: $color-primary;
            font-weight: lighter;        
            line-height: 1;   
            margin-bottom: 0;            
        }
    }
    .qrcode{
        display: block;
        border:1px $color-secondary solid;
        width: 95px;height: 95px;
    }
    .formcontact{
        max-width: 406px;
        input{
            width: 100%;
            border:1px $color-secondary solid;
            border-radius: 13px;
            height: 26px;
            margin-bottom: .6rem;
            padding: 0 .8rem;
            outline: none;
        }
        button{
            width: 100%; border-radius: 13px; outline: none;
            height: 26px;
            background-color: $color-primary;
            color: #fff;
            border:none;
            cursor: pointer;
            &:hover{
                background-color: darken($color-primary,10%);
            }
        }
    }
    nav{
        a{
            display: inline-block;
            &::after{
                content: "/";
                display: inline-block;
                margin: 0 .4rem 0 .5rem;
                color: $color-text-weak;
            }
            &:last-child{
                &::after{
                   display: none;
                }
            }
        }
    }
    dd{
        margin: 0;
    }
    .bot{
        background-color: $color-text-strong;
        color:#fff;
        padding: .6rem 0;
        a{
            color: #fff;
            &:hover{
                color: $color-primary;
            }
        }
    }
}

.qqservice {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 2000;    
}

.totop {
    display: block;
    width: 45px;
    height: 45px; 
    line-height: 43px;
    border: 1px solid #000;   
    text-align: center;
    transition: all .2s;
    background-color: #fff;
    color: #000;
    @include respond-above(md) {
        width: 60px;
        height: 60px; 
        line-height: 56px;
        border: 2px solid #000;  
     }
    .iconfont{
        font-size: 22px;
        @include respond-above(md) {
            font-size: 28px;
         }
    }
   

    @include hover {
        border-color: $color-primary;  
        color:  $color-primary;  
    }

    @include respond-above(sm) {
        bottom: 2rem;
        right: 2rem;
    }
}
