@font-face {
    font-family: 'DINCond';
    src: url('../fonts/DINCond-Black.otf')  format("opentype");;
    /* IE9+ */
}
.banner-home{
    height: 940px;
   
    background: #fff url(../img/home_bg.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    .bg01{
        position: absolute;bottom: 0;right: 0;
        z-index: 100;
    }
    .bg02{
        position: absolute;top: 0;left: 0;
        max-width: none;
        z-index: 100;
    }
    .about{
        color: #fff;
        position: absolute;
        z-index: 200;
        max-width: 330px;
        left: 240px;top: 250px;
        .title-v4{
            font-size: 56px; font-family: 'DINCond';   text-transform: uppercase;
            line-height: 1.1;
            margin: 0;
        }
        p{
            text-align: justify;
            margin-bottom: 2rem;
            &.subtitle{
                margin-top: 0;
               
            }
        }
        .more{
            a{
                display: inline-block;background-color:#fff;
                color: $color-primary;
                padding: .4rem 2rem;
            }
        }
       
    }
    .go{
        position: absolute;
        left: 50%;
        margin-left: -15ps;
        bottom: 3rem;
        color: $color-primary;
        z-index: 3000;
     .iconfont{
         font-size:32px;
     }
    }
    
}

.page-home {
    padding-bottom: 0;
    overflow: hidden;
    background-color: #fff;
    .s1{
        padding-top: 2rem;
        padding-bottom: 2rem;
        @include respond-above(sm) {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
        @include respond-above(md) {
            padding-top: 4rem;
            padding-bottom: 4rem;
        }

        .intro{
            color: $color-primary;
            padding: 2rem 3rem;
            border:1px $color-primary dashed;
            border-radius: 0 0 95px 0;
            font-size: 14px;
            .title{
                font-family: 'DINCond';   text-transform: uppercase;
                color: $color-primary;
                font-size: rem(44);
                margin: 0;
            }
            img{
                max-width: 387px;
            }
            a{
                color: #999;
                .iconfont{
                    font-size: 28px;
                }
            }
        }
    }

    .s2{
        background-color: $color-primary;
        background-image: url(../img/h_04.jpg),url(../img/h_05.jpg);
        background-position:  left 80px top 150px, right 80px bottom 40px;
        background-repeat: no-repeat no-repeat;
        padding-top: 2rem;
        padding-bottom: 2rem;
        @include respond-above(sm) {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
        @include respond-above(md) {
            padding-top: 4rem;
            padding-bottom: 4rem;
        }
        .title-section{
            
            h2{
                color: #fff;
                &::before{
                    background-color: #fff;
                }
                &::after{
                    background-color: #fff;
                }
            }
            h3{
                color: #fff;
            }
        }

        .why{
            .item{
                background: #fff url(../img/h_03.jpg) no-repeat right bottom;
                padding: 2rem 2rem 1rem;
                text-align: center;
                min-height: 330px;
                .title{
                    color: $color-primary;
                    font-weight: bold;
                    height: 80px;
                    position: relative;
                    &::after{
                        content: " ";
                        display: block;
                        height: 2px;
                        background-color: $color-primary;
                        position: absolute;
                        left: 50%;;
                        width: 26px;
                        margin-left: -13px;
                        bottom: 0;
                    }
                }
                .icon{
                    height: 60px;
                }
                p{
                    font-size: rem(12);
                }

            }
        }
       
    }


    .s3{
        padding-top: 2rem;
        padding-bottom: 2rem;
        @include respond-above(sm) {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
        @include respond-above(md) {
            padding-top: 4rem;
            padding-bottom: 4rem;
        }

        img{
            display: block;
            width: 100%;
        }
    }
 

    .s4 {
        padding-top: 2rem;
        padding-bottom: 2rem;
        @include respond-above(sm) {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
        @include respond-above(md) {
            padding-top: 4rem;
            padding-bottom: 4rem;
        }
       
        .recommed{
            margin-bottom: 3rem;
            a{
                display: block;
                position: relative;
                overflow: hidden;
                img{
                    display: block;
                    transition: all .2s;
                }
                h3{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    z-index: 100;
                 padding: .6rem 1rem;
                    font-size: 14px;
                    background-color: rgba(28,90,45,.85);
                    color: #fff;
                    margin: 0;
                    width: 100%;
                }
                &:hover{
                    img{
                        transform: scale(1.2);
                    }
                }
            }
        }
        .more{
         
        
            text-align: center;
            a{
                display: inline-block;
                background-color: $color-primary;
                color: #fff;
                text-transform: uppercase;
                padding: .4rem 3rem;
                font-size: rem(20);
                &:hover{
                    box-shadow: 0 0 15px rgba(28,90,45,.3)
                }
            }
        
        }
    }
    .s5{
        padding-top: 2rem;
        padding-bottom: 2rem;
        @include respond-above(sm) {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
        @include respond-above(md) {
            padding-top: 4rem;
            padding-bottom: 4rem;
        }
      
        .offerlist{
            margin: 0 -1rem;
            padding: 0 1rem;
            .swiper-button-next, .swiper-button-prev{
                top:37%; color: $color-primary;
            }
            
        }
     
        .thumb{
            padding-top: 1rem;
            img{
                display: block;
                box-shadow: 0 0 15px rgba(0,0,0,.2);
                margin: 0 auto;
                width: 100%;
            }
        }
        dl{
            dd{
                padding: 0;
                margin: 0;
                font-size: rem(14);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }


    }
    .s6-links{
        padding-top: 2rem;
        padding-bottom: 2rem;
        @include respond-above(sm) {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
        @include respond-above(md) {
            padding-top: 4rem;
            padding-bottom: 4rem;
        }
        .links{
            background-color: $color-primary;
            margin-top: 3rem;
            padding-top: 3rem;
            padding-bottom: 3rem;
            a{
                display: block;text-align: center;
                img{
                    display: inline-block;
                }
            }
        }
    }

    
}

