@font-face {
    font-family: 'DINCond';
    src: url('../fonts/Blender-Pro-Medium.ttf') format("opentype");    
    /* IE9+ */
}
@font-face {
    font-family: 'DINCond_Book';
    src: url('../fonts/Blender-Pro-Book.ttf') format("opentype");    
    /* IE9+ */
}
.fullpage {  

    .godown {
        position: absolute;
        bottom: 3rem;
        left: 50%;
        z-index: 6000;

        margin-left: -25px;

        a {
            color: #fff;
            display: block;
            text-align: center;
            width: 50px;
            height: 50px;

            .iconfont {
                font-size: 2.35rem;
            }
        }
    }

    .animated{
        opacity: 0;
    }

    .content{
        @include vertical-align();
        padding: 0 8rem 0 6rem;
        color: $color-accent;
        h2 {
            font-size: rem(30);
            margin: 0; font-family: 'DINCond';

            @include respond-above (sm) {
                font-size: rem(40);
                line-height: 1.2;
            }

            @include respond-above (md) {
                font-size: rem(50);
            }

            @include respond-above (lg) {
                font-size: rem(60);
            }

            @include respond-above (xl) {
                font-size: rem(68);

            }
        }

        h3 {
            color: $color-primary;
            font-size: rem(20);
            margin: 0;
        }

        p {
            font-size: rem(12);
            margin: 0 0 1rem;

            @include respond-above (sm) {
                font-size: rem(14);
            }

            @include respond-above (md) {
                font-size: rem(16);
            }


        }

        .more {
            border-width: 1px;
            border-color: $color-primary;
            border-style: solid;
            padding: 0 1.5rem;
            height: 48px;
            line-height: 48px;
            display: inline-block;
            border-radius: 24px;
            color: $color-primary;
            background-color: $color-primary;
            color: #fff;
            &:hover{
                background-color: darken($color-primary,10%);
                color: #fff;
            }
        }
    } 

    .s2 {
        .pictxt{
            min-width: 1191px;
            position: absolute;
            right: 40%;
            top: 0;
            height: 100%;
            z-index: 100;
            padding-top: 90px;
            .aboutinfo{
                width: 450px;
                height: 450px;
                margin: 0 auto;
                @include vertical-align();
                position: relative;

                .tabheader{
                    @include reset-list;
                    li{
                        position: absolute;
                        width: 130px;
                        height: 130px;
                        border-radius: 50%;
                        background-color: #5ebed3;
                        right: -10px;
                        top: 0px;
                        z-index: 10;
                        color: #fff;
                        border:4px #5ebed3 solid;
                        text-align: center;
                        line-height: 122px;
                        font-size: rem(18);
                        cursor: pointer;

                        &:nth-of-type(2){
                            right: -60px;
                            top: 140px;
                        }
                        &:nth-of-type(3){
                            right: -10px;
                            top: 280px;
                        }
                        &.active{
                            background-color: #fff;
                            color: #5ebed3;
                        }
                    }
                }
                .tabcontent{
                    padding-left: 4rem;
                    padding-top: 7rem;
                    padding-right: 6rem;
                }
                .conbox{
                    display: none;
                    color: #fff;
                
                    h3{
                        color: #59d3ee;
                        font-size: rem(60);
                        margin: 0;
                        line-height: 1;
                    }
                 
                    &.active{
                        display: block;
                    }
                }
            }
        }
        .txt {
          position: absolute;
          left: 50%;
          top: 0;
          height: 100%;
          z-index: 100;
          padding-top: 90px;
               
        }

    }


    .s3 {
        .c{
            width: 730px;
            height: 730px;
            @include vertical-align();
            margin: 110px auto 0;
            position: relative;
            .tabheader{
                @include reset-list();
              position: absolute;
              top: -55px;
              left: -40px;
              z-index: 600;
                li{
                    margin-bottom: 25px;
                    border-width: 1px;
                    color: rgb(32, 197, 233);
                    border-color: rgb(32, 197, 233);
                    border-style: solid;
                    border-radius: 50%;
                    background-color: rgb(18, 38, 80);          
                    width: 98px;
                    height: 98px;
                    text-align: center;
                    line-height: 96px;
                    cursor: pointer;
                 
                    &:nth-of-type(1), &:nth-of-type(5){
                        margin-left: 7.2rem;
                    }
                    &:nth-of-type(2), &:nth-of-type(4){
                        margin-left: 2rem;
                    }
                    &:nth-of-type(3), &:nth-of-type(2){
                        margin-bottom: 3rem;
                    }
                    .iconfont{
                        font-size: 3rem;
                    }
                    &:hover,&.active{
                        background-color: rgb(32, 197, 233);     
                        color:  rgb(18, 38, 80);  
                    }
                      
                }
               
            }
            .cs{
                width: 520px;
                height: 520px;
                margin: 0 auto;
                @include vertical-align();
                padding: 1rem 4rem 0;
                color: #fff;
                h2.title{
                   font-size:  rem(66);
                   color: rgb(32, 197, 233);    
                }
                h3{
                    color: rgb(32, 197, 233);    
                    font-size:  rem(20);margin-bottom: 1rem;
                }
                p{
                    text-align: justify;
                }
            }
        }
        .pictxt{
            min-width: 1191px;
            position: absolute;
            left: 40%;
            top: 0;
            height: 100%;
            z-index: 100;
            padding-top: 90px;
            
        }
        .txt {
          position: absolute;
          right: 50%;
          top: 0;
          height: 100%;
          z-index: 100;
          padding-top: 90px;
          .content1{
              color: #fff;
          }
               
        }
    }


    .s4 {    
        .pictxt{
            min-width: 1191px;
            position: absolute;
            right: 40%;
            top: 0;
            height: 100%;
            z-index: 0;
            padding-top: 90px;
            .newsinfo{
                width: 450px;
                margin: -2rem auto auto;
                padding: 0 3rem 0 5rem;
                color: #fff;
            }
            
        }
        .txt {       
          padding-top: 110px;
          .list{
           
            padding-top: 10%;
            padding-bottom: 10%;
            .box{
                height: 234px;
               background: url('../img/home_news_bg.png') no-repeat left center;
               padding-left: 260px;
               position: relative;
               margin-bottom: 2rem;
               color: $color-accent;
               padding-top: 2rem;
              
               .thumb{
                   position: absolute;
                   object-fit: cover;
                   width: 200px; height: 200px;
                   border-radius: 50%;
                   left: 17px;
                   top: 17px;
                   z-index: 100;
               }
               time{
                   font-size: rem(24);
               }
               h3{
                   font-size: rem(18);
                   a{
                    color: $color-accent;
                    &:hover{
                        color: $color-primary;
                    }
                   }
               }
               &:nth-of-type(2){
                   margin-left: 5rem;
               }
            }
           } 
        }
       
    }
    .s5{
        .join{
            background:#1f3665 url('../img/home_bg_join.jpg') no-repeat center center;
            color: #fff;
            height: 450px;
            .container-fluid{
                height: 100%;
                .content{
                    color: #fff;
                    @include respond-above(md) {
                        width: 56%;
                    }
                 
                    h2{
                        color: #4ad1ee;
                    }
                    h3{
                        color: #4ad1ee;
                    }
                    p{
                        margin-bottom: 2rem;
                    }
                }
            }
        }
     
    }


}
