.page-jion{

  

    .contact-form{
        .label-title{
            margin-bottom: .5rem;
          display: block;
        }
        .invalid-feedback{
            color: $color-important;
            
        }
        .note{
            color: #999;
        }
       .form-group{
           margin-bottom: 1.5rem;
           .form-control{
               width: 100%;
               padding: .8rem 1rem;
               border: none;
               margin-bottom: .5rem;
               background-color: #eee;
               border-radius: 6px;
            
           }
       }
       .actions{
           text-align: center;          
       }
   
    }

    .opentr{
        display: block;
        background-color:#6798ef;
        padding:.5rem 1rem;
       
        color: #fff;    
        @include respond-above(sm) {
            padding: 1rem;
        }   
    }
    .job-body{
        margin-bottom: 1rem;
        @include respond-above(sm) {
            margin-bottom: 2rem;
        }   
        .post-body{
            padding: 1rem;   background-color:#e0ebff;
        }
    }
    .welfare{
        .title{
            font-size: 24px;
            margin-top: 3rem;
        }
        dl{
            dt{
                font-weight: bold;
            }
            dd{
                margin-left: 0;
            }
        }
    }
}

