.leftcol{
    position: fixed;
    left: -300px;
    top: 0;
    height: 100vh;
    z-index: 1000;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0,0,0,.1);
    padding: 2rem 0;
    transition: all .2s;
    @include respond-above(lg) {
        width: 320px;
        left: 0;
    }
    @include respond-above(xlg) {
        width: 360px;
    }
    .logo{
        display: block;
        margin-bottom: 3rem;
        padding: 0 rem(42);
    }

    .mainav{
        @include reset-list;
        li{
            margin-bottom: .4rem;
            a{
                display: block;
                padding: .5em 1rem;
                @include respond-above(sm) {
                    padding: .6rem 1.5rem;
                    font-size: rem(14);
                }
            
                @include respond-above(md) {
                    padding: .7rem 1.5rem;
                }
            
                @include respond-above(lg) {
                    padding: .8rem 2rem;
                }
                @include respond-above(xlg) {
                    padding: .8rem rem(42);
                }
                span{
                    margin-left: .8rem;
                }
                @include hover{
                    color: $color-primary;
                }
                &.active{
                    color: $color-primary;
                    position: relative;
                    font-weight: bold;
                    &::after{
                        content:" ";
                        display: block;
                        width:6px;
                        height: 100%;
                        position: absolute;top: 0;right:0;
                        z-index: 10;
                        background-color: $color-primary;
                        border-radius: 3px;
                        @include respond-above(md) {
                            width:10px;    border-radius: 5px;
                        }
                    }
                }

            }

        }
    }
    .bot{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 100;
        text-align: center;
        font-size: rem(12);

        padding: 0 1rem 1rem;
        .iconfont{
            font-size: 1.6rem;
        }
        .p1{
            border-bottom:1px #d3d3d3 solid;
            padding-bottom: 1rem;
            margin-bottom: 1rem;
        }
    }
}