.page-news{
    
    
.list-articles{
  
  
    margin-bottom: 1rem;
    @include respond-above(sm) {
        margin-bottom: 1.5rem;
    }

    .item{
       background-color: #fff;
       margin-bottom: rem(30);
   .pic{
       display: block;
       width: 260px;height: 170px;
            img{
            width: 260px;height: 170px;
            object-fit: cover;
            object-position: center center; display: block;
            }
        }
        .txt{
            padding: .8rem 1rem .8rem 0;

            h3{
                font-size: rem(18);
                border-bottom: 1px #e5eaeb solid;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 480px;
                margin: 0;
                padding-bottom: .4rem;
                
            }
            p{
                text-align: justify;max-height: 50px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .more{
                display: inline-block;
                color: #fff;
                height: 22px;
                line-height: 22px;
                border-radius: 11px;
                background-color: $color-accent;
                font-size: 12px;
                padding: 0 .8rem;
            }
        }

        a{
            color: #666;
            font-size: rem(20);
            &:hover{
                color: $color-primary;
            }
        }
       .pub{
           line-height: 1.3;
           border-right: 1px #ddd solid;
           padding-right: 1.5rem;
           padding-bottom: .5rem;
           strong{
               font-size: 2.5rem;
           }
           .small{
               font-size: 12px;
           }
       }
    }

}
}
.page-news-detail{
   
    .fullimage{
        img{
            width: 100%;
        }
    }
    .article{
        text-align: justify;
        .title-article{
            margin-bottom: 1rem;
            @include respond-above(sm) {
                margin-bottom: 2rem;
            }
            @include respond-above(md) {
                margin-bottom: 3rem;
            }
            h2{
                font-size: 20px;
                color: #333;
                margin-top: 0;   
                font-weight: bold;
                @include respond-above(sm) {
                    font-size: 22px;
                }
                @include respond-above(md) {
                    font-size: 24px;
                }
            }
           
        }
        .note{
            color: #999;
            border-bottom: 1px #eee solid;
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            font-size: rem(14);
            @include respond-above(sm) {
                font-size:1rem;
                margin-bottom: 2rem;padding-bottom: 2rem;
            }
            @include respond-above(md) {
                margin-bottom: 3rem;
            }
            .share{
                @include respond-above(md) {
                    text-align: right;
                }
            }
            strong{
                color:$color-primary;
                font-weight: normal;
            }
        }
    }
    .box-arrow{
        background-color: #f7f7f7;
        padding: 1rem 1.5rem;
        border-top: 3px $color-primary solid;
      
        margin-bottom: 2rem;
        @include respond-above(md) {
            margin-left: 1.5rem;   margin-bottom: 3rem;
        }
        h3{
            font-size: rem(20);
            position: relative;
            padding-bottom: 1.3rem;
            font-weight: bold;
         
            &::before{
                display: block;
                content: " ";
                position: absolute;
                width: 20px;height: 2px;
                bottom: 0;
                left: 0;z-index: 100;
                background-color:$color-primary;
            }
        }
        .more{
            color: $color-primary;
            transition: all .25s;
            display: block;
            &:hover{
                margin-right: 3rem;
            }
        }
    }
}
