.page-news {
    .list-articles {
        margin-bottom: 1rem;

        @include respond-above(sm) {
            margin-bottom: 1.5rem;
        }

        .item {
            background-color: #fff;
            margin-bottom: rem(30);

            .pic {
                display: block;

                img {
                    display: block;
                    @include respond-above(sm) {
                        width: 200px;
                    }
                    @include respond-above(md) {
                        width: auto;
                    }
                }
            }

            .txt {


                h3 {
                    font-size: rem(24);
                    margin: 0;
                    padding-bottom: .4rem;

                    a {
                        color: #333;
                    }
                }

                time {
                    color: #ccc;
                }

                p {
                    text-align: justify;
                    color: #999;
                }

                .more {
                    font-size: 14px;
                }
            }

            a {
                color: #666;
                font-size: rem(20);

                &:hover {
                    color: $color-primary;
                }
            }

            .pub {
                line-height: 1.3;
                border-right: 1px #ddd solid;
                padding-right: 1.5rem;
                padding-bottom: .5rem;

                strong {
                    font-size: 2.5rem;
                }

                .small {
                    font-size: 12px;
                }
            }
        }

    }
}

.page-news-detail {
    overflow: hidden;
    .title-article {
        margin-bottom: 1rem;

        @include respond-above(sm) {
            margin-bottom: 2rem;
        }

        @include respond-above(md) {
            margin-bottom: 3rem;
        }

        h1 {
            font-size: 28px;
            color: #333;
            margin-top: 0;


            @include respond-above(sm) {
                font-size: 22px;
            }

            @include respond-above(md) {
                font-size: 36px;
            }

            @include respond-above(lg) {
                font-size: 40px;
            }
        }

    }

    .note {
        color: #999;
    }

    .article {
        text-align: justify;
        line-height: 2;

        .title-se-art{
            height: 3rem;
            position: relative;
            margin-bottom: 2rem;
            @include respond-above(sm) {
                height: 5rem;
            }

            &::before{
                position: absolute;
                content: " ";
                display: block;
                width: 100%;
                height: 1px;           
                top:2.5rem;
                left: -100%;
                z-index: 10;
                background-color: $color-primary;
           
            }
            &::after{
                position: absolute;
                content: " ";
                display: block;
                width: 100%;
                height: 1px;           
                top:2.5rem;
                left: 0;
                z-index: 10;
                background-color: $color-primary;
           
            }
            h3{
                background-color: #fff;
                font-size: rem(24);
                position: absolute;
                left: 0;
                top: 1rem;
                padding: 0 2rem;
                margin: 0;
                margin-left: -2rem;
                color: $color-primary;
                z-index: 100;
            }
        }
        .se{
            margin-bottom: 1rem;
            @include respond-above(sm) {
                margin-bottom: 3rem;
            }
            .img-box{
                text-align: center;
                box-shadow: 0 0 12px rgba(0,0,0,.15);
                padding: 2rem;
                margin: 2rem 0;
            }
            .dot-title{
                color: #333;
                &::before{
                 content: " ";
                        border-radius: 50%;
                        background-color: rgb(67, 67, 67);
                
                        width: 7px;
                        height: 7px;
                     display: inline-block;
                     margin-right: 3px;
                    
                      
                }
            }
            .case{
                position: relative;
                margin: 0 0 2rem 0;
                img{
                    display: block;
                }
                p{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    z-index: 100;
                    color: #fff;
                    font-size: rem(18);
                    padding: 0 1rem;
                    width: 100%;
                    @include respond-above(sm) {
                        font-size: rem(24);   padding: 0 2rem;
                    }
                }
            }
        }
        
    }

    .box-arrow {
        margin-top: 3rem;

        margin-bottom: 1rem;

        div {
            margin-bottom: .5rem;
        }
    }
    .title-app{
        position: relative;
        padding: 0;
        margin: 0 0 3rem;
   
  

        .t1{
           
        
            padding: 0;
            font-size: rem(20);
            margin: 0;
            @include respond-above(sm) {
                font-size: rem(28); 
             
            }
    
            @include respond-above(md) {
                font-size: rem(36);  
            }
    
            @include respond-above(lg) {
                font-size: rem(30);  
            }
            
        }
        h4{
            font-size: rem(18);
            margin: 0;
        }
       
    }
}
.page-application{
    .categories{
        .item{
            margin-bottom: 1rem;          
                background-color: rgb(255, 255, 255);
                box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.15);
                @include respond-above(sm) {
                    margin-bottom: 2rem;         box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);        
                }
                @include respond-above(md) {
                    margin-bottom: rem(55);         box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.2);        
                }
        }
        .thumb{
            img{
                display: block;
                width: 100%;
                max-width: none;
            }
        }
        .txt{
            padding: 1rem 1rem;
            @include respond-above(sm) {
                padding: 1.5rem 1rem;
              }
              @include respond-above(md) {
                padding: 1.5rem 2rem;
              }
              @include respond-above(lg) {
                padding: 1rem 3.5rem;
              }
              @include respond-above(xlg) {
                padding: 2rem 3.5rem;
              }
            h3{
                font-size: rem(24);
                margin: 0;
                @include respond-above(sm) {
                    font-size: rem(24);
                  }
                  @include respond-above(xlg) {
                    font-size: rem(36);
                  }
                &.title-art{
                    font-size: rem(24);
                }
            }
            .summary{
                margin-bottom: 1rem;
                font-size: rem(14);
                @include respond-above(sm) {
                    margin-bottom: 1.5rem;
                  }
                  @include respond-above(lg) {
                    margin-bottom: 3rem;   font-size: 1rem;
                  }
            }
            ul{
                @include reset-list;
                margin-bottom: 1rem;
                @include respond-above(lg) {
                    height: 170px;
                  }
                li{
                    position: relative;
                    padding-left: 18px;
               
                    @include respond-above(sm) {
                        width: 32%;     display: inline-block;
                      }
                    @include respond-above(md) {
                        width: 35%;     display: inline-block;
                      }
                    &::after{
                        content: " ";
                        display: block;
                        height: 1px;
                        width: 13px;
                        left: 0;
                        top: 14px;
                        background-color: #666;
                        position: absolute;

                    }
                    a{
                        display: block;
                        padding: 3px 0;
                    }
                }
            }
            .more{
                display: inline-block;
                padding: .3rem 1.5rem;
                color: #fff;
                background-color: $color-primary;
                border-radius: 20px;
                @include respond-above(sm) {
                    padding: .6rem 2rem;     border-radius: 30px;
                  }
                 @include respond-above(md) {
                     padding: .6rem 2rem;     border-radius: 30px;
                  }
                  @include respond-above(lg) {
                    padding: 1rem 3rem;     border-radius: 30px;
                 }
            }
            .more-art{
                display: inline-block;               
                padding: .5rem 2rem;
         
                background-color: #fff;
                border-radius: 30px;
                border:1px $color-text-weak solid;
               
                  @include respond-above(lg) {
                    padding: .8rem 2.5rem;   
                  }
                &:hover{
                    color: #fff;
                    background-color: $color-primary;
                    border-color: $color-primary;
                }
            }
        }
        .order-md-first{
            .txt{
                text-align: right;
                ul{
                    li{
                        padding-left: 0;
                        padding-right: 18px;
                        &::after{
                          
                            left: auto;
                           right: 0;
    
                        }
                    }
                }
              
            }
        }
    }
    .title-list{
        text-align: center;
        position: relative;
        height: 100px;
        text-align: center;
        &::after{
            content: " ";
            display: block;
            position: absolute;
            left: 0;
            top: 2rem;
            width: 100%;
            height: 1px;
            background-color: #ddd;
            z-index: -10;
        }
        h3{
            background-color: #fff;
            padding: 0 2rem;
            display: inline-block;
       
         
           
            z-index: 100;
            font-size: rem(30);
            margin: 0;
        }
    }

    .case-categories{
        max-width: 996px;
   
        border-radius: 25px;
        margin: 0 auto 2rem;
        background-color: #eee;
        @include respond-above(sm) {
            height: 50px;margin: 0 auto 4rem;
          }
        a{
            height: 50px;line-height: 50px; text-align: center;
            display: block;
            border-radius: 25px;
            &.active{
                background-color: #4982d9;
                color: #fff;
            }
        }
    }
    .case-detail{
        .title{
            font-size: rem(24);
            @include respond-above(sm) {
                font-size: 2rem;
              }
        }
    }
}