.page-news {
    .list-container {
        padding-top: 4rem;
                  
        @include respond-above(xl) {
            margin-left: -2rem;
            margin-right: -2rem;
        }
        .item {
            
            margin-bottom: 2rem;

            @include respond-above(md) {
                margin-bottom: 3rem;
            }
            @include respond-above(lg) {
                margin-bottom: 4rem;
            }
            @include respond-above(xl) {
                margin-bottom: 5rem;
                padding-left: 2rem;
                padding-right: 2rem;
            }
           

                h3 {
                    font-size: rem(20);
                    margin: .2rem 0;
                 color: $color-accent;
                 height: 5rem;
                 overflow: hidden;
                 text-overflow: ellipsis;
                 line-height: 1.3;

                    a {
                        color: #333;
                    }
                }

                time {
                    color: #333;
                }

                p {
                    text-align: justify;
                    color: #999;
                    height: 5.7rem;
                    overflow: hidden;
                    line-height: 1.5;
                }



        }

    }
    .pagination-container{
        margin-top: -3rem;
    }
}

.page-news-detail{
  .newsdetail{
    margin-top: 2rem;
    margin-bottom: 2rem;
    @include respond-above(sm) {
        margin-top:  3rem; 
     margin-bottom: 3rem;
    }
    @include respond-above(md) {
        margin-top:  4rem; 
     margin-bottom: 4rem;
    }
  }
    
    

   
}
