.page-product{
    .product-list{
        margin-top: 2rem;
        .item{
            
            background-color: $color-primary;
            height: 300px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            color: #fff;
            a{
                display: block;
                height: 100%;
                padding-left: 138px;   color: #fff;
                font-size: rem(44);
                line-height: 300px;
                .iconfont{
                    font-size: rem(38);
                    display: inline-block; transition: all .2s;
                }
            }

            &.open{
                a{
                    .iconfont{
                        transform: rotate(-90deg);
                    }
                }
            }
        }

        .prolist{
            margin-bottom: rem(30);
            .box{
                padding: 2rem 5rem;
                background-color: #dde9ff;
                display: none;
                .product{
                    position: relative;
                    background-color: $color-primary;
                    display: block;
                    img{
                        display: block;   transition: all .2s;
                    }
                    .title{
                        position: absolute;
                        left: 0;
                        top: 0;
                        z-index: 100;
                        width: 100%;
                        height: 100%;
                        color: #fff;
                        text-align: center;
                        opacity: 0;
                        transition: all .2s;
                      p{
                          @include vertical-align;
                          margin: 0;
                          font-size: rem(24);
                      }
                    }
                    &:hover{
                        img{
                            opacity: .23;
                        }
                        .title{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
   
    

}
.page-product-detail{
    .se{
        .card{
            background-color: #d6e2f7;
            margin-bottom: rem(30);
            .card-header{
                background-color: #80a4e4;
                color: #fff;
                text-align: center;
                font-size: rem(20);
            }
            .card-body{
                padding: 1rem;
            }
        }
        .box{
            margin-bottom: rem(30);
            box-shadow: 0 0 12px rgba(0,0,0,.15);
            padding: 1rem;
        }
        .app{
            margin-bottom: rem(30);
            box-shadow: 0 0 12px rgba(0,0,0,.15);
            background-color: #fff;
            .txt{
                padding: 1rem 3rem;
               
                h4{
                    font-size: rem(24);
                    margin: 0;
                }
                ul{
                    list-style-image: url(../img/dot.png);
                  padding-left: .9rem;
                 
                }
            }
            img{
                display: block;

            }
        }
        .clients{
            text-align: center;            
            margin: 0;
            img{
                display: block;
                margin: 0 auto;
            }
        }
    }
}