.page-search {
    .searchbox {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.14);
        height: 45px;
        @include respond-above(md) {
            height: 53px;
        }
        input {
            width: 100%;           
            border: none;
            padding-left: 1rem;
            padding-right: 1rem;
            height: 45px;
            @include respond-above(md) {
                height: 53px;
            }
        }
        button {
            background-color: $color-primary;
            color: #fff;         
            padding: 0 2rem;
            border: none;
            font-size: rem(16);
            height: 45px;
            @include respond-above(md) {
                height: 53px;     font-size: rem(18);   padding: 0 3rem;
            }
        }
    }
    .search {
        min-height: 350px;
        @include respond-above(lg) {
            min-height: 450px;
        }
    }
    .total {
        text-align: center;
        padding: 2rem;
    }
    .list-search {
        @include reset-list();
        margin-bottom: 1rem;
        @include respond-above(sm) {
            margin-bottom: 1.5rem;
        }
        li {
            border-bottom: 1px #ddd solid;
            padding-top: 1rem;
            padding-bottom: 1rem;
            time {
                color: #999;
            }
        }
    }
}