.banner-search{
    padding-top: 6rem;
    height: 200px;
    @include respond-above(sm) {
        height: 250px; padding-top: 8rem;
    }
    @include respond-above(md) {
        height: 300px; padding-top: 10rem;
    }
    .search-container{
        max-width: 600px;
        margin: 0 auto;
        padding: 0 15px;
    }
    .searchbox{
           
        
        border-bottom: 1px #fff solid;
        input{
            width: 100%;
            font-size: rem(22);
            padding: .8rem 1rem;
            background-color: transparent;
            border:none;
            outline: none;
            color:#fff;
            &::placeholder { 
                color: lighten($color-primary,30%);
             }
             @include respond-above(sm) {
                font-size: rem(30);
            }
        }
        button{
            background-color: transparent;
            border:none;
            color: #fff;
            cursor: pointer;
            padding: .8rem;
            .iconfont{
                font-size: rem(22);
                @include respond-above(sm) {
                    font-size: rem(30);
                }
            }
        }
    }
}

.page-search{
    padding-top: 1rem;
    .note{
        margin-bottom: 2rem;
    }
    .list-articles {
        margin-bottom: 1rem;

        @include respond-above(sm) {
            margin-bottom: 1.5rem;
        }

        .item {
            background-color: #fff;
            margin-bottom: rem(30);

            .pic {
                display: block;

                img {
                    display: block;
                    @include respond-above(sm) {
                        width: 200px;
                    }
                    @include respond-above(md) {
                        width:350px;
                    }
                }
            }

            .txt {


                h3 {
                    font-size: rem(24);
                    margin: 0;
                    padding-bottom: .4rem;

                    a {
                        color: #333;
                        strong{
                            color: $color-primary;
                        }
                    }
                }

                time {
                    color: #ccc;
                }

                p {
                    text-align: justify;
                    color: #999;
                }

                .more {
                    font-size: 14px;
                }
            }

            a {
                color: #666;
                font-size: rem(20);

                &:hover {
                    color: $color-primary;
                }
            }

            .pub {
                line-height: 1.3;
                border-right: 1px #ddd solid;
                padding-right: 1.5rem;
                padding-bottom: .5rem;

                strong {
                    font-size: 2.5rem;
                }

                .small {
                    font-size: 12px;
                }
            }
        }

    }
}