.slider{
  

    div.swiper-slide{
        height: 100vh;
      
        a{
           display: block; height: 100vh;
           background-repeat: no-repeat;
           background-position: center center;
           background-size: cover;
           display: none;
           .txt{
               text-align: center;
               color: #fff;
               @include vertical-align(); 
               h1{
                   font-size: rem(20);
                   margin: 0;
                   @include respond-above (sm) {    
                    font-size: rem(30);
                }
                @include respond-above (md) {    
                    font-size: rem(40);
                }
                   @include respond-above (lg) {    
                    font-size: rem(50);
                }
                @include respond-above (xlg) {    
                    font-size: rem(60);
                }
               }
               p{
                font-size: rem(12);
                @include respond-above (sm) {    
                    font-size: rem(14);
                }
                @include respond-above (md) {    
                    font-size: rem(16);
                }
                   @include respond-above (lg) {    
                    font-size: rem(18);
                }
             
               }
           }
           &.forpc{
            @media only screen and (orientation: landscape) {
                display: block;
            }
           }
           &.formobile{
            @media only screen and (orientation: portrait) {
                display: block;
            }
           }
        }
    }
    .swiper-button-next, .swiper-button-prev{
        color:  $color-primary;
        position: relative;
    }
  
    .swiper-button-next:after, .swiper-button-prev:after{
        font-size: rem(14);                
    }

    .swiper-pagination-bullet{
        background-color:  $color-primary;
        margin: 0 .4rem;
    }
    .footer-pagination{
        position: absolute;
        left: 0;
        bottom: 1.5rem;
        z-index: 8000;
        width: 100%;
        .swiper-pagination{    
            position: relative;
            margin: 0 .6rem;
            padding-bottom: 1.5rem;
        }
    }

  
}
.swiper-container-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 2rem !important;
}