.slider{
    div.swiper-slide{
        height: 100%;
      
        a{
           display: block; height: 100%;  
           background-repeat: no-repeat;
           background-position: center center;
           background-size: cover;
           display: none;
           &.forpc{
            @media only screen and (orientation: landscape) {
                display: block;
            }
           }
           &.formobile{
            @media only screen and (orientation: portrait) {
                display: block;
            }
           }
        }
    }
    .swiper-button-next, .swiper-button-prev{
        color: #fff;
    }
    .swiper-pagination{
        left: auto !important;
        right: 50% !important;
        margin-right: -560px !important;
        width: auto !important;
        bottom: 70px !important;
        @include respond-above (lg) {    
            margin-right: -560px !important;
        }
        @include respond-above (xlg) {    
            margin-right: -580px !important;
        }
    }
    .swiper-pagination-bullet{
        background-color: #fff;
    }
}
