.slider {
    height: 100%;

    div.swiper-slide {
        height: 100%;

        .container-fluid {
            height: 100%;

            .txt {
                max-width: 660px;
                color: #fff;
                @include vertical-align();
                padding: 1rem 3rem 1rem 2rem;
            
                @include respond-above (md) {
                    font-size: rem(50);
                    padding: 1rem 0;
                }
                h2 {
                    font-size: rem(40);
                    margin: 0; font-family: 'DINCond';
                    line-height: 1.2;
                    @include respond-above (sm) {
                        font-size: rem(60);
                        line-height: 1.2;
                    }

                    @include respond-above (md) {
                        font-size: rem(50);
                    }

                    @include respond-above (lg) {
                        font-size: rem(60);
                    }

                    @include respond-above (xl) {
                        font-size: rem(68);

                    }
                }

                h3 {
                    color: $color-primary;
                    font-size: rem(20);
                    margin: 0;
                }

                p {
                    font-size: rem(12);
                    margin: 0 0 1rem;

                    @include respond-above (sm) {
                        font-size: rem(14);
                    }

                    @include respond-above (md) {
                        font-size: rem(16);
                    }


                }

                .more {
                    border-width: 1px;
                    border-color: $color-primary;
                    border-style: solid;
                    padding: 0 1.5rem;
                    height:32px;
                    line-height: 30px;
                    display: inline-block;
                    border-radius: 16px;
                    color: $color-primary;
                    font-size: 12px;
                    &:hover{
                        background-color: $color-primary;
                        color: #fff;
                    }
                    @include respond-above (sm) {
                        height: 48px;
                        line-height: 48px;  padding: 0 2.5rem;           border-radius: 24px;
                        font-size: 1rem;
                    }

                }

            }
        }

        &>div {
            height: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            display: none;


            &.forpc {
                @media only screen and (orientation: landscape) {
                    display: block;
                }
            }

            &.formobile {
                @media only screen and (orientation: portrait) {
                    display: block;
                }
            }
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: $color-primary;
        position: relative;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: rem(14);
    }

    .swiper-pagination-bullet {
        background-color: $color-primary;
        margin: 0 .4rem;
    }

    .footer-pagination {
        position: absolute;
        left: 0;
        bottom: 1.5rem;
        z-index: 8000;
        width: 100%;

        .swiper-pagination {
            position: relative;
            margin: 0 .6rem;
            padding-bottom: 1.5rem;
        }
    }


}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 2rem !important;
}