.page-solution{
    .coms{
        margin-top: 4rem;
        margin-bottom: 3rem;
        .item{
            .num{
                font-size: rem(24);
                color: $color-primary;
                border-bottom: 4px $color-primary solid;
                padding-bottom: 1rem;
                position: relative;

                &::after{
                    position: absolute;
                    content: "";
                    display: block;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border:2px $color-primary solid;
                    background-color: #fff;
                    left: 0;         
                    bottom: -12px;
                    z-index: 10;
                }
            }
            .txt{
                color: #888;
                padding-top: 1rem;
                padding-right: 2rem;
                h3{
                    font-size: rem(60);
                    margin: 0; font-family: 'DINCond';
                    line-height: 1;
                }
                p{
                    margin-top: 0;
                }
                ul{
                    padding-left: 1.3rem;
                    li{
                     
                        @include respond-above(lg) {
                            margin-bottom: .5rem;
                        }
                    }
                }
            }

            &.last{
                .txt{
                    color: $color-primary;
                }
            }
        }
    }
    .title-v2{
        background-color: $color-primary;
        color: #fff;
        font-size: rem(34);
        font-family: 'DINCond';
        padding-left: 2rem;
        margin-bottom: 2rem;
    }
    .youshi{
        padding: 0 1rem;
        .r1{
            margin-bottom: 2rem;
            text-align: left;
            @include respond-above(lg) {
                margin-bottom: 3rem;
            }
            .pic{
                line-height: 80px;
                    border-radius: 50%;
                    background-color: rgb(255, 255, 255);
                    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.16);
               text-align: center;
                    width: 80px;
                    height: 80px;
                padding: 4px;
                overflow: hidden;
                img{
                    border-radius: 50%;
                    display: block;
                    margin: 0 auto;
                    @include vertical-align(); 
                }
            }
           
        }
    }
}