
.banner-law{    
    background: #333 url('../img/banners/law.jpg') no-repeat center top;
    background-size: cover;
    height: 200px;
    text-align: center;
    color: #fff;
    padding-top: 45px;
    @include respond-above(sm) {
        height: 250px;
    }
    @include respond-above(md) {
        height: 300px;
    }
    @include respond-above(lg) {
        height: 350px;
    }
    @include respond-above(xl) {
        height: 400px;
    }

    &.banner-policy{
        background-image: url('../img/banners/policy.jpg');
    }

    .title-page {        
        @include vertical-align();
        .txt {        
            
            h2 {
                font-size: rem(24);
                font-family: 'DINCond_Book';
                line-height: 1;
                margin: 0;
                @include respond-above(sm) {
                    font-size: rem(32);
                }
                @include respond-above(md) {
                    font-size: rem(40);
                }
                @include respond-above(lg) {
                    font-size: rem(50);
                }
                @include respond-above(xl) {
                    font-size: rem(60);
                }
            }
            h3 {
                font-size: rem(14);
                @include respond-above(sm) {
                    font-size: rem(16);
                }
                @include respond-above(md) {
                    font-size: rem(18);
                }
                @include respond-above(lg) {
                    font-size: rem(20);
                }
                margin: 0;
            }
        }
    }
}

.page-law{
    padding-top: 2rem;
    padding-bottom: 2rem;
    @include respond-above(sm) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    @include respond-above(md) {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    h3{
        color: #333;
        font-weight: bold;
    }
}