{% extends "shared/layout.html" %}
{% block title %} 
 {% if metadata.title %}
     {{metadata.title}}
 {% else %}
    {{resources['人才招聘']}}
 {% endif %}

{% endblock %}
{% block head %}
    {{ parent() }}  
    <meta name="keywords" content="{{metadata.keywords}}">
    <meta name="description" content="{{metadata.description}}">

{% endblock %}
{% block content %}

{{ include('shared/_subMenus.html') }}

 
  <div class="page page-job container">
    <div class="s1 section">           
      <div class="title-section">
        <h2 class="text-center">{{resources['人才招聘']}}</h2>
      </div>
      <div class="joblist">
        {% for row in jobs %}
        <a class="item" href="{{lang=='zh-CN'?'':'/'~lang}}/team/jobs/detail-{{row.id}}">
          <div class="row align-items-center">
            <div class="col-auto">
              <div class="pic"><img src="/img.php?src={{row.team.photo}}&amp;w=500&amp;h=500&amp;crop-to-fit" alt="{{row.team.name}}"></div>
            </div>
            <div class="col">
              <div class="txt">
                <h3>{{row.title}}</h3>
                <time>{{row.created_at|date('Y-m-d')}}</time>
              </div>
            </div>
          </div>
        </a>
        {% endfor %}
        
      </div>
      <footer class="news-footer wow fadeInUp">
        {% if paginator.numPages > 1 %}
        <ul class="pagination  text-center">
            {% if paginator.prevUrl %}
                <li class="page-item"><a class="page-link" href="{{ paginator.prevUrl }}">{{resources['上一页']}}</a></li>
            {% endif %}

            {% for page in paginator.pages %}
                {% if page.url %}
                    <li {{ page.isCurrent ? 'class="page-item active"' : 'page-item' }}><a class="page-link" href="{{ page.url }}">{{ page.num }}</a></li>
                {% else %}
                    <li class="page-item disabled"><span>{{ page.num }}</span></li>
                {% endif %}
            {% endfor %}

            {% if paginator.nextUrl %}
                <li class="page-item"><a class="page-link" href="{{ paginator.nextUrl }}">{{resources['下一页']}}</a></li>
            {% endif %}
        </ul>
    {% endif %}
        
      </footer>
    </div>
  </div>

{% endblock %}

{% block footer %}
    <script>         
      $(function () {
      
      });
    </script>
{% endblock %}