{% extends "shared/layout.html" %}
{% block title %} 
 {% if metadata.title %}
     {{metadata.title}}
 {% else %}
    {{page.title}}
 {% endif %}

{% endblock %}
{% block head %}
    {{ parent() }}  
    <meta name="keywords" content="{{metadata.keywords}}">
    <meta name="description" content="{{metadata.description}}">

{% endblock %}
{% block content %}

{{ include('shared/_subMenus.html') }}

  <!-- {{page.content|raw }}   -->
  <div class="page page-job container">
    <div class="s1 section">           
      <div class="title-section">
        <h2 class="text-center">人才招聘</h2>
      </div>
      <div class="joblist"><a class="item" href="job_detail.html">
          <div class="row align-items-center">
            <div class="col-auto">
              <div class="pic"><img src="/assets/img/temp/xufuqiang.jpg" alt="徐富强"></div>
            </div>
            <div class="col">
              <div class="txt">
                <h3>招聘博士后&amp;助理研究员&amp;科研助理 - 徐富强课题组</h3>
                <time>2020-03-08</time>
              </div>
            </div>
          </div></a><a class="item" href="job_detail.html">
          <div class="row align-items-center">
            <div class="col-auto">
              <div class="pic"><img src="/assets/img/temp/xufuqiang.jpg" alt="徐富强"></div>
            </div>
            <div class="col">
              <div class="txt">
                <h3>招聘博士后&amp;助理研究员&amp;科研助理 - 徐富强课题组</h3>
                <time>2020-03-08</time>
              </div>
            </div>
          </div></a><a class="item" href="job_detail.html">
          <div class="row align-items-center">
            <div class="col-auto">
              <div class="pic"><img src="/assets/img/temp/xufuqiang.jpg" alt="徐富强"></div>
            </div>
            <div class="col">
              <div class="txt">
                <h3>招聘博士后&amp;助理研究员&amp;科研助理 - 徐富强课题组</h3>
                <time>2020-03-08</time>
              </div>
            </div>
          </div></a><a class="item" href="job_detail.html">
          <div class="row align-items-center">
            <div class="col-auto">
              <div class="pic"><img src="/assets/img/temp/xufuqiang.jpg" alt="徐富强"></div>
            </div>
            <div class="col">
              <div class="txt">
                <h3>招聘博士后&amp;助理研究员&amp;科研助理 - 徐富强课题组</h3>
                <time>2020-03-08</time>
              </div>
            </div>
          </div></a><a class="item" href="job_detail.html">
          <div class="row align-items-center">
            <div class="col-auto">
              <div class="pic"><img src="/assets/img/temp/xufuqiang.jpg" alt="徐富强"></div>
            </div>
            <div class="col">
              <div class="txt">
                <h3>招聘博士后&amp;助理研究员&amp;科研助理 - 徐富强课题组</h3>
                <time>2020-03-08</time>
              </div>
            </div>
          </div></a></div>
      <footer class="pager-footer">      
        <ul class="pagination text-center">
          <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">上一页</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active" aria-current="page"><a class="page-link" href="#">2                          </a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">下一页</a></li>
        </ul>
      </footer>
    </div>
  </div>

{% endblock %}

{% block footer %}
    <script>         
      $(function () {
      
      });
    </script>
{% endblock %}