{% extends "shared/layout.html" %}
{% block title %} 
 {% if metadata.title %}
     {{metadata.title}}
 {% else %}
    {{page.title}} - 关于我们
 {% endif %}

{% endblock %}
{% block head %}
    {{ parent() }}  
    <meta name="keywords" content="{{metadata.keywords}}">
    <meta name="description" content="{{metadata.description}}">
{% endblock %}
{% block content %}
    <div class="banner banner-about wow fadeInUp" style="background-image:url('{{page.background_image}}')"></div>


    <div class="page page-about">
        {{page.content|raw }}        
    </div>

{% endblock %}