{% extends "shared/layout.html" %}
{% block title %} 
 {% if metadata.title %}
     {{metadata.title}}
 {% else %}
     现任领导
 {% endif %}

{% endblock %}
{% block head %}
    {{ parent() }}  
    <meta name="keywords" content="{{metadata.keywords}}">
    <meta name="description" content="{{metadata.description}}">
 
{% endblock %}
{% block content %}

  {{ include('shared/_subMenus.html') }}

  <div class="page-leadership">
    {% for row in teams %}
      <div class="item">
        <div class="container">
          <div class="row">
            <div class="col-md-auto">
              <div class="pic"><img src="/img.php?src={{row.photo}}&amp;w=400&amp;h=600&amp;crop-to-fit" alt="{{row.name}}"></div>
            </div>
            <div class="col-md">
              <div class="intro">
                <h3 class="title">{{row.name}} <small>{{row.post}} </small></h3>
                {{row.content|raw}}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    
  
  </div>


{% endblock %}

{% block footer %}
{% endblock %}