{% extends "shared/layout.html" %}
{% block title %} 
 {% if metadata.title %}
     {{metadata.title}}
 {% else %}
    {{resources['研究中心']}}  
 {% endif %}

{% endblock %}
{% block head %}
    {{ parent() }}  
    <meta name="keywords" content="{{metadata.keywords}}">
    <meta name="description" content="{{metadata.description}}">

{% endblock %}
{% block content %}

{{ include('shared/_subMenus.html') }}

  <!-- {{page.content|raw }}   -->
  <div class="page page-platform">
    <section class="s1 container">
      <nav class="categories wow fadeInUp">
        {% for row in researches %}
          <a class="{{research.id == row.id ? 'active':""}}" href="{{lang=='zh-CN'?'':'/'~lang}}/platform/index-{{row.id}}">{{row.title_short}}</a>
        {% endfor %}    
      </nav>
      <select class="slcategories wow fadeInUp">
        {% for row in researches %}
          {% if research.id == row.id %}
            <option value="{{row.id}}" selected>{{row.title_short}}</option>
          {% else %}
            <option value="{{row.id}}">{{row.title_short}}</option>
          {% endif %}
        {% endfor %}      
      </select>
    </section>
    <section class="s2 container">
      <div class="row">
        <div class="col-md-auto">
          <div class="pic wow fadeInUp" style="background-image:url({{research.thumbnail}})"><img src="{{research.icon}}" alt=""></div>
        </div>
        <div class="col-md">
          <div class="txt wow fadeInUp">
            <h2 class="title">{{research.title}}</h2>
            {{research.content|raw}}
          </div>
        </div>
      </div>
    </section>
    <section class="s3">
      <div class="container">
        <div class="title-section">
          <h2 class="text-center wow fadeInUp">{{resources['课题组']}}</h2>
        </div>
        <div class="row">
          {% for row in groups %}
            <div class="col-6 col-md-4 col-lg-3"><a class="item wow fadeInUp" href="{{lang=='zh-CN'?'':'/'~lang}}/team/detail-{{row.id}}">
              <div class="avatar"><img src="/img.php?src={{row.photo}}&amp;w=500&amp;h=500&amp;crop-to-fit" alt="{{row.name}}"></div>
              <h4>{{row.name}}</h4>
              <div class="post">{{row.post}}</div>
              <div class="school">{{row.school}}</div>
            </a></div>
          {% endfor %}

     
        </div>
      </div>
    </section>
  </div>

{% endblock %}

{% block footer %}
    <script>         
      $(function () {
      
      });
    </script>
{% endblock %}