{% extends "shared/layout.html" %}
{% block title %} 
 {% if metadata.title %}
     {{metadata.title}}
 {% else %}
    {{resources['科研支撑']}}
 {% endif %}

{% endblock %}
{% block head %}
    {{ parent() }}  
    <meta name="keywords" content="{{metadata.keywords}}">
    <meta name="description" content="{{metadata.description}}">

{% endblock %}
{% block content %}

{{ include('shared/_subMenus.html') }}
 
  <div class="page page-support">
    <div class="container">
      <div class="title-section wow fadeInUp">
        <h2 class="text-center">{{resources['科研支撑']}}</h2>
      </div>
      <div class="row">
        {% for row in articles %}
        <div class="col-md-6 col-lg-4"><a class="item" href="{{row.lang=='zh-CN'?'': '/'~row.lang}}/platform/support/detail-{{row.id}}"> {{row.title}}</a></div>
        {% endfor %}        
      </div>
    </div>
  </div>

{% endblock %}

{% block footer %}
    <script>         
      $(function () {
      
      });
    </script>
{% endblock %}