{% extends "shared/layout.html" %}
{% block title %} 
 {% if metadata.title %}
     {{metadata.title}}
 {% else %}
    {{category_title}}
 {% endif %}

{% endblock %}
{% block head %}
    {{ parent() }}  
    <meta name="keywords" content="{{metadata.keywords}}">
    <meta name="description" content="{{metadata.description}}">

{% endblock %}
{% block content %}

{{ include('shared/_subMenus.html') }}

  <!-- {{page.content|raw }}   -->
  <div class="page page-cooperation">
    <section class="s1 container">
      <div class="title-section">
        <h2 class="text-center">{{category_title}}</h2>
      </div>
      <div class="articlelist"> 
        {% for row in articles %}
        <div class="item">
          <div class="row align-items-center">
            <div class="col-md-auto"><a class="pic" href="{{lang=='zh-CN'?'':'/'~lang}}/cooperation/detail-{{row.id}}">
              <img src="/img.php?src={{row.thumbnail}}&amp;w=720&amp;h=480&amp;crop-to-fit" alt=""></a></div>
            <div class="col-md"><a href="{{lang=='zh-CN'?'':'/'~lang}}/cooperation/detail-{{row.id}}">{{row.title}}</a></div>
          </div>
        </div>
        {% endfor %}
        
      </div>

      <footer class="news-footer wow fadeInUp">
        {% if paginator.numPages > 1 %}
        <ul class="pagination  text-center">
            {% if paginator.prevUrl %}
                <li class="page-item"><a class="page-link" href="{{ paginator.prevUrl }}">上一页</a></li>
            {% endif %}

            {% for page in paginator.pages %}
                {% if page.url %}
                    <li {{ page.isCurrent ? 'class="page-item active"' : 'page-item' }}><a class="page-link" href="{{ page.url }}">{{ page.num }}</a></li>
                {% else %}
                    <li class="page-item disabled"><span>{{ page.num }}</span></li>
                {% endif %}
            {% endfor %}

            {% if paginator.nextUrl %}
                <li class="page-item"><a class="page-link" href="{{ paginator.nextUrl }}">下一页</a></li>
            {% endif %}
        </ul>
    {% endif %}
        
      </footer>
    </section>
  </div>

{% endblock %}

{% block footer %}
    <script>         
      $(function () {
      
      });
    </script>
{% endblock %}