{% extends "shared/layout.html" %}
{% block title %}
{{resources['搜索']}}
{% endblock %}
{% block content %}

<div class="page page-search container"> 
    <div class="searchbox wow fadeInUp">
        <form action="{{lang=='zh-CN'?'':'/'~lang}}/search" method="get">
          <div class="row align-items-center">
            <div class="col">
              <input id="keyword" type="search" name="keyword" value="{{keyword}}" placeholder="请输入您要搜索的内容" required="required">
            </div>
            <div class="col-auto">
              <button id="btnSearch" class="btn btn-primary" type="submit">{{resources['搜索']}}</button>
            </div>
          </div>
        </form>
      </div>


      <p class="count text-center wow fadeInUp">{{ resources['搜索结果']|format(articleCount) | raw }}</p>

      <div class="results">
        <ul>
            {% for row in news %}
            <li class="wow fadeInUp"><a href="{{lang=='zh-CN'?'':'/'~lang}}/news/detail-{{row.id}}">
                <div class="row">
                  <div class="col-md">{{row.title}}</div>
                  <div class="col-md-auto">
                    <time>{{row.pubdate|date('Y-m-d')}}</time>
                  </div>
                </div></a>
            </li>                
            {% endfor %}          
        </ul>
      </div>

      <footer class="news-footer wow fadeInUp">
        {% if paginator.numPages > 1 %}
        <ul class="pagination  text-center">
            {% if paginator.prevUrl %}
              <li class="page-item"><a class="page-link" href="{{ paginator.prevUrl }}">{{resources['上一页']}}</a></li>
            {% endif %}

            {% for page in paginator.pages %}
                {% if page.url %}
                    <li {{ page.isCurrent ? 'class="page-item active"' : 'page-item' }}><a class="page-link" href="{{ page.url }}">{{ page.num }}</a></li>
                {% else %}
                    <li class="page-item disabled"><span>{{ page.num }}</span></li>
                {% endif %}
            {% endfor %}

            {% if paginator.nextUrl %}
                <li class="page-item"><a class="page-link" href="{{ paginator.nextUrl }}">{{resources['下一页']}}</a></li>
            {% endif %}
        </ul>
        {% endif %}
        
      </footer>
       
    </div>
{% endblock %}

{% block footer %}
    <script>
        $("#btnSearch").click(function(e){
            e.preventDefault();
            var url = $('form').attr("action");
            var keyword = $("#keyword").val();
            if(keyword.length>0){
                location.href = url+"/"+keyword;
            }
        })

    </script>    
{% endblock footer %}