{% extends "shared/layout.html" %} 
{% block title %}应用领域{% endblock %} 
{% block content %}
<div class="banner">
    <img src="/assets/img/banners/application.png" alt="">
    <div class="title-page title-page-application">
        <div class="txt">
            <h2>APPLICATION FIELD</h2>
            <h3>应用领域</h3>
        </div>
    </div>
</div>
<div class="page page-about page-application">
    <aside class="leftcol">
        <nav>
            <ul class="leftnav">
                {% for item in applicationAreas %}
                    {% if applicationArea.id == item.id %}
                        <li><a href="/application/index-{{item.id}}" class="active">{{item.title}}</a></li>
                    {% else %}
                        <li><a href="/application/index-{{item.id}}">{{item.title}}</a></li>
                    {% endif %}                   
                {% endfor %}           
            </ul>
        </nav>
    </aside>
    <section class="maincontent">
        <div class="wrap about">
          
            <h1 class="title">{{applicationArea.sub_title}}</h1>
                <h2 class="title-sub">
                    {{applicationArea.title}}
                </h2>
               
                <h3 class="title-v1">
                    应用概述：
                </h3>
                <div class="content">
                    {{applicationArea.intro|raw}}
                </div>
                {% if(applicationArea.cases) %}                    
                    <h3 class="title-v1">
                        应用案例：
                    </h3>
                    <div class="content">
                        {{applicationArea.cases|raw}} 
                    </div>                    
                {% endif %}
               
                
        </div>
    </section>
</div>
{% endblock %}