<div class="banner banner-about wow fadeInUp" style="background-image:url('{{carousel is not empty ?  carousel.image_url :''}}')">
  <div class="container">
    <h1 class="title-page">{{carousel is not empty ?  carousel.title :''}}</h1>
   
      {% if(subnavs is not empty) %}
      <nav class="submenus">
          {% for subnav in subnavs %}
              <a class="{{subnav.url == uri or subnav.url == uri ~ '/index' or uri starts with subnav.url ? 'active' : '' }}" href="{{subnav.url}}">{{subnav.title}}</a>
          {% endfor %}
      </nav>
      {% endif %}      
      
  </div>
</div>