<footer class="site-footer" id="pagefooter">
  <div class="footer_top">
    <div class="row no-gutters align-items-center wow fadeInUp">
      <div class="col-xl-auto">
        <div class="item company_name">
          <h3>{{site.company}}</h3>
          <p>ShenZhen JVE Technology Co.,Ltd</p>
        </div>
      </div>
      <div class="col-xl">
        <div class="row no-gutters contact">
          <div class="col-md">
            <div class="item">
              <div class="icon" style="background-image:url('/assets/img/phone.png')"></div>
              <p>{{site.phone}}</p>
            </div>
          </div>
          <div class="col-md">
            <div class="item add">
              <div class="icon" style="background-image:url('/assets/img/marker.png')">                     </div>
              <p>{{site.address}}</p>
            </div>
          </div>
          <div class="col-md">
            <div class="item">
              <div class="icon" style="background-image:url('/assets/img/email.png')">                   </div>
              <p>{{site.email}}</p>
            </div>
          </div>
          <div class="col-md">
            <div class="item"> 
              <nav class="social"><a href="#"><i class="iconfont icon-wechat"></i></a><a href="#"><i class="iconfont icon-sina"></i></a><a href="#"><i class="iconfont icon-user"></i></a></nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright wow fadeInUp">Copyright &copy; 2019 JVE All rights reserved.  <a href="http://www.beian.miit.gov.cn/">{{site.webnumber}}</a></div>
</footer>
