
<footer class="site-footer">
    <div class="container">
        <menu class="botnav wow slideInUp">
            {% for nav in navbot %}
                <a href="{{ nav.url }}">{{ nav.title }}</a>
            {% endfor %} 
        </menu>  
        <div class="copyright  wow slideInUp">
            <p>
                &copy; 2017 {{site.company}} 版权所有  <a href="http://www.beian.miit.gov.cn">{{site.webnumber}}</a>    |   沪公网安备 31011502002188号      
            </p>
        </div>
    </div>
</footer>
<div class="qqservice">
    <a href="javascript:void(0);" class="bg-linear totop" id="toTop"><i class="iconfont icon-up"></i></a>
</div>



