<footer class="site-footer" id="pagefooter">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-auto">
        <div class="logo wow fadeInUp"><img src="/assets/img/logo_bot.png" alt=""></div>
      </div>
      <div class="col">
        <div class="row conlist">
          <div class="col-lg-auto col-xl">
            <ul class="wow fadeInUp">
              <li> <a href="http://www.beian.miit.gov.cn/">{{site.webnumber}}</a></li>
              <li>版权所有© {{site.company}}      </li>
            </ul>
          </div>
          <div class="col-lg">
            <ul class="wow fadeInUp">                          
              <li>咨询热线：{{site.phone}}</li>
              <li>地址：{{site.address}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-auto"> 
        <div class="qrcode">
          <div class="row">
            <div class="col col-md">
              <div class="qr wow fadeInUp"><img src="/assets/img/qrcode_wechat.png" alt="">
                <div class="name">官方微信</div>
              </div>
            </div>
            <div class="col col-md">
              <div class="qr wow fadeInUp"><img src="/assets/img/qrcode_gzh.png" alt="">
                <div class="name">公众号</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>



