<header class="site-header" id="site-header">   
  <div class="row align-items-center no-gutters">
    <div class="col"><a class="logo" href="/"><img id="logo" alt="{{ site.sitename }}" src="/assets/img/logo.png"></a></div>
    <div class="col-auto">
      <div class="navlist">
        <div class="mobilemenu">
          <div class="menu-toggle">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
          </div>
        </div><a class="search" href="/search"> <i class="iconfont icon-search">           </i></a><a class="lang zh" href="#">中</a>
      </div>
    </div>
  </div>
</header>
<div class="menu-over" id="overmenu"><a class="logo" href="/"><img id="logo" src="/assets/img/logo.png"></a>
  <ul class="mobilenav">
    {% for menu in menus %}
    <li class="{{ menu.children is not empty ? 'hasnav' : '' }} ">
        <a href="{{ menu.url }}" class="{{ (menu.url != "/" and  uri starts with menu.url) or menu.url == uri ? 'active' : '' }}" data-id="nav{{menu.id}}">{{menu.title}}</a>
        {% if(menu.children is not empty) %}
        <ul class="subnav">
            {% for subnav in menu.children %}
                <li><a href="{{subnav.url}}">{{subnav.title}}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
    </li>
    {% endfor %}   
    
  </ul>
</div>
