<header class="site-header" id="site-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-auto"><a class="logo" href="/"></a></div>
      <div class="col">
        <ul class="topnav">
          {% for menu in navtop %}
          <li class="{{ menu.children is not empty ? 'hasnav' : '' }}">
              <a href="{{ menu.url }}" class="{{ (menu.url != "/" and  uri starts with menu.url) or menu.url == uri ? 'active' : '' }}" data-id="nav{{menu.id}}">{{menu.title}}</a>           
          </li>
          {% endfor %}    
        
        </ul>
        <ul class="mainav">
          {% for menu in menus %}
          <li class="{{ menu.children is not empty ? 'hasnav' : '' }}">
              <a href="{{ menu.url }}" class="{{ (menu.url != "/" and  uri starts with menu.url) or menu.url == uri ? 'active' : '' }}" data-id="nav{{menu.id}}">{{menu.title}}</a>           
          </li>
          {% endfor %}           
        </ul>
      </div>
      <div class="col-auto search"><a href="/search"> <i class="iconfont icon-chakan"></i></a></div>
      <div class="col-auto lang"><a href="#"> <i class="iconfont icon-zhongyingwen"></i></a></div>
      <div class="col-auto mobilemenu">
        <div class="menu-toggle">
          <div class="one"></div>
          <div class="two"></div>
          <div class="three"></div>
        </div>
      </div>
    </div>
    <div class="menu-over" id="overmenu">
      <ul class="mobilenav">
        {% for menu in menus %}
          <li class="{{ (menu.url != "/" and  uri starts with menu.url) or menu.url == uri ? 'active' : '' }}">
              <a href="{{ menu.url }}"  data-id="nav{{menu.id}}">{{menu.title}}</a>           
          </li>
          {% endfor %}     
       
      </ul>
      <p class="copyright">&copy;2020 {{site.sitename}} 版权所有</p>
    </div>
  </div>
</header>

