<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

        <div class="page page-about">
                <section class="container">
                    <h1 class="title title-v2">公司简介</h1>
        
                    <article>
                        <p>三达膜环境技术股份有限公司（以下简称&ldquo;三达膜&rdquo;或&ldquo;公司&rdquo;）是国内知名的以膜技术应用为核心的工业分离纯化和膜法水处理综合解决方案提供商和水务投资运营商。</p>
        
                        <p>在膜技术应用领域，三达膜能够根据客户的差异化需求提供综合解决方案：工业分离业务方面，主要帮助食品饮料、医药、生物发酵、化工、石化等行业客户，提高产品质量，降低生产成本，减少废物排放。在膜法水处理业务方面，公司应用膜技术为市政、工业、家庭用户提供供水净化、废水处理、中水回用等综合解决方案。</p>
        
                        <p>在水务投资运营领域，公司通过BOT、TOT和委托运营方式在全国范围内多个地区投资和运营市政污水处理厂。</p>
        
                        <p>三达膜科技（厦门）有限公司（以下简称&ldquo;三达膜科技&rdquo;）创建于1996年，是三达膜环境技术股份有限公司全资子公司。专业为生物、化工、制药、食品饮料等行业提供过滤及纯化综合解决方案，以及为工业、市政、民用环保等领域提供水处理解决方案，满足不同客户的高度差异化需求。业务领域集膜软件开发、工程设计、设备制造、系统集成、现场安装与售后服务为一体。</p>
        
                        <p>三达膜科技经过多年的研究与实践，成功开发出一系列膜应用技术与工艺，帮助客户进行生产工艺的上下游技术整合与创新，实现清洁生产、节能环保。三达膜科技作为中国过滤纯化的知名企业，为客户承担分离提纯工艺的关键技术。</p>
                    </article>
                </section>
            </div>

           ---------------------------------------------------------------
           
           <div class="page page-strength">
                <div class="container ">
                    <h1 class="title title-v2">研发实力</h1>
                    <p class="wow slideInUp">三达膜科技拥有博士后科研工作站和福建省膜分离工程技术研究中心，公司的研发团队研发水平高、实践经验丰富。</p>
        
                    <p class="wow slideInUp">博士后科研工作分站于2002年10月成立，致力于探索和研究膜分离技术、新型膜材料开发、移动床分离技术、膜生物反应器、膜污染、环保水处理等技术与产品开发。福建省膜分离工程技术中心是以三达膜科技为依托，组建了一支高层次、多学科结合的科技队伍。截至目前，中心完成的工艺开发大部分成功应用到制药、食品、化工、染料、冶金、水处理等领域。</p>
        
                    <div class="row wow slideInUp text-center">
                        <div class="col-md"><img src="/assets/img/about_04.jpg" /></div>
        
                        <div class="col-md"><img src="/assets/img/about_05.jpg" /></div>
        
                        <div class="col-md"><img src="/assets/img/about_06.png" /></div>
        
                        <div class="col-md"><img src="/assets/img/about_07.jpg" /></div>
                    </div>
                </div>
            </div>

            -------------------------------------------------------------------

        <div class="honor-content">
                <div class="txtlist">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="item">
                                <h3 class="title">
                                    福建省百万职工五小创新大赛-二等奖
                                </h3>
                                <ul>
                                    <li>科研成果：一体化标准污水处理工艺开发及设备的研制</li>
                                    <li>颁发机构：福建省总工会</li>
                                    <li>颁发时间：2018年7月</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="item">
                                <h3 class="title">
                                    2018福建省百万职工五小创新大赛-三等奖
                                </h3>
                                <ul>
                                    <li>科研成果：维生素C生产中高压浓缩工艺开发</li>
                                    <li>颁发机构：福建省总工会</li>
                                    <li>颁发时间：2018年7月</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="item">
                                <h3 class="title">
                                    2018福建省百万职工五小创新大赛-三等奖
                                </h3>
                                <ul>
                                    <li>科研成果：凝胶注模法平板碳化硅膜开发</li>
                                    <li>颁发机构：福建省总工会</li>
                                    <li>颁发时间：2018年7月</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="item">
                                <h3 class="title">
                                    2018福建省百万职工五小创新-二等奖
                                </h3>
                                <ul>
                                    <li>科研成果：含酶高效膜清洗剂系列产品开发</li>
                                    <li>颁发机构：福建省总工会</li>
                                    <li>颁发时间：2018年7月</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="item">
                                <h3 class="title">
                                    中国膜工业协会科学技术奖二等奖
                                </h3>
                                <ul>
                                    <li>科研成果：高效化工废水零排放膜技术集成应用新工艺</li>
                                    <li>颁发机构：中国膜工业协会</li>
                                    <li>颁发时间：2018年4月</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="holist">
                    <div class="row">
                        <div class="col-md-4 col-lg-3">
                            <div class="item">
                                <img src="/assets/img/temp/ho01.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="item">
                                <img src="/assets/img/temp/ho02.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="item">
                                <img src="/assets/img/temp/ho03.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="item">
                                <img src="/assets/img/temp/ho04.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="item">
                                <img src="/assets/img/temp/ho05.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="item">
                                <img src="/assets/img/temp/ho06.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="item">
                                <img src="/assets/img/temp/ho07.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="item">
                                <img src="/assets/img/temp/ho08.jpg" alt="">
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-3">
                            <div class="item">
                                <img src="/assets/img/temp/ho09.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="item">
                                <img src="/assets/img/temp/ho10.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="item">
                                <img src="/assets/img/temp/ho11.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="item">
                                <img src="/assets/img/temp/ho12.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="item">
                                <img src="/assets/img/temp/ho13.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="item">
                                <img src="/assets/img/temp/ho14.jpg" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
</body>
</html>