
{% extends "shared/layout.html" %}

{% block title %}首页{% endblock %}
{% block head %}
    {{ parent() }}
 
    <link rel="stylesheet" href="/assets/js/vendor/swiper/css/swiper.min.css">
{% endblock %}
{% block content %}

<section class="sliders swiper-container wow fadeInUp">
  <div class="swiper-wrapper">
  {% for item in carousels %}
    <div class="swiper-slide" style="background-image:url({{item.image_url}});"></div>
  {% endfor %}
  </div>
  <div class="swiper-pagination"></div>
</section>
 <div class="page-home">        
      <section class="s1">           
        <div class="title"> 
          <h2 class="wow fadeInLeft">非我产品</h2>
          <h3 class="wow fadeInRight">PRODUCTS</h3>
        </div>
        <div class="pic01 wow slideInLeft"><img src="/assets/img/home_s1_01.jpg" alt="">
          <p>JVE 001</p>
        </div>
        <div class="pic02 wow slideInRight"><img src="/assets/img/home_s1_03.png" alt="">
          <p>JVE 002</p>
        </div>
        <div class="pic03 wow fadeInUp"><img src="/assets/img/home_s1_02.jpg" alt="">
          <p>JVE 003</p>
        </div>
        <div class="pic04 wow slideInLeft"><img src="/assets/img/home_logo.png" alt=""></div>
      </section>
      <section class="s2">
        <div class="pic wow fadeInRight"><img src="/assets/img/s2_01.png" alt=""></div>
        <div class="txt wow fadeInLeft">在别人眼中也许毫无意义，<br>但每次尝试都更激发我的动力，<br>why not？
          <h3>just love！</h3>
        </div>
      </section>
      <section class="s2_odd">
        <div class="pic wow fadeInLeft"><img src="/assets/img/s2_02.jpg" alt=""></div>
        <div class="txt wow fadeInRight">在无数被质疑的路上特立独行，<br>但没有喝彩的时候头脑更加清晰，<br>why not？
          <h3>just love！</h3>
        </div>
      </section>
      <section class="s2">
        <div class="pic wow fadeInRight"><img src="/assets/img/s2_01.png" alt=""></div>
        <div class="txt wow fadeInLeft">圆滑世故或许永远学不会，<br>但攻克专业难题我从不喊累，<br>why not？
          <h3>just love！</h3>
        </div>
      </section>
    </div>


  
  
{% endblock %}

{% block footer %}
<script src="/assets/js/vendor/swiper/js/swiper.min.js"></script>

    <script>
        var swiper = new Swiper('.sliders', {
          pagination: {
              el: '.swiper-pagination',
              clickable: true
          },
          autoplay: {
              delay: 2500,
              disableOnInteraction: false,
          },
          //- navigation: {
          //-     nextEl: '.swiper-button-next',
          //-     prevEl: '.swiper-button-prev',
          //- },
      });
      
      
 
    
    
    </script>
    {% endblock %}