.toolbar {
  padding: 0 10px 0 0;
  line-height: 36px;
}
.toolbar a.showmenu {
  display: block;
  height: 36px;
  width: 36px;
  text-align: center;
  float: left;
}
.toolbar .breadcrumb {
  margin: 0 0 0 45px;
  padding: 0;
}

