
.wrapper {
    display: grid;
    min-height: 100%;
    grid-template-columns: 200px auto;
    transition: all .25s;

    &.closeSider {
       
        grid-template-columns: 60px auto;
        transition: all .25s;
        
    }
}

.leftcol {
    min-height: 100%;
    grid-column: 1 / 2;
    grid-row: 1;

    .logo {
        padding: 7px 15px 15px;
        border-bottom: 1px lighten($color_dark_bg,8%) solid;

        img {
            max-height: 30px;
            display: block;
            margin: 7px auto;
            max-width: 100%;
        }
    }

}

.rightcol {
    grid-column: 2;
    grid-row: 1;
    position: relative;
    display: grid;
    grid-template-rows: 60px 36px auto 50px;

    .page-header {
        grid-column: 1;
        grid-row: 1;
        .navbar-brand {
            .iconfont {
                font-size: 1.6rem;
                color: $color_text;
            }
        }

        .avatar {
            height: 30px;
            width: 30px;object-fit:cover;object-position:center center;
            border-radius: 15px;margin: 0 .8rem 0 .6rem;
        }
        a{
            text-decoration:none;
        }
    }

    .toolbar {
        grid-column: 1;
        grid-row: 2;
    }

    .maincontent {
        grid-column: 1;
        grid-row: 3;
        padding: 15px 30px;
    }

    .page-footer {
        grid-column: 1;
        grid-row: 4;
        line-height: 50px;
        text-align: center;
        font-size: smaller;
    }
}