.mainmenu {
    padding-top: 1rem;
    &>li {
        &>a {
            padding: .7rem .6rem .7rem 1rem;
            text-decoration: none;
            display: block;
            color: $color_dark_text;
            transition: all .25s;
            font-size: 14px;
            position: relative;
            i.fa-fw {
                margin-right: .4rem;
                color: #9d9fa1;
            }
            i.iconfont {
                transition: all .25s;
            }
            i.icon-left {
                position: absolute;
                right: .6rem;
                top: 1rem;
                z-index: 100;
                font-size: 12px;
            }
            &:hover {
                color: #fff;
            }
            &.active {
                background-color: #393d41;
                color: #fff;
            }
        }
        &.nav-open {
            &>a {
                color: #fff;
                i.fa-fw {
                    color: #fff;
                }
                i.icon-left {
                    transform: rotate(-90deg);
                    transition: all .25s;
                }
            }
        }
        ul.subnav {
            display: none;
            list-style: none;
            margin: 0;
            padding: .3rem 0;
            li {
                a {
                    padding-left: 2.55rem;
                    display: block;
                    padding-top: .5rem;
                    padding-bottom: .5rem;
                    text-decoration: none;
                    transition: all .25s;
                    color: #999;
                    font-size: .875rem;
                    &:hover {
                        color: #fff;
                    }
                    &.active {
                        color: #fff;
                        background-color: lighten($color_dark_bg, 5%);
                    }
                }
            }
        }
        &.nav-open {
            ul.subnav {
                display: block;
            }
        }
    }
}

.closemenu a {
    display: block;
    float: right;
    background-color: rgba(255, 255, 255, .1);
    width: 40px;
    padding: 0 5px;
    border-radius: 15px 0 0 15px;
    line-height: 30px;
    font-size: 1rem;
    color: $color_text;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
    height: 30px;
    text-decoration: none;
    &:hover {
        color: #fff;
    }
}

.closeSider {
    .nav-text {
        display: none;
    }
    .mainmenu {
        &>li {
            position: relative;
            &>a {
                i.iconfont {
                    font-size: 1.675rem;
                }
                i.icon-left {
                    right: .3rem;
                    top: 1.425rem;
                    font-size: 12px;
                }
            }
            ul.subnav {
                position: absolute;
                background-color: #fff;
                width: 150px;
                z-index: 2000;
                left: 60px;
                top: 0;
                box-shadow: 0 0 8px rgba(0, 0, 0, .15);
                border-radius: 0 6px 6px 0;
                li {
                    border-bottom: 1px #eee solid;
                    &:last-child {
                        border: none;
                    }
                    a {
                        padding-left: 1rem;
                        &:hover {
                            color: $color_text;
                        }
                        &.active {
                            color: $color_title;
                            background-color: transparent;
                        }
                    }
                }
            }
            &.nav-open {
                &>a {
                    i.icon-left {
                        top: 1.425rem;
                        transform: rotate(-180deg);
                        transition: all .25s;
                    }
                }
                ul.subnav {
                    display: none;
                }
            }
        }
    }
    .closemenu {
        a {
            float: left;
            transform: rotate(-180deg);
        }
    }
}