@import "variables";
@import "common";
@import "layout";
@import "breadcrumb";
@import "nav";
@import "table";
@import "tree";
@import "colors";

html{
  height: 100%;
}
body {
    background-color: #fff;
    min-height: 100%;
    height: 100%;
    color: $color_text;
    font-family: "Microsoft YaHei",'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
}

.pageSize{
  text-align: right;
  label{
    margin-left: .8rem;
  }
  .pagination{
    display: inline-block;width: auto;
  }
}

.button_toolbar{
  text-align: right;
  margin-bottom: .6rem;
}

