.page-item a {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25; }

.page-item.active a {
  z-index: 1; }

.img-circle {
  border-radius: 50%;
  object-fit: cover; }

.hidden {
  display: none; }

.wrapper {
  display: grid;
  min-height: 100%;
  grid-template-columns: 200px auto;
  transition: all .25s; }
  .wrapper.closeSider {
    grid-template-columns: 60px auto;
    transition: all .25s; }

.leftcol {
  min-height: 100%;
  grid-column: 1 / 2;
  grid-row: 1; }
  .leftcol .logo {
    padding: 7px 15px 15px;
    border-bottom: 1px #42474d solid; }
    .leftcol .logo img {
      max-height: 30px;
      display: block;
      margin: 7px auto;
      max-width: 100%; }

.rightcol {
  grid-column: 2;
  grid-row: 1;
  position: relative;
  display: grid;
  grid-template-rows: 60px 36px auto 50px; }
  .rightcol .page-header {
    grid-column: 1;
    grid-row: 1; }
    .rightcol .page-header .navbar-brand .iconfont {
      font-size: 1.6rem;
      color: #666; }
    .rightcol .page-header .avatar {
      height: 30px;
      width: 30px;
      object-fit: cover;
      object-position: center center;
      border-radius: 15px;
      margin: 0 .8rem 0 .6rem; }
    .rightcol .page-header a {
      text-decoration: none; }
  .rightcol .toolbar {
    grid-column: 1;
    grid-row: 2; }
  .rightcol .maincontent {
    grid-column: 1;
    grid-row: 3;
    padding: 15px 30px; }
  .rightcol .page-footer {
    grid-column: 1;
    grid-row: 4;
    line-height: 50px;
    text-align: center;
    font-size: smaller; }

.toolbar {
  padding: 0 10px 0 0;
  line-height: 36px; }

.toolbar a.showmenu {
  display: block;
  height: 36px;
  width: 36px;
  text-align: center;
  float: left; }

.toolbar .breadcrumb {
  margin: 0 0 0 45px;
  padding: 0; }

.mainmenu {
  padding-top: 1rem; }
  .mainmenu > li > a {
    padding: .7rem .6rem .7rem 1rem;
    text-decoration: none;
    display: block;
    transition: all .25s;
    font-size: 14px;
    position: relative; }
    .mainmenu > li > a i.fa-fw {
      margin-right: .4rem; }
    .mainmenu > li > a i.iconfont {
      transition: all .25s; }
    .mainmenu > li > a i.icon-left {
      position: absolute;
      right: .6rem;
      top: 1rem;
      z-index: 100;
      font-size: 12px; }
  .mainmenu > li.nav-open > a i.icon-left {
    transform: rotate(-90deg);
    transition: all .25s; }
  .mainmenu > li ul.subnav {
    display: none;
    list-style: none;
    margin: 0;
    padding: .3rem 0; }
    .mainmenu > li ul.subnav li a {
      padding-left: 2.55rem;
      display: block;
      padding-top: .5rem;
      padding-bottom: .5rem;
      text-decoration: none;
      transition: all .25s;
      font-size: .875rem; }
  .mainmenu > li.nav-open ul.subnav {
    display: block; }

.closemenu a {
  display: block;
  float: right;
  width: 40px;
  padding: 0 5px;
  border-radius: 15px 0 0 15px;
  line-height: 30px;
  font-size: 1rem;
  height: 30px;
  text-decoration: none; }

.closeSider .nav-text {
  display: none; }

.closeSider .mainmenu > li {
  position: relative; }
  .closeSider .mainmenu > li > a i.iconfont {
    font-size: 1.675rem; }
  .closeSider .mainmenu > li > a i.icon-left {
    right: .3rem;
    top: 1.425rem;
    font-size: 12px; }
  .closeSider .mainmenu > li ul.subnav {
    position: absolute;
    width: 150px;
    z-index: 2000;
    left: 60px;
    top: 0;
    border-radius: 0 6px 6px 0; }
    .closeSider .mainmenu > li ul.subnav li:last-child {
      border: none; }
    .closeSider .mainmenu > li ul.subnav li a {
      padding-left: 1rem; }
  .closeSider .mainmenu > li.nav-open > a i.icon-left {
    top: 1.425rem;
    transform: rotate(-180deg);
    transition: all .25s; }
  .closeSider .mainmenu > li.nav-open ul.subnav {
    display: none; }

.closeSider .closemenu a {
  float: left;
  transform: rotate(-180deg); }

.table-vmiddle td {
  vertical-align: middle; }

.table th {
  white-space: nowrap; }

.menuTree {
  list-style: none;
  padding-left: 15px; }
  .menuTree li {
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14px; }
    .menuTree li a {
      font-size: 14px; }
    .menuTree li ul {
      list-style: none;
      padding: 0;
      margin: 0 0 0 5px; }
      .menuTree li ul li {
        padding-left: 25px;
        background: url(../img/line.png) no-repeat left 16px; }

.menuTreeRole li {
  padding-top: 3px;
  padding-bottom: 3px; }
  .menuTreeRole li label {
    font-weight: normal; }

html {
  height: 100%; }

body {
  min-height: 100%;
  height: 100%;
  color: #666;
  font-family: "Microsoft YaHei", 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif; }

.pageSize {
  text-align: right; }
  .pageSize label {
    margin-left: .8rem; }
  .pageSize .pagination {
    display: inline-block;
    width: auto; }

.button_toolbar {
  text-align: right;
  margin-bottom: .6rem; }
