{% extends "shared/layout.html" %}
{% block title %}
  {% if metadata.title %}
    {{metadata.title}}
  {% else %}
    FAQ
  {% endif %}
    
{% endblock %}
{% block head %}
    {{ parent() }}    
    <meta name="keywords" content="{{metadata.keywords}}">
    <meta name="description" content="{{metadata.description}}">
{% endblock %}
{% block content %}
  
{{ include('shared/resourceNav.html') }}


  <div class="page page-faq">
    <section class="s1 container">   
        {% for item in categories %}
        <div class="title-section-v5">
            <h2>{{item.title}}</h2><img class="line" src="img/line.png" alt="">
          </div>

          <div class="faqlist">   
                {% for question in item.questions %}
                <div class="box"><a class="title wow fadeInUp" href="#"> <span>{{loop.index}}.</span>{{question.title}}
                    <div class="icon"></div></a>
                    <p class="answer">
                      {{question.answer}}
                    </p>
                </div>
                {% endfor %}   
          </div>
            
        {% endfor %}     
      
      
  
    </section>
  </div>


  
  
{% endblock %}

{% block footer %}
    <script>
      $('.box a.title').click(function(e){  
          e.preventDefault();
          $(this).next().slideToggle()
          $(this).find('.icon').toggleClass('open');        
          //$(this).next().slideDown();
      })
    </script>
{% endblock %}