{% extends "shared/layout.html" %}
{% block title %}
  {% if metadata.title %}
    {{metadata.title}}
  {% else %}
    Gallery
  {% endif %}
    
{% endblock %}

{% block head %}
    {{ parent() }} 
    <link href="/assets/js/vendor/lightbox2/dist/css/lightbox.min.css" rel="stylesheet">
    <meta name="keywords" content="{{metadata.keywords}}">
    <meta name="description" content="{{metadata.description}}">
{% endblock %}

{% block content %}
  
{{ include('shared/resourceNav.html') }}

  <div class="page page-gallery">
    <section class="gallery container"> 
      <div class="row">      
        {% for item in photos %}
            <div class="col-md-6 col-lg-4"><a class="item wow fadeInUp" href="{{item.image_url}}" data-lightbox="roadtrip"> 
                <div class="pic"> <img src="/img.php?src={{item.image_url}}&amp;w=380&amp;h=250&amp;crop-to-fit" alt="{{item.title}}">
                <div class="over"></div>
                </div>
                <div class="des">{{item.title}}</div></a>
            </div>

        {% endfor %}                            
        
      
      </div>
    </section>
  </div>

    
{% endblock %}


{% block footer %}
    <script src="/assets/js/vendor/lightbox2/dist/js/lightbox.min.js"></script>
    <script>
       lightbox.option({
          'resizeDuration': 200,
           'wrapAround': true
      })
    </script>
{% endblock %}