{% extends "shared/layout.html" %}
{% block title %}

  {% if metadata.title %}
    {{metadata.title}}
  {% else %}
    Technical Specification
  {% endif %}
    
{% endblock %}
{% block head %}
    {{ parent() }}  
    <meta name="keywords" content="{{metadata.keywords}}">
    <meta name="description" content="{{metadata.description}}">
{% endblock %}
{% block content %}
  
{{ include('shared/resourceNav.html') }}

  <div class="page page-downloads">
    <section class="doclist container"> 
      <div class="row">  
        {% for item in downloads %}
            <div class="col-6 col-md-4 col-lg-3">
                <div class="item wow fadeInUp">
                <div class="pic"> <img src="{{item.thumbnail}}" alt="{{item.title}}">
                    <div class="over"></div>
                </div>
                <div class="des"> 
                    <p>{{item.title}}</p><a class="btn btn-primary-outline" href="{{item.file_url}}" data-lightbox="roadtrip">DOWNLOAD</a>
                </div>
                </div>
            </div>
        {% endfor %}              

      </div>
      <footer class="download-footer">      
        {% if paginator.numPages > 1 %}
            <ul class="pagination">
                {% if paginator.prevUrl %}
                    <li class="page-item"><a class="page-link" href="{{ paginator.prevUrl }}">&laquo;</a></li>
                {% endif %}

                {% for page in paginator.pages %}
                    {% if page.url %}
                        <li {{ page.isCurrent ? 'class="page-item active"' : 'page-item' }}><a class="page-link" href="{{ page.url }}">{{ page.num }}</a></li>
                    {% else %}
                        <li class="page-item disabled"><span>{{ page.num }}</span></li>
                    {% endif %}
                {% endfor %}

                {% if paginator.nextUrl %}
                    <li class="page-item"><a class="page-link" href="{{ paginator.nextUrl }}">&raquo;</a></li>
                {% endif %}
            </ul>
        {% endif %}
     
    </footer>
    </section>
  </div>



  
{% endblock %}