<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    ---------------------------应用领域 详情模板--------------------------------------------------------
    <div class="title-se-art wow fadeInUp">
            <h3>
                应用简介
            </h3>
        </div>
        <div class="se wow fadeInUp">
            <p>海水中含有大量盐类和多种元素，其中许多元素是人体所需要的。但海水中各种物质浓度太高，远远超过饮用水卫生标准，如果大量饮用，会导致某些元素过量进入人体，影响人体正常的生理功能，还会导致人体脱水，严重的还会引起中毒。</p>
            <p>地球表面约有70%以上为水所覆盖，其余约占地球表面30%的陆地也有水的存在。其中淡水储量为3.5×108亿m3，占总储量的2.53%。由于开发困难或技术经济的限制，到目前为止，海水、深层地下水、冰雪固态淡水等还很少被直接利用。比较容易开发利用的、与人类生活生产关系最为密切的湖泊、河流和浅层地下淡水资源，只占淡水总储量的0.34%，为104.6×104亿m3，还不到全球水总储量的万分之一，并且这部分水分布极不均匀。随着着经济的发展和人口的增加，世界用水量在逐年增加。以利用海水淡化技术向海洋取水是未来的发展趋势，而反渗透法海水淡化是现阶段的发展重心。</p>
            <p>三达采用以膜技术为核心的零排放工艺，工艺采用预处理、膜集成以及蒸发结晶等多项工艺，微滤膜可以回收其中的纤维，较好的去除COD和BOD，超滤膜可以回收废水中的木质素和纸浆纤维，纳滤膜和反渗透膜用于去除废水中的盐分。 </p>
        </div>
        <div class="title-se-art wow fadeInUp">
            <h3>
                工艺流程
            </h3>
        </div>
        <div class="se wow fadeInUp">
            <div class="img-box ">
                <img src="/assets/img/temp/app_02.jpg" alt="工艺流程">
            </div>

        </div>
        <div class="title-se-art wow fadeInUp">
            <h3>
                工艺应用
            </h3>
        </div>
        <div class="se wow fadeInUp">
            <h4 class="dot-title">
                混凝沉淀
            </h4>
            <p>通过向水中投加混凝药剂，既可以降低原水的浊度、色度等水质的感观指标，又可以去除多种有毒有害污染物，针对浊度较高的海水使用。</p>
            <h4 class="dot-title">
                混凝沉淀
            </h4>
            <p>通过向水中投加混凝药剂，既可以降低原水的浊度、色度等水质的感观指标，又可以去除多种有毒有害污染物，针对浊度较高的海水使用。</p>
            <h4 class="dot-title">
                混凝沉淀
            </h4>
            <p>通过向水中投加混凝药剂，既可以降低原水的浊度、色度等水质的感观指标，又可以去除多种有毒有害污染物，针对浊度较高的海水使用。</p>
            <h4 class="dot-title">
                混凝沉淀
            </h4>
            <p>通过向水中投加混凝药剂，既可以降低原水的浊度、色度等水质的感观指标，又可以去除多种有毒有害污染物，针对浊度较高的海水使用。</p>
        </div>

        <div class="title-se-art wow fadeInUp">
            <h3>
                案例分析
            </h3>
        </div>
        <div class="se wow fadeInUp">
            <div class="row">
                <div class="col-md-6">
                    <div class="case">
                        <img src="/assets/img/temp/app_03.jpg" alt="造纸行业亚海水淡化项目">
                        <p>造纸行业亚海水淡化项目</p>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="case">
                        <img src="/assets/img/temp/app_04.jpg" alt="造纸行业亚海水淡化项目">
                        <p>造纸行业亚海水淡化项目</p>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>