.page-events{
    .list-events{
     
            border-top: 1px #d2d2d2 solid;
       
        time{
            color: $color-text-weak;
        }
    }
    .s2{
        position: relative;
        padding-left: 337px;
        min-height: 450px;
    }
    
}
.page-events-detail{
   .detail{
       margin-bottom: 5rem;
   }
}