.site-header {   
    -webkit-transition: all .2s;
    transition: all .2s;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3000;
    width: 100%;
    background-color: transparent;

  
.row-main{
    height: 45px;
    @media (min-width: 768px) {
        height: 72px;
    }
}
    .logo {
        display: block;
       
       
        z-index: 9000;

        @include respond-above(sm) {         
            width: rem(149);
        }

        img {
            max-width: 100%;
            transition: all .2s;
            display: block;
        }
    }
    .search{
        a{
            color: #fff;
        }
    }
    .langs{
        color: #fff;
        a{
            color: #fff;
        }
    }
.pcmainav{
    .mainav {
        @include reset-list; margin-top: -6px;
        display: none;

        @include respond-above(md) {
            display: block;
        }

        &>li {
            display: inline-block;
            position: relative;

            &>a {
                display: block;
                color: #fff;
                position: relative;
                padding: 0 .8rem;

                height: rem(72);
                line-height: rem(72);
            }



            .subnav {
                @include reset-list;
                padding: 0;
                position: absolute;
                left: 0;
                border-radius: 6px;
                width: 240px;
                background-color: #fff;
                top: rem(72);
                height: 0;
                transition: all .2s;
                opacity: 0;
                overflow: hidden;

                li {
                    border-bottom: 1px #eee solid;
                    float: none;

                    &:last-child {
                        border-bottom: none;
                    }

                    padding: 0 1rem;

                    @include hover {
                        background-color: lighten($color-primary, 45%);
                    }

                    a {
                        display: block;
                        padding: .6rem 0;
                        font-size: rem(14);
                        color: $color-text-heading;

                        @include hover {
                            color: $color-primary;


                        }
                    }
                }
            }

            &.down {
                @include hover {
                    &>a {
                        color: lighten($color-primary, 30%);
                    }

                    .subnav {
                        height: auto;
                        opacity: 1;
                        box-shadow: 3px 3px 5px rgba(0, 0, 0, .1)
                    }

                    &::after {
                        content: " ";
                        display: block;
                        position: absolute;
                        left: 50%;
                        bottom: 0;
                        height: 0;
                        width: 0;
                        z-index: 100;
                        transition: all .2s;
                        border: .5rem solid #fff;
                        border-left-color: transparent;
                        border-right-color: transparent;
                        border-top-color: transparent;
                        margin-left: -.5rem;
                    }

                }
            }

        }
    }
}
    

    &.fixheader {
        background-color: $color-primary;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 8000;

    }

    .searchbox {
        display: none;
    }

    &.forSearch {
        height: 250px;
        background-color: $color-accent;

        .searchbox {
            display: block;
            padding-top: 2.5rem;
            border-bottom: 1px #fff solid;

            input {
                width: 100%;
                font-size: rem(30);
                padding: .8rem 1rem;
                background-color: transparent;
                border: none;
                outline: none;
                color: #fff;
            }

            button {
                background-color: transparent;
                border: none;
                color: #fff;
                cursor: pointer;
                padding: .8rem;

                .iconfont {
                    font-size: rem(30);
                }
            }
        }
    }
}


.menu-col{
    padding-top: .3rem;
    @include respond-above(sm) {
        padding-top: .5rem;
    }
    @include respond-above(md) {
        display: none;
       
    }
}



.menu-toggle {

    width: 28px;
    height: 28px;
   
    cursor: pointer;
   
    @include respond-above(sm) {
        top: 22px;
        right: 15px;
    }

}


.menu-toggle.on .one {
    transform: rotate(45deg) translate(3px, 5px);
}

.menu-toggle.on .two {
    opacity: 0;
}

.menu-toggle.on .three {
    transform: rotate(-45deg) translate(6px, -8px);
}

.one,
.two,
.three {
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin: 6px auto;
    backface-visibility: hidden;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.overmenu {
    position: fixed;
    left: 0;
    top: 45px;
    width: 100%;
    height: calc(100% - 45px);
    z-index: 1000;
    background-color: #fff;
    display: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, .15);

    @include respond-above(sm) {
        top: 72px;
        height: calc(100% - 72px);
    }
    ul.mainav {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
        overflow-y: auto;     


        &>li {
            position: relative;
            transition: all .2s;           
    
            &>a {
               
                display: block;
                color: #333;
          
                position: relative;
    
                padding: .6rem 1rem;
                border-bottom: 1px #ddd solid;
                @include hover {
                    color: $color-primary;
                }
    
                &.active {
                    color: $color-primary;
    
                }
            }
            &.down{
                position: relative;
                &::after{
                    content: " ";
                    display: block;
                    width: 0;
                    height: 0;
                    border:6px solid #999;
                    border-bottom-color: transparent;
                    border-left-color: transparent;
                    border-right-color: transparent;
                    position: absolute;
                    top: 21px;
                    right: 1rem;
                    z-index: 5000;
                }
            }
            &.open{
                &::after{
                
                    border:6px solid #999;
                    border-top-color: transparent;
                    border-left-color: transparent;
                    border-right-color: transparent;
                
                    top: 14px;
                 
                }
            }
            .subnav{
                @include reset-list;
                display: none;
                li{
                    padding-left: 2rem;
                    a{
                        display: block;
                        padding: .5rem 1rem .5rem 0;
                        border-bottom: 1px #eee solid;    color: #666;
                        font-size: rem(14);
                    }
                }
            }
    
        }
    
    
    }
    
}

