.banner {
    background-color: $color-primary;
    background-size: cover;
    height: 150px;
    background-position: center center;
    background-repeat: no-repeat;
   
    .page-title{
        padding-top: 3.5rem;
        color: #fff;
        @include  respond-above(sm){
            padding-top: 7rem;
         }
        @include  respond-above(md){
            padding-top: 10rem;
         }
         @include  respond-above(lg){
            padding-top: 13rem;
         }
        h1{
           
           margin: 0; font-weight: lighter;
            font-size: rem(24);
            @include  respond-above(sm){
                font-size: rem(32);
            }
            @include  respond-above(md){
                font-size: rem(48);
            }
            @include  respond-above(lg){
                font-size: rem(60);
            }
            
        }
        p{
            margin: 0;
            font-weight: lighter;
            font-size: rem(12);
            @include  respond-above(sm){
                font-size: rem(14);
             }
            @include  respond-above(md){
               font-size: 1rem;
            }
        }
    }
  
    @include respond-above (sm) {       
          height: 280px;          
    }
    @include respond-above (md) {       
        height: 400px;          
    }
    @include respond-above (lg) {       
        height: 550px;          
    }   
    &.banner-story {   
        background-image:url(../img/banners/story.jpg);      
     }
 
}

.page{
    padding-top: 2rem;
    padding-bottom: 2rem;
    @include respond-above (sm) {       
        padding-top: 3rem;
        padding-bottom: 3rem;   
  }
  @include respond-above (md) {       
    padding-top: 4rem;
    padding-bottom: 4rem;    
  }
  @include respond-above (lg) {       
    padding-top: 5rem;
    padding-bottom: 5rem;   
  }   
}


.list{
    margin-bottom: 1rem;
}


a.yellow {
    display: inline-block;
    position: relative;

    &::after {
        content: " ";
        display: block;
        height: 0;
        width: 100%;
        background-color: $color-primary;
        margin-top: -13px;
        transition: all .2s;
    }

    &:hover {
        color: $color-text-heading !important;

        &::after {
            height: rem(10);
        }
    }
}



.page-home {
    padding-bottom: 5rem;

    .s1 {
        max-width: 45rem;
        margin: 0 auto 3rem;
     
        text-align: center;
        padding: 0 1rem;
        @include respond-above(sm) {
            font-size: rem(24);
        }
        @include respond-above(md) {
            padding-top: 2rem;
            margin: 0 auto 5rem;
        }

    }

    .goodcase {
        @include respond-above(lg) {
            padding-left: 5rem;
            padding-right: 5rem;
        }

        &.s3 {
            .item {

                margin: 0 0 16px;
                @include respond-above(sm) {
                    margin: 0 -15px 0;
                }
               
                a {
                    display: block;
                    overflow: hidden;

                    img {
                        width: 100%;
                        display: block;
                        transition: all .2s;
                    }

                    &:hover {
                        img {
                            transform: scale(1.1)
                        }
                    }
                }

            }
        }

    }

    .s2 {
        margin-bottom: 2rem;

        @include respond-above(md) {
            margin-bottom: 3rem;
        }

        @include respond-above(lg) {
            margin-bottom: 4rem;
        }
    }
}


.categories {
    text-align: center;

    .item {
        margin-bottom: 1rem;

        .icon {

            @include respond-above(md) {
                margin-bottom: .8rem;
            }

            a {
                img {
                    transition: all .2s;
                    width: rem(100);
                }

                &:hover {
                    img {
                        transform: scale(.8);
                    }
                }
            }
        }

        h3 {
            font-size: 1.125rem;
            margin: 0;

            @include respond-above(md) {
                font-size: rem(20);
            }

            a {
                color: #666;
                display: inline-block;
                position: relative;
                padding: 0 .8rem;

                &::after {
                    content: " ";
                    display: block;
                    height: 0;
                    background-color: $color-primary;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    z-index: -1;
                    left: 0;
                    transition: height .2s;
                }

                &:hover {
                    color: #333;

                    &::after {

                        height: 1rem;

                    }
                }
            }
        }

        small {
            color: #ccc;
            text-transform: uppercase;
        }
    }
}

.site-footer {
    background: #333;
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-size: 0.875rem;
    color: #999;

    a {
        color: #999;

        &:hover {
            color: #fff;
        }
    }

    .footer-top {
        margin-bottom: 1rem;

        .leftcol {
            border-bottom: 1px #444 solid;
            margin-bottom: 2rem;

            @include respond-above(sm) {
                border-bottom: none;
                margin-bottom: 0;
            }
        }

        .bot_logo {
            width: rem(120);
            margin: 0 auto;

            @include respond-above(sm) {
                margin: 0 auto 0 0;
            }
        }

        h3 {
            text-align: center;

            @include respond-above(sm) {
                text-align: left;
            }
        }
    }

    .contact {
        margin: 0 0 1rem;
        padding: 0;
        list-style: none;

        li {
            padding: .3rem 0 .3rem 2rem;
            position: relative;

            i.iconfont {
                color: #777;
                font-size: 1.235rem;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 100;
            }
        }
    }

    .bot-nav {
        border-left: 1px #444 solid;
        padding-left: 6rem;
        display: none;

        @include respond-above(md) {
            display: block;
        }

        dl.nav {
            padding: 0;
            margin: 0;

            dt {
                font-size: 1rem;
                font-weight: bold;
                margin-bottom: 1rem;
                color: #666;
            }

            dd {
                margin: 0;
                font-size: 0.875rem;
                padding: 5px 0;

            }
        }
    }

    .qrcode {
        width: 8.6rem;
        display: block;
        margin: 0 auto;
    }

    .copyright {
        border-top: 1px #444 solid;
        text-align: center;
        padding-top: 1rem;
    }

}

.qqservice {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 2000;
    width: 3rem;
}

.totop {
    display: block;
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;

    border-radius: 50%;
    opacity: .5;
    transition: opacity .2s;
    background-color: $color-primary;
    color: #000;

    &:hover {
        opacity: 1;
    }

    @include respond-above(sm) {
        bottom: 2rem;
        right: 2rem;
    }
}
