@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.ttf');
    /* IE9+ */
}

.container {
    @include respond-above(lg) {
        max-width: 1210px;
    }
}

.banner {
    background-color: $color-primary;
    background-size: cover;
    height: 150px;
    background-position: center center;
    background-repeat: no-repeat;

    .page-title {
        padding-top: 3.5rem;
        color: #fff;
        position: relative;
        height: 100%;

        @include respond-above(sm) {
            padding-top: 7rem;
        }

        @include respond-above(md) {
            padding-top: 10rem;
        }

        @include respond-above(lg) {
            padding-top: 13rem;
        }

        .down {
            position: absolute;
            left: 0;
            padding: 0 15px 2.5rem;
            bottom: 0;
            z-index: 100;
            line-height: 1.5;

            .date {
                font-size: rem(24);
            }
        }

        h1 {

            margin: 0;
            font-weight: lighter;
            font-size: rem(24);

            @include respond-above(sm) {
                font-size: rem(32);
            }

            @include respond-above(md) {
                font-size: rem(48);
            }

            @include respond-above(lg) {
                font-size: rem(60);
            }

        }

        p {
            margin: 0;
            font-weight: lighter;
            font-size: rem(12);

            @include respond-above(sm) {
                font-size: rem(14);
            }

            @include respond-above(md) {
                font-size: 1rem;
            }
        }
    }

    @include respond-above (sm) {
        height: 280px;
    }

    @include respond-above (md) {
        height: 400px;
    }

    @include respond-above (lg) {
        height: 550px;
    }

    &.banner-story {
        background-image: url(../img/banners/story.jpg);
    }

    &.banner-support {
        background-image: url(../img/banners/support.jpg);
    }

    &.banner-disease {
        background-image: url(../img/banners/disease.jpg);
    }

    &.banner-cards {
        background-image: url(../img/banners/cards.jpg);
    }

    &.banner-operation {
        background-image: url(../img/banners/operation.jpg);
    }

    &.banner-events {
        background-image: url(../img/banners/events.jpg);
    }

    &.banner-school {
        background-image: url(../img/banners/school.jpg);
    }

    &.banner-creative {
        background-image: url(../img/banners/creative.jpg);
    }
}

.page {
    overflow: hidden;
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include respond-above (sm) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    @include respond-above (md) {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    @include respond-above (lg) {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

.title {
    color: $color-text-heading;
    font-weight: lighter;
}

.list {
    margin-bottom: 1rem;
}

.godown {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    z-index: 6000;

    margin-left: -25px;

    a {
        color: #fff;
        display: block;
        text-align: center;
        width: 50px;

        .iconfont {
            font-size: 2.35rem;
        }
    }
}

a.yellow {
    display: inline-block;
    position: relative;

    &::after {
        content: " ";
        display: block;
        height: 0;
        width: 100%;
        background-color: $color-primary;
        margin-top: -13px;
        transition: all .2s;
    }

    &:hover {
        color: $color-text-heading !important;

        &::after {
            height: rem(10);
        }
    }
}



.page-home {
    padding-bottom: 0;
    overflow: hidden;
    background-color: #fff;
    .s1 {
        padding-top: 2rem;
        text-align: center;
        padding-bottom: 2rem;
        margin-bottom: 1rem;

        h2.se-title {
            font-size: 3rem;
        }

        .s1-001 {
            padding-top: 3rem;
            padding-bottom: 3rem;

            .item {
                padding-top: 3rem;

                .icon {
                    margin-bottom: 2rem;
                }

                .title {
                    line-height: 1;

                    .num001 {
                        font-family: 'Roboto';
                        font-size: rem(66);
                        margin-right: .5rem;
                    }

                    small {
                        font-size: rem(34);
                    }
                }

                p {
                    color: $color-text-weak;
                }
            }
        }
    }



    .s2 {
        margin-bottom: 2rem;

        @include respond-above(md) {
            margin-bottom: 3rem;
        }

        @include respond-above(lg) {
            margin-bottom: 4rem;
        }

        .item {
            background: $color-primary url(../img/h_01_bg.jpg) no-repeat center center;
            background-size: cover;
            color: #fff;
            height: rem(500);

            .container {
                height: 100%;

                .row {
                    height: 100%;

                    h2 {
                        font-size: rem(40);
                        margin: 0;
                        line-height: 1;
                    }

                    p {
                        font-size: rem(18);
                        margin-bottom: 2rem;
                    }

                    .more {

                        background-color: rgb(255, 255, 255);
                        display: inline-block;
                        width: 125px;
                        height: 50px;
                        line-height: 50px;
                        border-radius: 25px;
                        text-align: center;
                        color: $color-secondary;

                    }
                }
            }

            &.t2 {
                background-image: url(../img/h_02_bg.jpg);
                text-align: right;
            }

            &.t3 {
                background-image: url(../img/h_03_bg.jpg);

            }
        }
    }

    .s4 {
        .item {
            text-align: center;
            position: relative;
            .pic{
                img{
                    display: block;
                    width: 100%;
                }
            }
            a {
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 100;
                top: 0;
                left: 0;
                color: #fff;

                .row {
                    height: 100%;
                }

                h3 {
                    font-size: rem(36);
                    margin: 0 0 2.5rem;
                }

                .more {
                    display: block;
                    margin: 0 auto;
                    overflow: hidden;
                    color: $color-primary;
                    background-color: rgb(255, 255, 255);
                    line-height: 50px;
                    border-radius: 25px;
                    width: 50px;
                    height: 50px;
                    transition: all .2s;
                    font-size: rem(18);

                    span {
                        display: none;
                    }

                    .iconfont {
                        font-size: rem(18);
                    }

                }

                @include hover {
                    .more {
                        width: 125px;

                        span {
                            display: inline-block;
                        }
                    }

                }
            }

        }
    }

    .s6 {
        background: $color-primary url(../img/map_03.jpg) no-repeat center center;
        background-size: cover;
        height: 1050px;
    }
    .s7{
        text-align: center;
        margin-bottom: 3rem;
        .navs{
            display: inline-block;
        }
        a{
            border-radius: 22px;
            background-color: rgb(238, 238, 238);
            display: inline-block;
            width: 44px;
            height: 44px;
            line-height: 44px;
            margin: 0 .3rem;
            color:$color-secondary;
            &.all{
                width: 120px;
            }
            &:hover{
                background-color: $color-primary;
                color: #fff;
            }
            &.active{
                background-color: $color-primary;
                color: #fff;
            }
          }
          
    }
}

