.slider{
    div.item{
        height: 100%;
      
        a{
           display: block; height: 100%;  
           background-repeat: no-repeat;
           background-position: center center;
           background-size: cover;
           display: none;
           &.forpc{
            @media only screen and (orientation: landscape) {
                display: block;
            }
           }
           &.formobile{
            @media only screen and (orientation: portrait) {
                display: block;
            }
           }
        }
    }
}
.bx-wrapper {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0;
}
.bx-wrapper  .bx-pager{
    text-align: right;
    margin-top: -4rem;
    position: relative;
    padding-top:0;
    .num{
        display: inline-block; line-height:12px; vertical-align:bottom;
        color: #fff;
        font-weight: lighter;
        margin-right: 5px;

    }
}
.bx-wrapper  .bx-controls-auto, .bx-wrapper .bx-pager{
    bottom:0;
}

.bx-wrapper  .bx-pager.bx-default-pager a {
    background: transparent url(../img/star.png) no-repeat center center; width: 14px;height: 14px;
}

.bx-wrapper  .bx-pager.bx-default-pager a.active,
.bx-wrapper  .bx-pager.bx-default-pager a:focus,
.bx-wrapper  .bx-pager.bx-default-pager a:hover {
    background: transparent url(../img/star_white.png) no-repeat center center;
}
