
.bx-wrapper {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}



.bx-wrapper .bx-pager.bx-default-pager a {
    background-color: #ccc;
}

.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus,
.bx-wrapper .bx-pager.bx-default-pager a:hover {
    background-color:$color-primary;
}
