
@import "../variables";

body {
    background-color: #fff;
}
/* _common.scss */
.page-item{
  a{
 
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
  }
  &.active{
    a{
      color: #fff;
      background-color: #007bff;
      border-color: #007bff;
    }
  }
}
.field-validation-error{
    color:#FF0000;
}

/* _breadcrumb.scss */
.toolbar {  
    background-color: #eeeeee;   
  }
  .toolbar a.showmenu {
    color: #555555;   
    background-color: #ddd;  
  }
  .toolbar a.showmenu:hover {
    background-color: #ccc;
    color: #333333;
  }
  .toolbar .breadcrumb {  
    background-color: transparent;
  }
  .toolbar .breadcrumb a {
    color: #555555;
  }
  
  .leftcol.bg-dark {
    background-color:#2f3337 !important;
    color: #9d9fa1;
}

/* _layout.scss */

.wrapper {
  background-color: #fff;
}

.leftcol {
  background-color: #fff;
  color: #666;
  .logo {     
      border-bottom: 1px lighten($color_dark_bg,8%) solid;   
  }
}

.rightcol {
  background-color: #f7f7f7;


  .page-header {
    box-shadow: 0 0 12px rgba(0,0,0,.15);
    background-color: #fff;
    .navbar-brand {
      .iconfont {       
          color: $color_text;
      }
  }
  }
}

// _nav.scss 

.mainmenu {
  padding-top: 1rem;
  &>li {
      &>a {      
          color: $color_dark_text;      
          i.fa-fw {            
              color: #9d9fa1;
          }
      

          &:hover {
              color: #fff;
          }
          &.active {
              background-color: #393d41;
              color: #fff;
          }
      }
      &.nav-open {
          &>a {
              color: #fff;
              i.fa-fw {
                  color: #fff;
              }
   
          }
      }
      ul.subnav {
       
          li {
              a {
            
                  color: #999;
        
                  &:hover {
                      color: #fff;
                  }
                  &.active {
                      color: #fff;
                      background-color: lighten($color_dark_bg, 5%);
                  }
              }
          }
      }
 
  }
}

.closemenu a {
 
  background-color: rgba(255, 255, 255, .1);
  color: $color_text;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
  &:hover {
      color: #fff;
  }
}

.closeSider {
  .mainmenu {
      &>li {
  
          ul.subnav {
          
              background-color: #fff;           
              box-shadow: 0 0 8px rgba(0, 0, 0, .15);        
              li {
                  border-bottom: 1px #eee solid;
                
                  a {
                  
                      &:hover {
                          color: $color_text;
                      }
                      &.active {
                          color: $color_title;
                          background-color: transparent;
                      }
                  }
              }
          }
         
      }
  }
}

// _tree.scss
.menuTree{
  li{   
    a{
      color:#ccc;font-size:14px;
      &:hover{
        color:$color_sub;
      }
    }
    ul{
      li{
        border-left:1px #ddd solid;
      }
    }
  }
}
