{% extends "shared/layout.html" %}
{% block title %} 
 {% if metadata.title %}
     {{metadata.title}}
 {% else %}
     {{resources['视频']}}
 {% endif %}

{% endblock %}
{% block head %}
    {{ parent() }}  
    <meta name="keywords" content="{{metadata.keywords}}">
    <meta name="description" content="{{metadata.description}}">

{% endblock %}
{% block content %}

{{ include('shared/_subMenus.html') }}

  <div class="page page-future">
    <section class="s1 container">
      <div class="videolist">
        <div class="row">
          {% for row in videos %}
          <div class="col-md-6 col-lg-4">
            <a class="item wow fadeInUp" href="/future/detail-{{row.id}}" data-video-src="{{row.file_url}}" data-title="{{row.title}}">
            <div class="pic"><img class="thumb" src="{{row.poster}}"><img class="btnplay" src="/assets/img/play.png" alt=""></div>
            <div class="title"> 
              <h3>{{row.title}}</h3>
            </div></a></div>
          {% endfor %}
        
        </div>
      </div>
      <footer class="news-footer wow fadeInUp">
        {% if paginator.numPages > 1 %}
        <ul class="pagination  text-center">
            {% if paginator.prevUrl %}
                <li class="page-item"><a class="page-link" href="{{ paginator.prevUrl }}">{{resources['上一页']}}</a></li>
            {% endif %}

            {% for page in paginator.pages %}
                {% if page.url %}
                    <li {{ page.isCurrent ? 'class="page-item active"' : 'page-item' }}><a class="page-link" href="{{ page.url }}">{{ page.num }}</a></li>
                {% else %}
                    <li class="page-item disabled"><span>{{ page.num }}</span></li>
                {% endif %}
            {% endfor %}

            {% if paginator.nextUrl %}
                <li class="page-item"><a class="page-link" href="{{ paginator.nextUrl }}">{{resources['下一页']}}</a></li>
            {% endif %}
        </ul>
    {% endif %}
        
      </footer>
    </section>
  </div>

  <div class="overly">
    <div class="video-container">
      <div class="video-header">
        <h4 class="video-title" id="video-title">视频播放</h4><a class="btnClose" href="javascript:void(0);"> <i class="iconfont icon-close"></i></a>
      </div>
      <div class="video_wrap" id="youkuplayer">
        <video id="playvideo" src="" controls></video>
      </div>
    </div>
  </div>
  
{% endblock %}

{% block footer %}
    <script>         
      $(function () {
          $('.videolist .item').click(function(e){
            e.preventDefault();
            var videoSrc=$(this).attr('data-video-src');
            var title=$(this).attr('data-title');
            $('.overly').fadeIn(200);
              $('#playvideo').attr('src',videoSrc);
              $('#playvideo')[0].play();
    
              $('#video-title').text(title);
            //- $("#videoshow").text(title);
            //-     var player = new YKU.Player('youkuplayer',{
            //-     styleid: '0',
            //-     client_id: '6c97f129b630ded7',
            //-     vid: videoSrc,
            //-     newPlayer: true
            //- });
    
    
        });
        $('.btnClose').click(function(){
            $('.overly').fadeOut(100);
            $('#playvideo')[0].pause()
        });
      });
    </script>
{% endblock %}