{% extends "shared/layout.html" %}
{% block title %} 
 {% if metadata.title %}
     {{metadata.title}}
 {% else %}
    {{resources['科普']}}
 {% endif %}

{% endblock %}
{% block head %}
    {{ parent() }}  
    <meta name="keywords" content="{{metadata.keywords}}">
    <meta name="description" content="{{metadata.description}}">

{% endblock %}
{% block content %}

{{ include('shared/_subMenus.html') }}

  <div class="page page-science container">     
    <div class="articlelist">
      {% for row in articles %}
      <div class="box">
        <div class="row align-items-center">
          <div class="col-md-auto">
            <a class="item wow fadeInUp" href="{{lang=='zh-CN'?'':'/'~lang}}/future/science/detail-{{row.id}}">                           
            <img class="thumb" src="/img.php?src={{row.thumbnail}}&amp;w=720&amp;h=480&amp;crop-to-fit"></a>
          </div>
          <div class="col-md">
            <a class="title wow fadeInUp" href="{{lang=='zh-CN'?'':'/'~lang}}/future/science/detail-{{row.id}}">
              <h3>{{row.title}}</h3>
              <p>{{resources['作者']}}{{row.author}}</p></a></div>
        </div>
      </div>
      {% endfor %}
  
    </div>
    <footer class="news-footer wow fadeInUp">
      {% if paginator.numPages > 1 %}
      <ul class="pagination  text-center">
          {% if paginator.prevUrl %}
              <li class="page-item"><a class="page-link" href="{{ paginator.prevUrl }}">{{resources['上一页']}}</a></li>
          {% endif %}

          {% for page in paginator.pages %}
              {% if page.url %}
                  <li {{ page.isCurrent ? 'class="page-item active"' : 'page-item' }}><a class="page-link" href="{{ page.url }}">{{ page.num }}</a></li>
              {% else %}
                  <li class="page-item disabled"><span>{{ page.num }}</span></li>
              {% endif %}
          {% endfor %}

          {% if paginator.nextUrl %}
              <li class="page-item"><a class="page-link" href="{{ paginator.nextUrl }}">{{resources['下一页']}}</a></li>
          {% endif %}
      </ul>
  {% endif %}
      
    </footer>
  </div>
  
{% endblock %}

{% block footer %}
    <script>         
      $(function () {
      
      });
    </script>
{% endblock %}