{% extends "shared/layout.html" %}
{% block title %} 
 {% if metadata.title %}
     {{metadata.title}}
 {% else %}
    {{page.title}}
 {% endif %}

{% endblock %}
{% block head %}
    {{ parent() }}  
    <meta name="keywords" content="{{metadata.keywords}}">
    <meta name="description" content="{{metadata.description}}">

{% endblock %}
{% block content %}

{{ include('shared/_subMenus.html') }}

  <!-- {{page.content|raw }}  -->
  <div class="page page-tutor">
    <section class="s1 container">
      <nav class="categories wow fadeInUp">
        {% for row in researches %}
          <a class="{{research.id == row.id ? 'active':""}}" href="{{lang=='zh-CN'?'':'/'~lang}}/education/tutor-{{row.id}}">{{row.title_short}}</a>
        {% endfor %}    
      
      </nav>
      <select class="slcategories wow fadeInUp">
        {% for row in researches %}
          {% if research.id == row.id %}
          <option value="{{row.id}}" selected>{{row.title_short}}</option>
          {% else %}
          <option value="{{row.id}}">{{row.title_short}}</option>
          {% endif %}      
        
        {% endfor %}     
      
      </select>
    </section>
    <section class="s2 container">
      <div class="des" style="background-image: url({{research.image_url}});">
        <div class="row align-items-center no-gutters">
          <div class="col-md-auto">
            <div class="icon"><img src="{{research.icon}}" alt=""></div>
          </div>
          <div class="col-md">
            <div class="txt">
              <h3 class="title">{{research.title}}</h3>
              <p>{{research.summary}}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="s3">
      <div class="container">
        <div class="title-section">
          <h3 class="text-center">{{resources['导师介绍']}}</h3>
        </div>
        <div class="row">
          {% for row in teachers %}     

          <div class="col-md-6">
            <div class="item">
              <div class="row align-items-center">
                <div class="col-auto">
                  <div class="pic">
                    <a href="{{lang=='zh-CN'?'':'/'~lang}}/team/detail-{{row.id}}">
                      <img src="/img.php?src={{row.photo}}&amp;w=500&amp;h=500&amp;crop-to-fit" alt="">
                    </a>
                  </div>
                </div>
                <div class="col">
                  <div class="txt">
                    <div class="name">{{row.name}}</div>
                    <p>{{row.interests}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}


     
        </div>
      </div>
    </section>
  </div>
  
{% endblock %}

{% block footer %}
    <script>         
      $(function () {
      
      });
    </script>
{% endblock %}