<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="welfare">
        <h3 class="title">
            联系方式
        </h3>
        <hr>
        <dl>
            <dt>简历投递
            </dt>
            <dd>请有意者将个人简历以电子邮件方式发送至hr@suntar.com，主题请注明应聘岗位，简历以附件上传。
            </dd>
            <dt>招聘热线
            </dt>
            <dd>18030078191 0592-6778170 陈小姐</dd>
        </dl>

        <h3 class="title">
            员工福利
        </h3>
        <hr>
        <p>公司将为每一位三达人提供丰厚的福利，心动的话就投简历来吧~</p>
        <dl>
            <dt>刚性福利

            </dt>
            <dd>五险+商业险、住房公积金、带薪年假、通讯补贴、双休、免费通勤车

            </dd>
            <dt>柔性福利

            </dt>
            <dd>补贴式工作餐、婚育等礼金、婚育丧假期、考试假、提升培训、全勤奖
            </dd>
            <dt>特别福利
            </dt>
            <dd>年度体检、年度旅游、中秋博饼、“三八”妇女节活动、绩效奖金、年终表彰会、每周1小时运动时间、健身房/篮球场/网球场/图书室</dd>
        </dl>
    </div>
</body>
</html>