<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    ---------------------------产品 详情模板--------------------------------------------------------
    <div class="title-se-art wow fadeInUp">
            <h3>
            产品简介
            </h3>
        </div>
        <div class="se wow fadeInUp">
            <p>漳 州纳 滤科技有限公司的陶瓷膜产品是通过完整地引进德国ltN   Nanovation   AG 的生产工艺， 生产与德国同等质量的产品 。产品具有高通量、高强度、抗污能力强等特点。业务范围涵盖陶瓷膜及组件的研发、设计、生产、销售及售后服务。目前，陶瓷膜产品已经广泛应用千环保、食品、化工、生物工程等众多领域。 </p>
            <img src="/assets/img/temp/p02.jpg" alt="">
        </div>
        <div class="title-se-art wow fadeInUp">
            <h3>
                技术特点
            </h3>
        </div>
        <div class="se wow fadeInUp">
            <div class="row">
                <div class="col-md">
                    <div class="card">
                        <div class="card-header">
                        防团聚
                        </div>
                        <div class="card-body">
                        纳米分散技术给材料提供了全新的、原先所未知的特性，在生产过程中成功地防止了纳米颗粒的团聚。
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card">
                        <div class="card-header">
                        虐强亲水性
                        </div>
                        <div class="card-body">
                        在材料中添加均匀分布的、具有亲水性的纳 米 T i 02 颗粒 ， 大大提高了陶瓷膜的通量。
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="box">
                        <p>通过这种技术，纳米粉末才能充分发挥其作用:</p>
                        <div class="text-center">
                        <img src="/assets/img/temp/p03.jpg" alt="">
                        </div>
                        
                    </div>
                </div>
                <div class="col-md">
                    <div class="box">
                        <p>纳米颗粒的团聚会影响纳米粉末的性能：</p>
                        <div class="text-center">
                        <img src="/assets/img/temp/p04.jpg" alt="">
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                <div class="box">
                   <div class="row">
                       <div class="col-auto">
                       <img src="/assets/img/temp/p05.jpg" alt="">
                       </div>
                       <div class="col">
                           <p>纳米分散技术赋予陶瓷膜均一的过滤孔径与均匀的连接强度，使陶瓷膜具备高精度过滤、高抗污染、高耐磨的特性</p>
                       
                       </div>
                   </div>
                   </div>
                </div>
                <div class="col-md">
                <div class="box">
                <div class="row">
                       <div class="col-auto">
                       <img src="/assets/img/temp/p06.jpg" alt="">
                       </div>
                       <div class="col">
                           <p>纳米分散技术使烧结后的陶瓷膜同时具备高孔隙率与高的连接强度，耐磨性能与使用寿命大大提高</p>
                       
                       </div>
                   </div>
                   </div>
                </div>
            </div>
        </div>
        <div class="title-se-art wow fadeInUp">
            <h3>
            产品参数
            </h3>
        </div>
        <div class="se wow fadeInUp">
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">支撑体</th>
                        <th></th>                         
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>支撑体材质</td>
                        <td>a-A2l 0 3</td>
                  
                    </tr>
                    <tr>
                        <td>适用PH范围</td>
                        <td>0-14</td>
                     
                    </tr>
                    <tr>
                        <td>破坏压力</td>
                        <td>25mm ;:,::4Mpa<br/>破坏压力	30mm 之6Mpa<br/>40mm <!:8Mpa</td>
                   
                    </tr>
                    <tr>
                        <td>有机溶剂</td>
                        <td>不敏感</td>
                   
                    </tr>
                    <tr>
                        <td>揆作温度</td>
                        <td>< 3so· c</td>
                   
                    </tr>
                    <tr>
                        <td>操作压力</td>
                        <td>S1Mpa</td>                       
                    </tr>
                 
                </tbody>
            </table>
            </div>
            <p>可量身定做满足特殊设计需求</p>
        </div>

        <div class="title-se-art wow fadeInUp">
            <h3>
                产品规格
            </h3>
        </div>
        <div class="se wow fadeInUp">
            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">支撑体</th>
                            <th></th>                         
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>支撑体材质</td>
                            <td>a-A2l 0 3</td>
                    
                        </tr>
                        <tr>
                            <td>适用PH范围</td>
                            <td>0-14</td>
                        
                        </tr>
                        <tr>
                            <td>破坏压力</td>
                            <td>25mm ;:,::4Mpa<br/>破坏压力	30mm 之6Mpa<br/>40mm <!:8Mpa</td>
                    
                        </tr>
                    
                    
                    </tbody>
                </table>
            </div>
        <p>表格中的产品长度为常规 尺寸， 若有其它需求， 可以定制小于1200mm的 尺寸。</p>
        </div>



        <div class="title-se-art wow fadeInUp">
            <h3>
            产品设备
            </h3>
        </div>
        <div class="se wow fadeInUp">
            <div class="row">
                <div class="col-md-6">
                    <div class="case">
                        <img src="/assets/img/temp/app_03.jpg" alt="造纸行业亚海水淡化项目">
                        <p>超滤膜设备</p>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="case">
                        <img src="/assets/img/temp/app_04.jpg" alt="造纸行业亚海水淡化项目">
                        <p>反渗透膜设备</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="case">
                        <img src="/assets/img/temp/app_03.jpg" alt="造纸行业亚海水淡化项目">
                        <p>造纸行业亚海水淡化项目</p>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="case">
                        <img src="/assets/img/temp/app_04.jpg" alt="造纸行业亚海水淡化项目">
                        <p>造纸行业亚海水淡化项目</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="title-se-art wow fadeInUp">
            <h3>
            应用领域
            </h3>
        </div>
        <div class="se wow fadeInUp">
            <div class="app">
            <div class="row no-gutters align-items-center">
                <div class="col-md-6">                     
                        <img src="/assets/img/temp/p07.jpg" alt="生物、医药行业">   
                </div>
                <div class="col-md-6">
                    <div class="txt">
                       <h4 class="title">
                       生物、医药行业
                       </h4>
                       <ul>
                           <li>中药有效成分的提取和纯化</li>
                           <li>口服液澄清过滤</li>
                           <li>生物制品的纯化及精制</li>
                           <li>空气除菌、除尘</li>
                           <li>脱色活性炭的过滤分离等</li>
                       </ul>
                    </div>
                </div>
                
            </div>
            </div>

            <div class="app">
            <div class="row no-gutters align-items-center">
                <div class="col-md-6">                     
                        <img src="/assets/img/temp/p08.jpg" alt="其他领域">   
                </div>
                <div class="col-md-6">
                    <div class="txt">
                       <h4 class="title">
                       其他领域
                       </h4>
                       <div class="row">
                           <div class="col">
                           <ul class="twocol">
                           <li>高温气体除尘</li>
                           <li>天然色素生产</li>
                           <li>盐水精制</li>
                           <li>无机膜催化反应器</li>
                           <li>纳米材料浓缩纯化</li>
                                 
                       </ul>
                           </div>
                           <div class="col">
                           <ul class="twocol">                       
                           <li>稀有金属富集</li>
                           <li>新材料分离制备</li>                
                       </ul>
                               </div>
                       </div>
                      
                    </div>
                </div>
                
            </div>
            </div>


        </div>

        <div class="title-se-art wow fadeInUp">
            <h3>
                主要客户
            </h3>
        </div>
        <div class="se wow fadeInUp">
            <div class="clients">
                <div class="row">
                    <div class="col-6 col-md-4 col-lg-2">
                        <div class="item">
                            <img src="/assets/img/temp/p09.jpg" alt="">
                            <p>韩国希杰</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-2">
                        <div class="item">
                            <img src="/assets/img/temp/p09.jpg" alt="">
                            <p>韩国希杰</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-2">
                        <div class="item">
                            <img src="/assets/img/temp/p09.jpg" alt="">
                            <p>韩国希杰</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-2">
                        <div class="item">
                            <img src="/assets/img/temp/p09.jpg" alt="">
                            <p>韩国希杰</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-2">
                        <div class="item">
                            <img src="/assets/img/temp/p09.jpg" alt="">
                            <p>韩国希杰</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-2">
                        <div class="item">
                            <img src="/assets/img/temp/p09.jpg" alt="">
                            <p>韩国希杰</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-2">
                        <div class="item">
                            <img src="/assets/img/temp/p09.jpg" alt="">
                            <p>韩国希杰</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-2">
                        <div class="item">
                            <img src="/assets/img/temp/p09.jpg" alt="">
                            <p>韩国希杰</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-2">
                        <div class="item">
                            <img src="/assets/img/temp/p09.jpg" alt="">
                            <p>韩国希杰</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>